{% extends 'base.html.twig' %}

{% block body %}

    <div class="row highlight">
        <div class="col-12">
            <h2 class="">
                {{ "Moderation"|trans }} <small>{{ songs.count }}</small>
            </h2>
        </div>
        <div id="search-bar" class="col-12">
            <form class=" search-and-filter">
                <div class="row">
                    <div class="col-md-4 form-group active">
                        <label for="search">{{ "Search"|trans }}</label>
                        <input type="text" value="{{ app.request.get('search') }}" class="form-control form-control-sm"
                               placeholder="{{ "Search by title, artist or mapper"|trans }}" name="search" id="search">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="downloads-filter-category">{{ "Difficulties"|trans }}</label>
                        <select id="downloads-filter-category" name="downloads_filter_difficulties"
                                class="form-control form-control-sm">
                            <option value="">{{ "All"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "1-3"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "4-7"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 3 %}selected="selected"{% endif %}
                                    value="3">{{ "8-10"|trans }}</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group ">
                        <label for="downloads-filter-converted">{{ "Converted map"|trans }}</label>
                        <select id="downloads-filter-converted" name="converted_maps" class="form-control form-control-sm">
                            <option value="">{{ "With"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "Without"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "Only converted"|trans }}</option>
                        </select>

                    </div>
                    <div class="col-md-2 form-group ">
                        <label for="downloads-filter-order">{{ "Order by"|trans }}</label>
                        <select id="downloads-filter-order" name="downloads_filter_order" class="form-control form-control-sm">
                            <option value="">{{ "Last added"|trans }}</option>
                            <option value="3">{{ "Last updated"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "Vote"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "Duration"|trans }}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-sm btn-primary">{{ "Filter songs"|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <table class="table songs" >
                <tr class="table-header">
                    <th class="table-header-column">
                        {{ "Song"|trans }}
                    </th>
                    <th class="table-header-column padded">
                        {{ "Note/sec"|trans }}
                    </th>
                    <th class="table-header-column padded">
                        {{ "LastUpdate"|trans }}
                    </th>
                    <th class="table-header-column padded">
                        {{ "Duration"|trans }}
                    </th>
                    <th class="table-header-column padded">
                        {{ "BPM"|trans }}
                    </th>
                    <th class="table-header-column padded">
                        {{ "Votes"|trans }}
                    </th>
                    <th class="table-header-column padded-left"></th>
                </tr>

                {% include 'admin/song/moderation_song_row.html.twig' with {songs:songs} %}
            </table>
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

