{% extends 'base.html.twig' %}

{% block title %}Mappers {{ parent() }}{% endblock %}
   {% block metas %}
       <meta name="description" content="Mappers">
       <meta property="og:url" content="https://ragnacustoms.com"/>
       <meta property="og:type" content="website"/>
       <meta property="og:title" content="Mappers | Ragnacustoms"/>
       <meta property="og:description" content="Mappers"/>
       <meta property="og:image" content="https://ragnacustoms.com/apps/logo.webp?noel"/>
   {% endblock %}

{% block body %}
    <div {{ stimulus_controller('mappers') }} class="container" id="mappers">
        <div class="row mt-5">
            <div class="col-12">
{#                <a href="{{ url("song_request_index") }}"#}
{#                   class="btn btn-warning btn-lg float-right ml-2">{{ "Open song requests"|trans }}</a>#}
                <a href="https://discord.gg/2vCAAGuwsR" target="_blank"
                   class="btn btn-warning btn-bg-empty btn-lg float-right">{{ "Learn how to map"|trans }} <i class="fab fa-discord"></i></a>
                <h1>{{ "Mappers"|trans }}</h1>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>{{ "User"|trans }}</th>
                        <th class="">{{ "Follows"|trans }}</th>
                        <th class="">{{ "Maps"|trans }}</th>
                        <th class="">{{ "Votes"|trans }}</th>
                        <th class="">{{ "Avg. Rating"|trans }}</th>
                        <th class="">{{ "Prefered genre"|trans }}</th>
                        {#                    <th class="text-right">{{ "Songs played"|trans }}</th> #}
                    </tr>
                    {% for mapper in mappers.entities %}
                        <tr>
                            <td id="follow_{{ mapper.id }}">
                               {% include 'follower/partial/buttons.html.twig' with {mapper:mapper} %}
                            </td>

                            <td>
                                <a href="{{ url("mapper_profile",{username:mapper.username}) }}">{{ mapper.username }}</a>
                            </td>
                            <td>
                                {{ mapper.followers|length }}
                            </td>
                            <td class="">{{ mapper.songsAvailable|length }}</td>
                            <td class="">
                                <div class="song-votes" style="font-size:14px;">
                                    <i class="fas fa-arrow-up text-success"></i> {{ mapperService.totalUpperVotes(mapper) }}
                                    <i class="fas fa-arrow-down text-danger"></i> {{ mapperService.totalLowerVotes(mapper) }}
                                </div>
                            </td>
                            <td class="">{{ mapper.avgRating }}</td>
                            <td class="light-grey small">{{ mapper.preferedGenre(3) }}</td>
                            {#                        <td class="text-right">{{ mapper.songAverage }}</td> #}
                        </tr>
                    {% endfor %}
                </table>
                {% include 'widget/paginate.html.twig' with {pagination:mappers} %}

            </div>
        </div>
    </div>
{% endblock %}
 {% block metas %}
     {#     <meta name="description" value="{{ playlist.description}}"> #}
     {#     <meta property="og:description" value="{{ playlist.description}}"> #}
     {#     <meta property="og:url" content="{{ url('playlist_show',{id:playlist.id}) }}"/> #}
     <meta property="og:type" content="website"/>
     <meta property="og:title" content="Mappers on RagnaCustoms.com"/>
 {% endblock %}
{% block title %}
    {{ "Mappers using RagnaCustoms"|trans }}
{% endblock %}

