{% extends 'base.html.twig' %}

{% block title %}{{ "Be a virtual Viking!"|trans }}{% endblock %}


{% block body %}
    <div class="container-fluid" id="login-page">
        <div class="row">
            <div class="col-lg-6 background-login"></div>
            <div class="col-lg-3 text-center login pl-5">
                <h1 class="mt-5">{{ "Sign Into"|trans }}</h1>
                <img src="{{ asset('apps/RC.png') }}" alt="Ragnacustoms.com"/>
                <div class="widget-box text-left">
                    <form method="post" class="form">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }},
                                <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="inputUsername">{{ "Username"|trans }}</label>
                            <input type="text" class="form-control" value="{{ last_username }}" name="_username"
                                   id="inputUsername" required autofocus>
                        </div>


                        <div class="form-group">
                            <label for="inputPassword">{{ "Password"|trans }}</label>
                            <input class="form-control" type="password" name="_password" id="inputPassword" required>
                        </div>
                        <div class="row pb-2">
                            <div class="col-6">
                                <div class="checkbox">
                                    <input type="checkbox" name="_remember_me" id="login-remember" checked>
                                    <label for="login-remember">{{ "Remember Me"|trans }}</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <a class="forgot-password float-right" href="{{ url("app_forgot_password_request") }}">
                                    {{ "Forgot Password"|trans }}
                                </a>
                            </div>
                        </div>
                        <button class="btn btn-info btn-big btn-block">{{ "Sign in"|trans }}</button>
                        <a data-no-swup="true" class="btn btn-warning btn-big  btn-block btn-bg-empty" href="{{ url('app_register') }}">
                            {{ "Register"|trans }}
                        </a>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
