{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Bloc de contenu</h1>
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form_cms_block') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form_cms_block') }}
{% endblock %}

