{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <h1>Register</h1>
            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.username,{"attr":{"class":"form-control form-control-sm"}}) }}

            {{ form_row(registrationForm.email,{"attr":{"class":"form-control form-control-sm"}}) }}

            {{ form_row(registrationForm.plainPassword, {"attr":{"class":"form-control form-control-sm"},
                label: 'Password'
            }) }}
            <small style="color:#3f485f">Registration confirmation will be emailed to you.</small>
            <button type="submit" class="btn-sm btn btn-secondary">{{ "Register"|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
