{% extends 'base.html.twig' %}

{% block title %}RagnaCustoms.com, Custom song library{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div {{ stimulus_controller('notifications') }} class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-2">
                {% include 'user/partial/_left_part_user.html.twig' %}
            </div>
            <div class="col-md-10 text-left">

        {{ form_start(form) }}
        <div id="song-list" class="row">
            <div class="col-12"><h2 class="">
                {{ "Emails & Notifications"|trans }}
                </h2>
                <small>
                    <i class="fas fa-gavel text-warning"></i>
                    {{ "Email preferences are only sent to premium members"|trans }}
                </small>
            </div>

            <div class="col-md-6">
                {{ form_row(form.emailPreference) }}
                <button type="submit" class="btn btn-sm btn-info"><i class="fas fa-floppy-disk"></i> save</button>
            </div>

            <div class="col-md-6">
                {{ form_row(form.notificationPreference) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
