<b>{{ song.name }}</b> <span class="light">by {{ song.authorName }}</span>
<div class="text-danger">{{ message }}</div>
<div class="form pb-4">
    {% import "songs/macros/vote.html.twig" as macro_vote %}
    {{ macro_vote.ratingDisplay("Fun factor"|trans,song.funFactorAverage) }}
    {{ macro_vote.ratingDisplay("Rhythm"|trans,song.rhythmAverage) }}
    {{ macro_vote.ratingDisplay("Flow"|trans,song.flowAverage) }}
    {{ macro_vote.ratingDisplay("Pattern quality"|trans,song.patternQualityAverage) }}
    {{ macro_vote.ratingDisplay("Readability"|trans,song.readabilityAverage) }}
    {{ macro_vote.ratingDisplay("Level quality"|trans,song.levelQualityAverage) }}
</div>
