<div class="up_down_vote" id="up_down_vote_{{ song.id }}">
    {% set voteCounter = song.isVoteCounterBy(app.user) %}
    {% set upvotePosible = voteService.canUpDownVote(song, app.user) %}
    {% if not is_granted('ROLE_USER') or not song.isAvailable or not upvotePosible %}

        <i style="color:grey;opacity:0.5" class="fas fa-arrow-up" {% if not upvotePosible %}data-toggle="tooltip" title="Play the song first"{% endif %}></i>
        {{ song.voteUp }}
{#        <span>&nbsp;</span>#}
        <i style="color:grey;opacity:0.5" class="fas fa-arrow-down" {% if not upvotePosible %}data-toggle="tooltip" title="Play the song first"{% endif %}></i>
        {{ song.voteDown }}

    {% else %}
    <div><a style="text-decoration:none"
           data-toggle="tooltip"
                {% set isPositive = false %}
                {% if voteCounter is not null and voteCounter.votesIndc == true %}
                    {% set isPositive = true %}
                    title="{{ "Remove my upvote for this song"|trans }}"
                {% else %}
                    title="{{ "Upvote this song"|trans }}"
                {% endif %}
           class="ajax-link"
           data-success-action="replace"
           data-replace-selector="#up_down_vote_{{ song.id }}"
           href="#"
           data-url="{{ path('song_vote_upvote',{id:song.id}) }}"
        >
            <i class="{{ isPositive ? "text-success":"text-grey" }} fas fa-arrow-up"></i>
            {{ song.voteUp }}
        </a></div>
<div>
        <a style="text-decoration:none"
           data-toggle="tooltip"
           class="ajax-link"
           data-success-action="replace"
           data-replace-selector="#up_down_vote_{{ song.id }}"
                {% set isNegative = false %}
                {% if voteCounter is not null and voteCounter.votesIndc is not null and voteCounter.votesIndc == false %}
                    {% set isNegative = true %}
                    title="{{ "Remove my downvote for this song"|trans }}"
                {% else %}
                    title="{{ "Downvote this song"|trans }}"
                {% endif %}
           href="#"
           data-url="{{ path('song_vote_downvote',{id:song.id}) }}"
        >
            <i class="{{ isNegative ? "text-danger":"text-grey" }} fas fa-arrow-down"></i>
            {{ song.voteDown }}
        </a>
</div>
    {% endif %}
</div>
