<b>{{ song.name }}</b> <span class="light">by {{ song.authorName }}</span>
<form data-url="{{ url("form_review_save",{id:song.id}) }}" class="form ajax-form pt-4">
    <div class="rating-wrap d-flex">
        <label class="mb-0">{{ "Global review"|trans }} : <br/><small>{{ "For lazy people"|trans }}</small></label>
        {% set rating = song.voteAverage|round(0) %}
        <div id='review-global' class="rating-list text-info d-flex form-rating" >
            {% for i in 0..4 %}
                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">
                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>
                </div>
            {% endfor %}
        </div>
    </div>
<hr class="mt-1 mb-1"/>
    <div class="rating-wrap d-flex">
        <label>Fun Factor:</label>
        {% set rating = vote.funFactor %}
        <input type="hidden"  class="verify-voted" value="{{ rating }}" name="funFactor"/>
        <div class="rating-list text-warning d-flex form-rating" data-input-selector="funFactor">
            {% for i in 0..4 %}
                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">
                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="rating-wrap d-flex">
        <label>Rhythm:</label>

        {% set rating = vote.rhythm %}
        <input type="hidden"  class="verify-voted" value="{{ rating }}" name="rhythm"/>
        <div class="rating-list text-warning d-flex form-rating" data-input-selector="rhythm">
            {% for i in 0..4 %}
                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">
                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>
                </div>
            {% endfor %}
        </div>

    </div>


    <div class="rating-wrap d-flex">
        <label>Flow:</label>

        {% set rating = vote.flow %}
        <input type="hidden"  class="verify-voted" value="{{ rating }}" name="flow"/>
        <div class="rating-list text-warning d-flex form-rating" data-input-selector="flow">
            {% for i in 0..4 %}
                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">
                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>
                </div>
            {% endfor %}
        </div>

    </div>


    <div class="rating-wrap d-flex">
        <label>Pattern quality:</label>

        {% set rating = vote.patternQuality %}
        <input type="hidden" value="{{ rating }}" class="verify-voted" name="patternQuality"/>
        <div class="rating-list text-warning d-flex form-rating" data-input-selector="patternQuality">
            {% for i in 0..4 %}
                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">
                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>
                </div>
            {% endfor %}
        </div>

    </div>


    <div class="rating-wrap d-flex">
        <label>Readability:</label>

        {% set rating = vote.readability %}
        <input type="hidden" value="{{ rating }}"  class="verify-voted" name="readability"/>
        <div class="rating-list text-warning d-flex form-rating" data-input-selector="readability">
            {% for i in 0..4 %}
                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">
                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="rating-wrap d-flex">
        <label>Level quality:</label>
        {% set rating = vote.levelQuality %}
        <input type="hidden" value="{{ rating }}" class="verify-voted"  name="levelQuality"/>
        <div class="rating-list text-warning align-content-around  d-flex form-rating"
             data-input-selector="levelQuality">
            {% for i in 0..4 %}
                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">
                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>
                </div>
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-sm btn-primary">Save Review!</button>


</form>