{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ "%song_name% by %artist%"|trans|replace({"%song_name%": song.name,"%artist%": song.authorName}) }}
{{ form_start(form) }}
{{ form_row(form.playlist) }}
{{ form_row(form.newPlaylist) }}

<button type="submit" class="btn btn-sm btn-primary">{{"Save to playlist!"|trans}}</button>
{{ form_end(form) }}