{{ "%song_name% by %artist%"|trans|replace({"%song_name%": song.name,"%artist%": song.authorName}) }}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form(form) }}


{#    <button type="submit" class="btn btn-sm btn-primary">{{"Save Review!"|trans}}</button>#}


{#<form data-url="{{ url("form_review_save",{id:song.id}) }}" class="form ajax-form pt-4">#}
{#    <div class="rating-wrap d-flex">#}
{#        <label class="mb-0">{{ "Global review"|trans }} : <br/><small>{{ "For lazy people"|trans }}</small></label>#}
{#        {% set rating = song.voteAverage|round(0) %}#}
{#        <div id='review-global' class="rating-list text-info d-flex form-rating" >#}
{#            {% for i in 0..4 %}#}
{#                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">#}
{#                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#<hr class="mt-1 mb-1"/>#}
{#    <div class="rating-wrap d-flex">#}
{#        <label>{{ "Fun factor:"|trans }}</label>#}
{#        {% set rating = vote.funFactor %}#}
{#        <input type="hidden"  class="verify-voted" value="{{ rating }}" name="funFactor"/>#}
{#        <div class="rating-list text-warning d-flex form-rating" data-input-selector="funFactor">#}
{#            {% for i in 0..4 %}#}
{#                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">#}
{#                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}


{#    <div class="rating-wrap d-flex">#}
{#        <label>{{ "Rhythm:"|trans }}</label>#}

{#        {% set rating = vote.rhythm %}#}
{#        <input type="hidden"  class="verify-voted" value="{{ rating }}" name="rhythm"/>#}
{#        <div class="rating-list text-warning d-flex form-rating" data-input-selector="rhythm">#}
{#            {% for i in 0..4 %}#}
{#                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">#}
{#                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

{#    </div>#}


{#    <div class="rating-wrap d-flex">#}
{#        <label>{{ "Flow:"|trans }}</label>#}

{#        {% set rating = vote.flow %}#}
{#        <input type="hidden"  class="verify-voted" value="{{ rating }}" name="flow"/>#}
{#        <div class="rating-list text-warning d-flex form-rating" data-input-selector="flow">#}
{#            {% for i in 0..4 %}#}
{#                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">#}
{#                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

{#    </div>#}


{#    <div class="rating-wrap d-flex">#}
{#        <label>{{ "Pattern quality:"|trans }}</label>#}

{#        {% set rating = vote.patternQuality %}#}
{#        <input type="hidden" value="{{ rating }}" class="verify-voted" name="patternQuality"/>#}
{#        <div class="rating-list text-warning d-flex form-rating" data-input-selector="patternQuality">#}
{#            {% for i in 0..4 %}#}
{#                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">#}
{#                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

{#    </div>#}


{#    <div class="rating-wrap d-flex">#}
{#        <label>{{ "Readability:"|trans }}</label>#}

{#        {% set rating = vote.readability %}#}
{#        <input type="hidden" value="{{ rating }}"  class="verify-voted" name="readability"/>#}
{#        <div class="rating-list text-warning d-flex form-rating" data-input-selector="readability">#}
{#            {% for i in 0..4 %}#}
{#                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">#}
{#                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

{#    <div class="rating-wrap d-flex">#}
{#        <label>{{ "Level quality:"|trans }}</label>#}
{#        {% set rating = vote.levelQuality %}#}
{#        <input type="hidden" value="{{ rating }}" class="verify-voted"  name="levelQuality"/>#}
{#        <div class="rating-list text-warning align-content-around  d-flex form-rating"#}
{#             data-input-selector="levelQuality">#}
{#            {% for i in 0..4 %}#}
{#                <div data-id="{{ i }}" class="rating medium {% if rating > i %}filled{% endif %}">#}
{#                    <i class="{% if rating > i %}fas{% else %}far{% endif %} fa-star"></i>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}



{#</form>#}