{% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
<div class="row">
    <div class="col-12">
        {% if is_granted('ROLE_USER') %}
            <span class="text-danger">{{ "Your position: #%position%"|trans|replace({"%position%":scoreService.leaderboardPosition(app.user,level['difficulty'])}) }}</span>
{% endif %}
        <table class="table table-sm">
            <tr>
                <th class="text-right">#</th>
                <th>{{ "player"|trans }}</th>
                <th class="text-right">{{ "distance"|trans }}</th>
                <th class="text-right">{{ "PP"|trans }}</th>
                <th class="text-right">{{ "Perfects (%)" }}</th>
                <th class="text-right">{{ "Time Set" }}</th>
                <th class="text-right">{{ "More Stats" }}</th>
            </tr>
            {% set imin = false %}
            {% for score in level['scores'].entities %}

                <tr {% if is_granted('ROLE_USER') and score.user.id == app.user.id %}class="text-warning"{% endif %}>
                    <td class="text-right">{{ loop.index+(50*(level['scores'].current-1)) }}.</td>
                    <td>{{ score.user.username }}</td>
                    <td class="text-right">{{ score.scoreDisplay }}</td>
                    <td class="text-right">{{ score.rawPP }}</td>
                    <td class="text-right">{{ score.percentageOfPerfects }}</td>
                    <td class="text-right">{{ score.timeAgoShort() }}</td>
                    <td class="text-right">
                    <div class="tooltip"><i class="fa-solid fa-chart-line"></i>
                          <span class="tooltiptext">
                                <table class="tooltiptable">
                                    <tr>
                                        <th>
                                            Combos
                                        </th>
                                        <th>
                                            Hit %
                                        </th>
                                        <th>
                                            Missed
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><font color="#4b9ce2">{{ score.comboBlue }}</font> | <font color="#ffc107">{{ score.comboYellow }}</font></td>
                                        <td>
                                            {{ score.hitPercentage }}
                                        </td>
                                        <td>
                                            {{ score.missed }}
                                        </td>
                                    </tr>
                                </table>
                          </span>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ "no score for now"|trans }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>