{% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
{% import "songs/macros/song.html.twig" as macro_song %}
{% for score in level[type].entities %}

    <tr {% if is_granted('ROLE_USER') and score.user.id == app.user.id %}class="text-warning"{% endif %}>
        <td class="text-left">{{ scoreService.leaderboardPositionWithOrdinalSuffix(score.user, score.songDifficulty, '-', type == 'scores') }}</td>
        <td>{{ score.user.username }}</td>
        <td class="text-right">{{ score.scoreDisplay }}</td>
        <td class="text-right">{{ score.rawPP|round(3) }}</td>
        <td class="text-right">{{ score.percentageOfPerfects }}%</td>
        <td class="text-right">{{ score.timeAgoShort() }}</td>
        <td class="text-right">
            {{ macro_song.statsZipped(score) }}
        </td>
        <td>
            {% if (is_granted('ROLE_USER') and app.user == score.user) or is_granted('ROLE_MODERATOR') %}
                <small><i data-toggle="modal" data-target="#ScatterView"
                          class="fas fa-magnifying-glass scatter-open-score" style="font-size:10px;cursor: pointer"
                          data-score="{{ score.id }}"></i></small>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="7">{{ "no score for now"|trans }}</td>
    </tr>
{% endfor %}
<tr class="see-more-delete">
    <td colspan="8" class="text-center ">
        {{ macro_pagination.seeMore(level[type],"see more"|trans,'btn btn-xs btn-outline-warning',{"parent":"#table-leaderboard-" ~level['level']~(type == 'scores' ? '': '-flat') ,"remove":"#see",'do_not_remove': true}) }}
    </td>
</tr>

