<div id="ragna_{{ song.id }}_modal">
<div id="ragna-beat-diffs"></div>
<div id="ragna-beat-buttons"></div>
<div id="ragna-beat-sounds" class="text-center"></div>
<div id="ragna-canvas">
    <canvas id="ragna-bg-canvas" width="300" height="600"></canvas>
    <canvas id="ragna-main-canvas" width="300" height="600"></canvas>
</div>
<div id="ragna-beat-volumes"></div>
<div id="ragna-beat-info">(Drum sound only plays when this tab is active)</div>
<div id="ragna-beat-duration">
    <input type="range" min="1" max="100" value="0">
    <span class="current">00:00</span>
    <span class="max">00:00</span>
</div>

<div class="text-center">Player by <b>Ratzee</b></div>
</div>
<script>
    $(document).trigger("preview-ready",{type:"modal", file:"{{ song.infoDatFile }}", uid: "ragna_{{ song.id }}_modal" });
</script>
{#{{ encore_entry_link_tags('ragnabeat') }}#}
{#{{ encore_entry_script_tags('ragnabeat') }}#}
