{% for song in songs.entities %}
    <tr>
        <td class="song-preview tiny d-flex flex-row">
            <a href="{{ url('song_detail',{id:song.id}) }}">
                <figure class="product-preview-image short liquid" style="position: relative">
                    {% if song.converted %}
                        <div class="white bold text-center bg-danger"
                             style="font-size: 12px;bottom: 0;position: absolute;width: 100%;border-radius: 0 0 5px 5px;">
                            converted
                        </div>
                    {% endif %}
                    <img src="/covers/{{ song.id ~ song.coverImageExtension }}" class="img-fluid rounded thumbnail"
                         alt="cover">
                </figure>
            </a>

            <div class="song-preview pl-2">
                <p class="title"><a href="{{ url('song_detail',{id:song.id}) }}">{{ song.name }}</a></p>
                <p class="category"><a
                            href="{{ url('home') }}?search=artist:{{ song.authorName }}">{{ song.authorName }}</a></p>
                <p class="creator">Mapped by : <a
                            href="{{ url('home') }}?search=mapper:{{ song.levelAuthorName }}">{{ song.levelAuthorName }}</a>
                </p>
                <p class="difficulties">Difficulties :
                    {% for diff in song.songDifficulties %}
                        {% if loop.index != 1 %}, {% endif %}
                        <span style="color:#{{ diff.difficultyRank.color }}">{{ diff.difficultyRank.level }}</span>
                    {% endfor %}</p>
            </div>
        </td>

        <td class="table-column padded">
            {% for difficulty in song.songDifficulties %}
                {% if loop.index != 1 %}, {% endif %}
                <span data-toggle="tooltips"
                      title="{{ "level "|trans }} {{ difficulty.difficultyRank.level }}, {{ difficulty.notesCount }} {{ "notes"|trans }}">{{ difficulty.notePerSecond|round(2,'floor') }}</span>
            {% endfor %}
        </td>

        <td class="table-column padded">
            {{ song.lastDateUpload.format('Y-m-d') }}
        </td>

        <td class="table-column padded">
            {{ song.approximativeDurationMS }}
        </td>

        <td class="table-column padded">
            {{ song.beatsPerMinute|round }}
        </td>

        <td class="table-column padded text-center ">
            <div class="song-vote-{{ song.id }}">
                {% include 'songs/partial/vote.html.twig' with {song:song} %}
            </div>
        </td>

        <td class="table-column padded-left text-right">

            <div class="d-flex flex-fill justify-content-end text-right">
                <a href="#" data-to-copy="!rc {{ song.id }}"
                   data-original-title="{{ "copied"|trans }}"
                   class="copy-clipboard btn btn-sm bg-twitch">
                    <i class="fab fa-twitch"></i>
                    !rc {{ song.id }}
                </a>
                {% set downloaded = downloadsService.alreadyDownloaded(song) %}
                <a href="ragnac://install/{{ song.id }}" {% if downloaded %}data-toggle="tooltip" title="{{ "Already downloaded"|trans }}"{% endif%} class="btn btn-sm {% if downloaded %}downloaded{% endif%} btn-danger ml-1">
                    1 click
                </a>
                <a href="{{ url("song_direct_download",{id:song.id}) }}" {% if downloaded %}data-toggle="tooltip" title="{{ "Already downloaded"|trans }}"{% endif%} class="btn btn-sm {% if downloaded %}downloaded{% endif%} ml-1 btn-success">
                    {{ "Download"|trans }}
                </a>
            </div>
            <small class="white pt-2 ">{{ "You need <a href='%url%' target='_blank'>our app</a> tu use 1 click installer button"|trans({"%url%":url('application')})|raw }}</small>
        </td>
    </tr>
{% else %}
    <tr>
        <td>No song for now</td>
    </tr>
{% endfor %}
<tr class="see-more-delete">
    <td colspan="7" class="text-center">
        {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
        {{ macro_pagination.seeMore(songs,"see more"|trans,'btn',{"parent":"#table-song","remove":"#see-more-place"}) }}
    </td>
</tr>
