

<tr>
    <td>
        <div class="d-flex ">
            <a href="{{ url('song_detail_v2',{slug:song.slug}) }}"><img src="{{ song.cover }}" alt="cover"/></a>
            <div class="song pl-1">
                <div class="title"><a href="{{ url('song_detail_v2',{slug:song.slug}) }}">{{ song.name }}</a></div>
                <div class="author"><a
                            href="{{ url('song_library') }}?search=artist%3A{{ song.authorName|url_encode }}">{{ song.authorName }}</a>
                </div>
            </div>
        </div>
    </td>

    <td>
        <div class="level-list">
            {% for diff in song.songDifficulties %}
                <div class='level' style="background-color:#{{ diff.difficultyRank.color }};"
                     title="{{ app.user is not null and diff.playedBy(app.user, songService.currentSeason ) ? "already played" :"never played" }}"
                     data-toggle="tooltip">
                    {{ diff.difficultyRank.level }}
                </div>
            {% endfor %}
        </div>
    </td>
    <td>
        <div class="mapper">
            <a href="{{ url('user_mapped_profile', {id:song.user.id}) }}">{{ song.levelAuthorName }}</a>
        </div>
    </td>
    <td class="small-col  pt-2 pb-2">{% include 'songs/partial/downupvote.html.twig' with {song:song} %}</td>

    <td class="table-column padded text-center song-vote-content-{{ song.id }}">
        {% include 'songs/partial/vote_small.html.twig' with {song:song} %}
    </td>

    <td class="text-right text-grey">
        {{ song.lastDateUpload.format('Y-m-d') }}&nbsp;
    </td>
<td class="text-right   pt-2 pb-2">
    {{ song.downloads|number_format(0) }}
</td>

    <td class="download">
        {% set downloaded = downloadsService.alreadyDownloaded(song) %}
        <div class="on-hover">
            <div class="big-buttons d-none">
                <a href="ragnac://install/{{ song.id }}" class="one-click"><i class="fas fa-download"></i><br/>1
                    click</a>
                <a href="{{ url("song_direct_download",{id:song.id}) }}" class="ddl"><i
                            class="fas fa-download"></i><br/>ZIP</a>
            </div>
            <a href="#"
               data-toggle="modal"
               data-target="#previewSong"
               data-refresh="true"
               data-url="{{ url("partial_preview_song",{id:song.id}) }}"
               class="ajax-load preview-popup">
                <i class="fas fa-play-circle"></i>
            </a>

            <a href="#"
               class="open-download-buttons text-success ml-1">
                <i class="fas fa-download"></i>
            </a>
        </div>
        <div class="non-hover">
            {% if downloaded %}
                <i class="fas fa-check"></i>
            {% endif %}
        </div>
    </td>


</tr>


