<div class="songs">
{% for song in songs %}
    <div class="d-flex ">
        <a href="{{ url('song_detail',{slug:song.slug}) }}">
            <img src="{{ song.cover }}" class="small-cover" alt="cover"/>
        </a>
        <div class="song pl-1">
            <div class="title"><a
                        href="{{ url('song_detail',{slug:song.slug}) }}">{{ song.wip ? "[WIP] ":"" }}{{ song|raw }}</a>
                {% set downloaded = downloadsService.alreadyDownloaded(song) %}
                {% if downloaded %}
                    <small class="small"><i data-toggle="tooltip" title="already downloaded" class="fas fa-check"></i></small>
                {% endif %}
            </div>
            <div class="author"><a
                        href="{{ url('song_library') }}?search=artist%3A{{ song.authorName|url_encode }}">{{ song.authorName }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>