{% for song in songs.entities %}
    <tr>
        <td class="product-preview tiny d-flex flex-row">
            <a href="{{ url('song_detail',{id:song.id}) }}">
                <figure class="product-preview-image short liquid" style="position: relative">
                    {% if song.converted %}
                        <div class="white bold text-center bg-danger"
                             style="font-size: 12px;bottom: 0;position: absolute;width: 100%;border-radius: 0 0 5px 5px;">
                            converted
                        </div>
                    {% endif %}
                    <img src="/covers/{{ song.id ~ song.coverImageExtension }}" class="img-fluid rounded thumbnail"
                         alt="item-11">
                </figure>
            </a>

            <div class="song-preview pl-2">
                <p class="title">{{ song.name }}</p>
                <p class="category">{{ song.authorName }}</p>
                <p class="creator">Mapped by : {{ song.levelAuthorName }}</p>
                <p class="difficulties">Difficulties :
                    {% for diff in song.songDifficulties %}
                        {% if loop.index != 1 %}, {% endif %}
                        <span style="color:#{{ diff.difficultyRank.color }}">{{ diff.difficultyRank.level }}</span>
                    {% endfor %}</p>
            </div>
        </td>

        <td class="table-column padded">
            {% for difficulty in song.songDifficulties %}
                {% if loop.index != 1 %}, {% endif %}
{#                {{ "Difficulty "|trans }} {{ difficulty.difficultyRank.level }} :#}
{#                <ul>#}
{#                    <li> {{ "Notes"|trans }} : <b>{{ difficulty.notesCount }}</b></li>#}
{#                    <li> #}
{#                        {{ "Speed"|trans }} : <b>#}
                <span data-toggle="tooltips" title="{{ "level "|trans }} {{ difficulty.difficultyRank.level }}, {{ difficulty.notesCount }} {{ "notes"|trans }}">{{ difficulty.notePerSecond|round(2,'floor') }}</span>
{#            </b> <span data-toggle="tooltips" title="{{ "Note per second"|trans }}">N/s</span>#}
{#                    </li>#}
{#                </ul>#}
            {% endfor %}
        </td>

        <td class="table-column padded">
           {{ song.lastDateUpload.format('Y-m-d') }}
        </td>

        <td class="table-column padded">
            <p class="table-title">{{ song.approximativeDurationMS }}</p>
        </td>

        <td class="table-column padded">
            <p class="table-title">{{ song.beatsPerMinute|round }}</p>
        </td>

        <td class="table-column padded text-center ">
            <div class="song-vote-{{ song.id }}">
                {% include 'songs/partial/vote.html.twig' with {song:song} %}
            </div>
        </td>

        <td class="table-column padded-left">

            <div class="d-flex flex-fill">
                <a href="#" data-to-copy="!rc {{ song.id }}" class="copy-clipboard btn btn-sm bg-twitch">
                    <i class="fab fa-twitch"></i>
                    !rc {{ song.id }}
                </a>

                <a href="ragnac://install/{{ song.id }}" class="btn btn-sm  btn-danger ml-1">
                    1 click
                </a>
                <a href="{{ url("song_direct_download",{id:song.id}) }}" class="btn btn-sm ml-1 btn-success">
                    {{ "Download"|trans }}
                </a>
            </div>

            <small class="white pt-2  small">{{ ("You need <a href='"~url("application")~"' target='_blank'>our app</a> tu use 1 click installer button")|trans|raw }}</small>
        </td>
    </tr>
{% else %}
    <tr>
        <td>No song for now</td>
    </tr>
{% endfor %}
{% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
{{ macro_pagination.seeMore(songs,"see more"|trans) }}