{% import "songs/macros/song.html.twig" as song_macro %}
{% set song = score.songDifficulty.song %}
<tr>
    <td>
        <div class="d-flex ">
            <a href="{{ url('song_detail',{slug:song.slug}) }}"><img src="{{ song.cover }}" alt="cover"/></a>
            <div class="song pl-1">
                <div class="title one-line"><a href="{{ url('song_detail',{slug:song.slug}) }}">{{ song|raw }}</a></div>
                <div class="author"><a
                            href="{{ url('song_library') }}?search=artist%3A{{ song.authorName|url_encode }}">{{ song.authorName }}</a>
                </div>
            </div>
        </div>
    </td>

    <td>
        <div class="level-list">
            {% set diff = score.songDifficulty %}
                <div class='level {% if diff.isRanked %}is-ranked{% endif %}' style="background-color:#{{ diff.difficultyRank.color }};">
                    {% if diff.isRanked %}<i class="fas fa-star" data-toggle="tooltip" title="Ranked" style="color:#{{ diff.difficultyRank.color }};"></i>{% endif %}
                    <span >{{ diff.difficultyRank.level }}</span>
                </div>
        </div>
    </td>
    <td>
        <i class="fas {{ score.plateformIcon }}"></i>
    </td>
    <td>
            {{ score.scoreDisplay }} 
    </td>
    <td>
        {{ score.rawPP|round(2) }} <small>{{ score.weightedPP }}</small>
    </td>
    <td class="text-grey">
        {{ score.timeAgoShort}}&nbsp;
    </td>
    <td>
        {{ song_macro.stats(score) }}
    </td>
</tr>


