{% import "songs/macros/song.html.twig" as macro_song %}
<div class="container-fluid">
    <div class="row">

        {% for song in songs.entities %}
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="song-box d-flex justify-content-between">
                    <div class="song-preview tiny ">
                        {{ macro_song.description2(song) }}
                    </div>

                    <div class="table-column padded">
                        <div class="table-column padded text-center song-vote-content-{{ song.id }}">
                            {% include 'songs/partial/vote.html.twig' with {song:song} %}
                        </div>
                        <div>last update: {{ song.lastDateUpload.format('Y-m-d') }}</div>
                        <div>duration: {{ song.approximativeDurationMS }}</div>
                        <div>bpm: {{ song.beatsPerMinute|round }}</div>
                    </div>


                    <div style="font-size:20px;" class="text-right">
                        <div>
                            <a href="{{ url('song_detail',{slug:song.slug}) }}#feedback"
                               class="text-level-3"
                                    {# data-trigger="hover" #}
                                    {# data-placement="top" #}
                                    {# data-content="{{ "Send a feedback"|trans }}" #}
                                    {# data-replace-selector="#feedbackSong .modal-body" #}
                                    {# data-toggle='modal' data-target='#feedbackSong' #}
                                    {# data-url='{{ url('song_detail',{id:song.id}) }}#feedback' #}
                                    {# data-song-id='{{ song.id }}' #}
                            ><i class="far fa-comment-dots"></i></a>
                            {# {{ (songService.songFeedbackPublic(song)|length) }} #}
                        </div>
                        <div>
                            <a href="{{ url('song_detail',{slug:song.slug}) }}#preview"
                               data-toggle="tooltip"
                               title="Preview"
                               class="text-level-9"
                                    {# data-trigger="hover" #}
                                    {# data-placement="top" #}
                                    {# data-content="{{ "Send a feedback"|trans }}" #}
                                    {# data-replace-selector="#feedbackSong .modal-body" #}
                                    {# data-toggle='modal' data-target='#feedbackSong' #}
                                    {# data-url='{{ url('song_detail',{id:song.id}) }}#feedback' #}
                                    {# data-song-id='{{ song.id }}' #}
                            ><i class="fas fa-play"></i></a>
                            {# {{ (songService.songFeedbackPublic(song)|length) }} #}
                        </div>

                        <div>
                            <a href="#" data-to-copy="!rc {{ song.id }}"
                               data-original-title="{{ "copied"|trans }}"
                               class="copy-clipboard text-twitch">
                                <i class="fab fa-twitch"></i>
                            </a>
                        </div>
                        <div>    {% set downloaded = downloadsService.alreadyDownloaded(song) %}
                            <a href="ragnac://install/{{ song.id }}" data-toggle="tooltip"
                               title="{% if downloaded %}{{ "Already downloaded"|trans }}{% else %}{{ "One click download"|trans }}{% endif %}"
                               class="{% if downloaded %}downloaded{% endif %} text-danger ml-1">
                                <i class="fas fa-download"></i>
                            </a>
                        </div>
                        <div>
                            <a href="{{ url("song_direct_download",{id:song.id}) }}" data-toggle="tooltip"
                               title="{% if downloaded %}{{ "Already downloaded"|trans }}{% else %}{{ "Download"|trans }}{% endif %}"
                               class="{% if downloaded %}downloaded{% endif %} text-success ml-1">
                                <i class="fas fa-file-archive"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}

            <div class="row">
                <div class="col-12">
                No song for now
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="col-12 d-flex justify-content-between">
    {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
    <div class="text-left pagination">
        Pages : {{ macro_pagination.paginate(songs) }}
    </div>
    <div class="text-right">{{ songs.entities|length }} {{ "songs displayed on"|trans }} {{ songs.count }}</div>
{# {{ macro_pagination.seeMore(songs,"see more"|trans,'btn',{"parent":"#table-song","remove":"#see-more-place"}) }} #}
</div>

