<tr>
    <td>
        <div class="d-flex ">
            <a href="{{ url('song_detail',{slug:song.slug}) }}"><img src="{{ song.cover }}" class="small-cover"
                                                                     alt="cover"/></a>
            <div class="song pl-1">
                <div class="title"><a
                            href="{{ url('song_detail',{slug:song.slug}) }}">{{ song.wip ? "[WIP] ":"" }}{{ song|raw }}</a>
                </div>
                <div class="author"><a
                            href="{{ url('song_library') }}?search=artist%3A{{ song.authorName|url_encode }}">{{ song.authorName }}</a>
                </div>
            </div>
        </div>
    </td>

    <td>
        <div class="level-list">
            {% for diff in song.songDifficulties %}
                <div class='level {% if diff.isRanked %}is-ranked{% endif %} {% if app.request.get('alreadyplayed') is not null and is_granted('ROLE_USER') and app.user.hasPlayed(diff) %}disabled{% endif %}'
                     style="background-color:#{{ diff.difficultyRank.color }};">
                    {% if diff.isRanked %}<i class="fas fa-star" data-toggle="tooltip" title="Ranked"
                                             style="color:#{{ diff.difficultyRank.color }};"></i>{% endif %}
                    <span>{{ diff.difficultyRank.level }}</span>
                </div>
            {% endfor %}
        </div>
    </td>
    <td>
        <div class="mapper">
            <a href="{{ url('mapper_profile', {username:song.user.username}) }}">{{ membershipService.displayMappername(song.user)|raw }}</a>
        </div>
    </td>
    <td class="small-col  pt-2 pb-2">{% include 'songs/partial/downupvote.html.twig' with {song:song} %}</td>

    <td class="table-column padded text-center song-vote-content-{{ song.id }}">
        {% include 'songs/partial/vote_small.html.twig' with {song:song} %}
    </td>

    <td class="text-right text-grey">
        {{ song.getTimeAgo }}&nbsp;
    </td>
    <td class="text-right   pt-2 pb-2">
        {{ song.downloads|number_format(0) }}
    </td>
{#    {% if seePlayed is defined %}#}
{#        <td class="text-right">{{ song.scores|length }}</td>#}
{#    {% endif %}#}
    <td class="download">
        {% set downloaded = downloadsService.alreadyDownloaded(song) %}
        <div class="on-hover">
            <div class="big-buttons d-none">
                <a data-no-swup="true" href="ragnac://install/{{ song.id }}" class="one-click"><i class="fas fa-download"></i><br/>1
                    click</a>
                <a data-no-swup="true" href="{{ url("song_direct_download",{id:song.id}) }}" class="ddl text-uppercase"><i
                            class="fas fa-download"></i><br/>Zip</a>
            </div>
            <a href="#"
               data-toggle="modal"
               data-target="#previewSong"
               data-refresh="true"
               data-url="{{ url("partial_preview_song",{id:song.id}) }}"
               class="ajax-load preview-popup">
                <i class="fas fa-play-circle"></i>
            </a>

            <a href="#"
                title="File size: {{ songService.fileSize(song) }}"
               class="open-download-buttons text-success ml-1">
                <i class="fas fa-download"></i>
            </a>
        </div>

        <div class="non-hover">
            {% if downloaded %}
                <i class="fas fa-check"></i>
            {% endif %}
        </div>
    </td>


</tr>


