<tr id="song-{{ song.id }}">
    <td>
        <div class="d-flex ">
            <a href="{{ url('song_detail',{slug:song.slug}) }}"><img src="{{ song.cover }}" class="small-cover"
                                                                     alt="cover"/></a>
            <div class="song pl-1">
                <div class="title"><a
                            href="{{ url('song_detail',{slug:song.slug}) }}">{{ song.wip ? "[WIP] ":"" }}{{ song|raw }}</a>
                </div>
                {% include 'songs/partial/artists.html.twig' with {song : song} %}
            </div>
        </div>
    </td>

    <td>
        <div class="level-list">
            {% for diff in song.songDifficulties %}
                <div class='level {% if diff.isRanked %}is-ranked{% endif %}'
                     style="background-color:#{{ diff.difficultyRank.color }};">
                    {% if diff.isRanked %}<i class="fas fa-star" data-toggle="tooltip" title="Ranked"
                                             style="color:#{{ diff.difficultyRank.color }};"></i>{% endif %}
                    <span>{{ diff.difficultyRank.level }}</span>
                </div>
            {% endfor %}
        </div>
    </td>
    <td>
        {% include 'songs/partial/mappers.html.twig' with {song:song} %}
    </td>
    <td class="small-col  pt-2 pb-2">{% include 'songs/partial/downupvote.html.twig' with {song:song} %}</td>

    <td class="table-column padded text-center song-vote-content-{{ song.id }}">
        {% include 'songs/partial/vote_small.html.twig' with {song:song} %}
    </td>

    <td class="text-right text-grey">
        {{ song.getTimeAgo }}&nbsp;
    </td>
{#    <td class="text-right pt-2 pb-2">{{ matomoService.urlStat(url("song_detail",{slug:song.slug})) }}</td>#}
    <td class="text-right pt-2 pb-2">

        {{ song.downloads|number_format(0) }}
    </td>
    {#    {% if seePlayed is defined %}#}
    {#        <td class="text-right">{{ song.scores|length }}</td>#}
    {#    {% endif %}#}
    <td class="text-center">

        {% if song.programmationDate|date('Y-m-d H:i') > 'now'|date('Y-m-d H:i') and song.active %}
            <i class='far fa-clock text-warning' data-toggle="tooltip" title="Publishing on {{ song.programmationDate|date('Y-m-d H:i') }}"></i>
        {% else %}
        {{ song.published and song.available ? "<i class='fas fa-check text-success'></i>" :  "<i class='fas fa-close text-danger'></i>"  }}
        {% endif %}
    </td>
{#    <td>#}
{#        {% if not song.isRanked() %}#}
{#        <label class="switch">#}
{#            <input data-song="{{ song.id }}" class="enable-song" type="checkbox" {% if song.active %}checked="checked"{% endif %} value="1">#}
{#            <span class="slider round"></span>#}
{#        </label>#}
{#        {% endif %}#}
{#    </td>#}
    <td class="download">
        {% if not song.isRanked() %}
        <a href="#"
               data-modal="#editSong"
               data-refresh="true"
               data-url="{{ url('edit_song',{id:song.id}) }}"
           data-title="{{ "Edit Custom Song<br/><small class='text-warning'>\"%songName%\"</small>"|trans|replace({"%songName%":song.name}) }}"
           class="mt-2 ajax-modal-form">
            <i class="fas fa-edit"></i>
        </a>
            <a href="#"
               data-success-action="remove"
               data-remove-selector="#song-{{ song.id }}"
               data-url="{{ url('delete_song',{id:song.id}) }}"
               data-confirm-message="{{ "Are you sure? You won't be able to recover this map after you delete it."|trans }}"
               class="text-danger confirm mt-2 ml-2 ajax-link">
                <i class="fas fa-trash"></i>
            </a>
        {% else %}
            <small>{{ "Ranked"|trans }}</small>
        {% endif %}
    </td>


</tr>


