{%  import "songs/macros/song.html.twig" as macro_song %}
{% for song in songs.entities %}
    <tr>
        <td class="song-preview tiny ">
         {{ macro_song.description(song) }}
        </td>

        <td class="table-column padded">
            {% for difficulty in song.songDifficulties %}
                {% if loop.index != 1 %}, {% endif %}
                <span data-toggle="tooltips"
                      title="{{ "level "|trans }} {{ difficulty.difficultyRank.level }}, {{ difficulty.notesCount }} {{ "notes"|trans }}">{{ difficulty.notePerSecond|round(2,'floor') }}</span>
            {% endfor %}
        </td>

        <td class="table-column padded">
            {{ song.lastDateUpload.format('Y-m-d') }}
        </td>

        <td class="table-column padded">
            {{ song.approximativeDurationMS }}
        </td>

        <td class="table-column padded">
            {{ song.beatsPerMinute|round }}
        </td>

        <td class="table-column padded text-center song-vote-content-{{ song.id }}" style="width: 90px">
                {% include 'songs/partial/vote.html.twig' with {song:song} %}
        </td>
<td style="font-size:20px;">
    <a href="#"  class="text-level-3 ajax-load popover-trigger song-feedback"
       data-trigger="hover"
       data-placement="top"
       data-content="{{ "Send a feedback"|trans }}"
       data-replace-selector="#feedbackSong .modal-body"
       data-toggle='modal' data-target='#feedbackSong'
       data-url='{{ url('song_feedback',{id:song.id}) }}'
       data-song-id='{{ song.id }}'
    ><i class="far fa-comment-dots"></i> {{ (songService.songFeedbackPublic(song)|length) }}</a>
</td>
        <td class="table-column padded-left text-right">

            <div class="d-flex flex-fill justify-content-end text-right">
                <a href="#" data-to-copy="!rc {{ song.id }}"
                   data-original-title="{{ "copied"|trans }}"
                   class="copy-clipboard btn btn-sm bg-twitch">
                    <i class="fab fa-twitch"></i>
                    !rc {{ song.id }}
                </a>
                {% set downloaded = downloadsService.alreadyDownloaded(song) %}
                <a href="ragnac://install/{{ song.id }}" {% if downloaded %}data-toggle="tooltip" title="{{ "Already downloaded"|trans }}"{% endif%} class="btn btn-sm {% if downloaded %}downloaded{% endif%} btn-danger ml-1">
                    1 click
                </a>
                <a href="{{ url("song_direct_download",{id:song.id}) }}" {% if downloaded %}data-toggle="tooltip" title="{{ "Already downloaded"|trans }}"{% endif%} class="btn btn-sm {% if downloaded %}downloaded{% endif%} ml-1 btn-success">
                    {{ "Download"|trans }}
                </a>
            </div>
            <small class="white pt-2 ">{{ "You need <a href='%url%' target='_blank'>our app</a> tu use 1 click installer button"|trans({"%url%":url('application')})|raw }}</small>
        </td>
    </tr>
{% else %}
    <tr>
        <td>No song for now</td>
    </tr>
{% endfor %}
<tr class="see-more-delete">

    <td colspan="4">
        {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
        <div class="text-left pagination">
            Pages : {{ macro_pagination.paginate(songs) }}
        </div>

{#        {{ macro_pagination.seeMore(songs,"see more"|trans,'btn',{"parent":"#table-song","remove":"#see-more-place"}) }}#}
    </td>
    <td colspan="4">
        <div class="text-right">{{ songs.entities|length }} {{ "songs displayed on"|trans }} {{ songs.count }}</div>
    </td>
</tr>
