{% import "songs/macros/song.html.twig" as macro_song %}
<div class="song-container">
    <div class="loading-spinner">
        <h2>Loading 
        <span class="loading-icon">
           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="79pt" height="73pt" viewBox="0 0 79 73" version="1.1">
<g id="surface1">
<path style=" stroke:none;fill-rule:evenodd;fill:currentColor;fill-opacity:1;" d="M 23.699219 4.957031 C 22.742188 5.914062 21.855469 6.695312 21.726562 6.699219 C 21.59375 6.699219 21.488281 10.636719 21.488281 15.445312 L 21.488281 24.1875 L 23.664062 26.136719 L 25.839844 28.082031 L 34.761719 28.082031 L 34.761719 45.042969 C 34.761719 60.484375 34.714844 62.035156 34.234375 62.386719 C 33.578125 62.871094 33.886719 63.820312 34.769531 64.054688 C 35.171875 64.160156 35.359375 64.417969 35.269531 64.742188 C 35.195312 65.027344 35.039062 65.835938 34.929688 66.539062 C 34.816406 67.238281 34.652344 68.066406 34.5625 68.371094 C 34.464844 68.714844 34.570312 68.929688 34.839844 68.929688 C 35.082031 68.929688 35.480469 69.394531 35.730469 69.960938 C 37.183594 73.277344 42.648438 73.0625 43.496094 69.65625 C 43.59375 69.257812 43.878906 68.929688 44.128906 68.929688 C 44.59375 68.929688 44.566406 68.429688 43.929688 65.367188 C 43.707031 64.300781 43.757812 64.175781 44.4375 64.003906 C 45.203125 63.808594 45.484375 62.769531 44.871094 62.390625 C 44.667969 62.261719 44.554688 56.164062 44.554688 45.136719 L 44.554688 28.082031 L 52.53125 28.082031 L 54.703125 26.136719 L 56.878906 24.1875 L 56.878906 7.003906 L 54.90625 5.109375 L 52.929688 3.214844 L 25.4375 3.214844 L 23.699219 4.957031 M 51.507812 5.664062 L 51.507812 6.859375 L 26.859375 6.859375 L 26.859375 4.46875 L 51.507812 4.46875 L 51.507812 5.664062 M 25.597656 5.984375 C 25.597656 6.742188 25.46875 6.859375 24.664062 6.859375 L 23.734375 6.859375 L 24.566406 5.984375 C 25.023438 5.5 25.441406 5.105469 25.496094 5.105469 C 25.550781 5.105469 25.597656 5.5 25.597656 5.984375 M 53.828125 6.007812 L 54.683594 6.914062 L 53.726562 6.769531 C 52.96875 6.660156 52.773438 6.472656 52.773438 5.867188 C 52.773438 4.914062 52.789062 4.914062 53.828125 6.007812 M 25.597656 15.636719 L 25.597656 22.976562 L 22.910156 22.976562 L 23.089844 8.296875 L 25.597656 8.296875 L 25.597656 15.636719 M 51.507812 15.636719 L 51.507812 22.976562 L 26.859375 22.976562 L 26.859375 8.296875 L 51.507812 8.296875 L 51.507812 15.636719 M 55.617188 15.636719 L 55.617188 22.976562 L 52.773438 22.976562 L 52.773438 8.296875 L 55.617188 8.296875 L 55.617188 15.636719 M 25.597656 25.28125 C 25.597656 26.296875 25.589844 26.300781 25.109375 25.609375 C 24.84375 25.226562 24.382812 24.765625 24.082031 24.59375 C 23.640625 24.332031 23.730469 24.269531 24.570312 24.261719 C 25.515625 24.253906 25.597656 24.332031 25.597656 25.28125 M 51.507812 25.53125 L 51.507812 26.804688 L 26.859375 26.804688 L 26.859375 24.253906 L 51.507812 24.253906 L 51.507812 25.53125 M 54.667969 24.351562 C 54.667969 24.410156 54.242188 24.867188 53.71875 25.371094 L 52.773438 26.289062 L 52.773438 25.269531 C 52.773438 24.351562 52.863281 24.253906 53.71875 24.253906 C 54.242188 24.253906 54.667969 24.296875 54.667969 24.351562 M 42.792969 28.277344 C 43.09375 28.394531 43.292969 28.847656 43.292969 29.414062 C 43.292969 30.507812 43.234375 30.5 39.820312 29.007812 L 37.761719 28.105469 L 40.027344 28.09375 C 41.273438 28.089844 42.515625 28.171875 42.792969 28.277344 M 39.671875 30.445312 C 42.359375 31.53125 43.15625 31.996094 43.234375 32.503906 C 43.324219 33.109375 43.035156 33.042969 39.683594 31.660156 C 36.992188 30.554688 36.03125 30.011719 36.027344 29.597656 C 36.023438 28.898438 35.640625 28.808594 39.671875 30.445312 M 43.292969 35.523438 C 43.292969 36.574219 43.464844 36.601562 39.121094 34.828125 C 36.355469 33.699219 36.175781 33.566406 36.085938 32.625 L 35.984375 31.621094 L 39.640625 33.125 C 43.082031 34.539062 43.292969 34.675781 43.292969 35.523438 M 39.910156 36.65625 C 42.542969 37.738281 43.292969 38.179688 43.292969 38.652344 C 43.292969 39.234375 43.238281 39.238281 42.105469 38.75 C 41.457031 38.46875 39.820312 37.796875 38.472656 37.257812 C 36.601562 36.511719 36.023438 36.136719 36.023438 35.664062 C 36.023438 35.328125 36.136719 35.097656 36.277344 35.15625 C 36.414062 35.214844 38.050781 35.890625 39.910156 36.65625 M 43.285156 41.679688 L 43.292969 42.671875 L 39.664062 41.203125 C 36.113281 39.761719 36.035156 39.710938 36.027344 38.722656 L 36.023438 37.714844 L 39.652344 39.203125 C 43.179688 40.648438 43.28125 40.714844 43.285156 41.679688 M 40.84375 43.160156 C 42.652344 43.882812 43.292969 44.292969 43.292969 44.722656 C 43.292969 45.285156 43.238281 45.285156 41.789062 44.707031 C 36.28125 42.503906 36.023438 42.371094 36.023438 41.765625 C 36.023438 41.1875 36.078125 41.179688 37.210938 41.667969 C 37.859375 41.949219 39.496094 42.621094 40.84375 43.160156 M 39.816406 45.425781 C 42.953125 46.734375 43.140625 46.863281 43.230469 47.804688 L 43.332031 48.800781 L 39.683594 47.296875 C 36.277344 45.894531 36.03125 45.734375 36.027344 44.917969 C 36.023438 43.808594 35.886719 43.789062 39.816406 45.425781 M 43.289062 50.855469 C 43.292969 51.21875 43.128906 51.382812 42.871094 51.285156 C 38.414062 49.558594 36.023438 48.363281 36.023438 47.859375 C 36.023438 47.367188 36.511719 47.488281 39.65625 48.777344 C 42.453125 49.921875 43.289062 50.398438 43.289062 50.855469 M 40.273438 51.703125 C 42.941406 52.824219 43.140625 52.972656 43.234375 53.902344 L 43.332031 54.894531 L 41.8125 54.289062 C 36.109375 52.007812 36.023438 51.957031 36.023438 50.980469 C 36.023438 49.898438 35.929688 49.882812 40.273438 51.703125 M 42.960938 56.167969 C 43.144531 56.167969 43.292969 56.464844 43.292969 56.824219 C 43.292969 57.609375 43.210938 57.589844 39.042969 55.839844 C 36.902344 54.941406 36.15625 54.476562 36.082031 53.988281 C 35.996094 53.394531 36.269531 53.457031 39.308594 54.753906 C 41.136719 55.53125 42.777344 56.167969 42.960938 56.167969 M 40.082031 57.769531 C 43.128906 59.046875 43.292969 59.164062 43.292969 60.0625 C 43.292969 60.582031 43.179688 60.957031 43.039062 60.898438 C 42.902344 60.839844 41.265625 60.167969 39.40625 59.402344 C 36.167969 58.070312 36.023438 57.96875 36.023438 57.054688 C 36.023438 56.386719 36.152344 56.148438 36.445312 56.261719 C 36.679688 56.351562 38.3125 57.03125 40.082031 57.769531 M 38.71875 60.625 L 40.921875 61.574219 L 39.570312 61.582031 C 37.910156 61.59375 36.023438 60.839844 36.023438 60.171875 C 36.023438 59.503906 36.175781 59.53125 38.71875 60.625 M 41.007812 63.101562 C 40.363281 63.167969 39.226562 63.167969 38.480469 63.101562 C 37.738281 63.035156 38.269531 62.976562 39.65625 62.976562 C 41.046875 62.976562 41.65625 63.03125 41.007812 63.101562 M 42.496094 65.261719 C 42.585938 65.699219 42.734375 66.417969 42.824219 66.855469 L 42.988281 67.65625 L 39.484375 67.65625 C 36.300781 67.65625 35.996094 67.605469 36.136719 67.097656 C 36.222656 66.789062 36.386719 66.070312 36.5 65.5 L 36.707031 64.464844 L 39.519531 64.464844 C 42.265625 64.464844 42.335938 64.480469 42.496094 65.261719 M 42.027344 69.570312 C 40.902344 71.695312 38.101562 71.566406 36.84375 69.328125 C 36.671875 69.023438 37.285156 68.929688 39.492188 68.929688 C 42.269531 68.929688 42.355469 68.953125 42.027344 69.570312 "/>
</g>
</svg>
        </span>
    </h2>
    </div>

        <div class="row">
            {% if songs is not null %}
            {% for song in songs.entities %}
                <div class="col-xl-4 col-lg-6 mb-3" id="song-box-{{ song.id }}">
                    <div class="song-box d-flex justify-content-between">
                        <div class="song-preview tiny ">
                            {% if edit is defined and edit and playlist is defined%}
                            <a data-url="{{ url("playlist_remove",{id:song.id, playlist_id:playlist.id}) }}" href="#"
                               data-success-action="remove"
                               data-remove-selector="#song-box-{{ song.id }}"
                               class="ajax-link remove-from-playlist btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                            {% endif %}
                            {{ macro_song.description(song) }}
                        </div>

                        <div class="table-column padded">
                            <div class="table-column padded text-center song-vote-content-{{ song.id }}">
                                {% include 'songs/partial/vote.html.twig' with {song:song} %}
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>{{ "Last update:"|trans }} </div>
                                <div>&nbsp;{{ song.lastDateUpload.format('Y-m-d') }}</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>{{ "Duration:"|trans }} </div>
                                <div>&nbsp;{{ song.approximativeDurationMS }}</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>{{ "Bpm:"|trans }} </div>
                                <div>&nbsp;{{ song.beatsPerMinute|round }}</div>
                            </div>
                            {% if song.isExplicit %}
                            <div class="d-flex justify-content-between">
                                <span class="text-danger">{{ "Explicit content"|trans }}</span>
                            </div>
                            {% endif %}
                        </div>


                        <div style="font-size:20px;" class="text-right">
                            <div>
                                <a href="{{ url('song_detail',{slug:song.slug}) }}#feedback"
                                class="text-level-3"
                                data-toggle="tooltip"
                                title="{{ "Leave a feedback"|trans }}"

                                         data-trigger="hover"
                                         data-placement="top"
                                         data-content="{{ "Send a feedback"|trans }}"
                                         data-replace-selector="#feedbackSong .modal-body"
                                         data-toggle='modal' data-target='#feedbackSong'
                                         data-url='{{ url('song_detail',{id:song.id}) }}#feedback'
                                         data-song-id='{{ song.id }}'
                                ><i class="far fa-comment-dots"></i></a>
                                 {{ (songService.songFeedbackPublic(song)|length) }}
                            </div>
                            <div>
                                <a href="{{ url('song_detail',{slug:song.slug}) }}#preview"
                                data-toggle="tooltip"
                                title="{{ "Preview"|trans }}"
                                class="text-level-9"
                                         data-trigger="hover"
                                         data-placement="top"
                                         data-content="{{ "Send a feedback"|trans }}"
                                         data-replace-selector="#feedbackSong .modal-body"
                                         data-toggle='modal' data-target='#feedbackSong'
                                         data-url='{{ url('song_detail',{id:song.id}) }}#feedback'
                                         data-song-id='{{ song.id }}'
                                ><i class="fas fa-play"></i></a>
                                 {{ (songService.songFeedbackPublic(song)|length) }}
                            </div>

                            <div>
                                <a href="#" data-to-copy="!rc {{ song.id }}"
                                data-original-title="{{ "copied"|trans }}"
                                data-toggle="tooltip"
                                title="{{ "Copy code for Twitch"|trans }}"

                                class="copy-clipboard text-twitch">
                                    <i class="fab fa-twitch"></i>
                                </a>
                            </div>
                            <div>    {% set downloaded = downloadsService.alreadyDownloaded(song) %}
                                <a href="ragnac://install/{{ song.id }}" data-toggle="tooltip"
                                title="{% if downloaded %}{{ "Already downloaded"|trans }}{% else %}{{ "One click download"|trans }}{% endif %}"
                                class="{% if downloaded %}downloaded{% endif %} text-danger ml-1">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <div>
                                <a href="{{ url("song_direct_download",{id:song.id}) }}" data-toggle="tooltip"
                                title="{% if downloaded %}{{ "Already downloaded"|trans }}{% else %}{{ "Download"|trans }}{% endif %}"
                                class="{% if downloaded %}downloaded{% endif %} text-success ml-1">
                                    <i class="fas fa-file-archive"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="application/ld+json">
                    {
                        "@context": "https://schema.org",
                        "@type": "Product",
                        "author": "{{ song.levelAuthorName|escape }}",
                        "image": "https://ragnacustoms.com{{ song.cover }}",
                        "name": "{{ (song.name~" - "~song.authorName)|escape }}",
                        "aggregateRating": {
                            "@type": "AggregateRating",
                            "reviewCount": "{{ song.countVotes ? song.countVotes : 0 }}",
                            "ratingValue": "{{ song.countVotes is not null and song.countVotes >0 ? (song.totalVotes/song.countVotes)|round(2):"0.00" }}"
                        }
                    }
                </script>

            {% else %}

                <div class="row">
                    <div class="col-12">
                        {{ "No song for now"|trans }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>

    <div class="col-12 d-flex justify-content-between">

       {% if songs is not null %}
        {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
        <div class="text-left pagination">
            {{ "Pages:"|trans }} {{ macro_pagination.paginate(songs) }}
        </div>
        <div class="text-right">{{ songs.entities|length }} {{ "songs displayed on"|trans }} {{ songs.count }}</div>
        {% endif %}
    {# {{ macro_pagination.seeMore(songs,"see more"|trans,'btn',{"parent":"#table-song","remove":"#see-more-place"}) }} #}
    </div>
</div>

