{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Dashboard"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ statistiquesService.countChallenges() }}</h3>

                    <p>Challenges</p>
                </div>
                <div class="icon">
                    <i class="fas fa-gamepad"></i>
                </div>
                <a href="{{ url("challenge_admin_index") }}" class="small-box-footer">Gérer <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ statistiquesService.countParticipations() }} <span title="uniques">({{ statistiquesService.countParticipationsUniques() }})</span></h3>
                    <p>Inscriptions au challenge</p>
                </div>
                <div class="icon">
                    <i class="fas fa-headset"></i>
                </div>
                <a href="{{ url("user_admin_index") }}" class="small-box-footer">Gérer les membres <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ statistiquesService.countTwitchers() }}</h3>
                    <p>Twitchers</p>
                </div>
                <div class="icon">
                    <i class="fab fa-twitch"></i>
                </div>
                <a href="{{ url("user_admin_index") }}" class="small-box-footer">Gérer les membres <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Left col -->
        <div class="col-lg-7">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card ">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-th mr-1"></i>
                        Participations
                    </h3>

                    <div class="card-tools">
{#                        <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">#}
{#                            <i class="fas fa-minus"></i>#}
{#                        </button>#}
{#                        <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">#}
{#                            <i class="fas fa-times"></i>#}
{#                        </button>#}
                    </div>
                </div>
                <div class="card-body">
                    <canvas class="chart" id="line-chart" style="min-height: 250px; height: 400px; max-width: 100%;"></canvas>
                </div>
                <!-- /.card-body -->
{#                <div class="card-footer bg-transparent">#}
{#                    <div class="row">#}
{#                        <div class="col-4 text-center">#}
{#                            <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"#}
{#                                   data-fgColor="#39CCCC">#}

{#                            <div class="text-white">Mail-Orders</div>#}
{#                        </div>#}
{#                        <!-- ./col -->#}
{#                        <div class="col-4 text-center">#}
{#                            <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"#}
{#                                   data-fgColor="#39CCCC">#}

{#                            <div class="text-white">Online</div>#}
{#                        </div>#}
{#                        <!-- ./col -->#}
{#                        <div class="col-4 text-center">#}
{#                            <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"#}
{#                                   data-fgColor="#39CCCC">#}

{#                            <div class="text-white">In-Store</div>#}
{#                        </div>#}
{#                        <!-- ./col -->#}
{#                    </div>#}
{#                    <!-- /.row -->#}
{#                </div>#}
                <!-- /.card-footer -->
            </div>


        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
let labels = [];
let participations = [];
let noShow = [];
{% for challenge in statistiquesService.challenges %}
labels.push("{{ challenge.title }}");
participations.push({{ challenge.participations|length }});
noShow.push({{ challenge.noShowParticipations|length }});

{% endfor %}

    </script>
    {{ parent() }}


{% endblock %}