<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <atom:link href="https://ragnacustoms.com/rss.xml" rel="self" type="application/rss+xml"/>
        <title>RagnaCustoms.com</title>
        <link>
        https://ragnacustoms.com</link>
        <description>All our catalog</description>
        {% for song in songs %}
            <item>
                {# <id>{{ url('song_detail',{slug:song.slug}) }}</id> #}
                <title>{{ song.name }} - {{ song.authorName }} new custom song for #Ragnaröck #VR</title>
                <guid>{{ url('song_detail',{slug:song.slug}) }}</guid>
                <description><![CDATA[New Song : {{ song.name }}<br/>{{ url('song_detail',{slug:song.slug}) }} ]]>
                </description>
                <link>{{ url('song_detail',{slug:song.slug}) }}</link>
                <image>
                    <url>https://ragnacustoms.com/{{ song.cover }}</url>
                </image>
                {# <url>{{ url('song_detail',{slug:song.slug}) }}</url> #}
                {# <link rel="alternate" type="text/html" href="{{ url('song_detail',{slug:song.slug}) }}"/> #}
                <pubDate>{{ song.createdAt.format('r') }}</pubDate>
            </item>
        {% endfor %}

    </channel>
</rss>