<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title>RagnaCustoms.com</title>
        <link>https://ragnacustoms.com</link>
        <description>All our catalog</description>
    {% for song in songs %}
        <item>
{#            <id>{{ url('song_detail',{id:song.id}) }}</id>#}
            <title>{{ song.name }} - {{ song.authorName }}</title>
{#            <GUID>{{ song.id }}</GUID>#}
            <description type="html"><![CDATA[New Song : {{ song.name}}<br/>{{ url('song_detail',{id:song.id}) }} ]]></description>
            <link>{{ url('song_detail',{id:song.id}) }}</link>
            <image>
                <url>https://ragnacustoms.com/covers/{{ song.id }}{{ song.coverImageExtension }}</url>
                <link>{{ url('song_detail',{id:song.id}) }}</link>
            </image>
{#            <url>{{ url('song_detail',{id:song.id}) }}</url>#}
{#            <link rel="alternate" type="text/html" href="{{ url('song_detail',{id:song.id}) }}"/>#}
{#            <pubDate>{{ song.createdAt.format('Y-m-d H:i') }}</pubDate>#}
        </item>
    {% endfor %}
    </channel>
</rss>