{% macro uploadedSong(song) %}
    <div class="col-md-3 score-frame">
        <div class="score">
            <div class="score-title text-center">
                <a class="delete-btn btn btn-sm btn-danger"
                   data-confirm="Delete it ?"
                   title="{{ "delete"|trans }}"
                   href="{{ url('delete_song',{id:song.id}) }}">
                    <i class="fas fa-trash"></i>
                </a>
                <a class="edit-btn btn btn-sm btn-info ajax-modal-form"
                   data-modal="#editSong" title="{{ "edit"|trans }}"
                   href="{{ url('edit_song',{id:song.id}) }}">
                    <i class="fas fa-edit"></i>
                </a>
                <a title="see statistics" class="img" href="{{ url('song_detail',{slug:song.slug}) }}#statistics">
                    <img data-src="/covers/{{ song.id }}{{ song.coverImageExtension }}" alt="{{ song.name }}"
                         class="img-fluid lazyload"/>
                </a>
                <h6>{{ song.name }}</h6>

            </div>
            <div class="score-body mt-2">
                <table class="table table-sm">
                    <tr>
                        <td>last update:</td>
                        <td>{{ song.lastDateUpload.format('Y-m-d') }}</td>
                    </tr>

                    <tr>
                        <td>feedback:</td>
                        <td>{{ songService.songFeedbackPublic(song)|length }}</td>
                    </tr>
                    <tr>
                        <td>note (nb vote):</td>
                        <td>{{ song.countVotes is not null and song.countVotes >0 ? (song.totalVotes/song.countVotes)|round(2):"0.00" }} ({{ song.countVotes is not null and song.countVotes >0 ? song.countVotes :0 }})
                        </td>
                    </tr>
                    <tr>
                        <td>downloads:</td>
                        <td class="">
                            {{ song.downloads }} ({{ song.uniqDownloads }} unique)</td>
                    </tr>
                    <tr>

                    <tr>
                        <td>views</td>
                        <td>
                           {{ song.views }} ({{ song.uniqViews }} unique)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro scoringSong(song, selected_season = null) %}
    <div class="col-md-2 score-frame">
        <div class="score">
            <div class="score-title text-center">
                <a class="img" href="{{ url('song_detail',{slug:song.slug}) }}">
                    <img data-src="/covers/{{ song.id }}{{ song.coverImageExtension }}" alt="{{ song.name }}"
                         class="img-fluid lazyload"/>
                </a>
                <h6>{{ song.name }}</h6>
                <div class="d-flex flex-fill justify-content-end text-center">
                    <a href="#" data-to-copy="!rc {{ song.id }}"
                       data-original-title="{{ "copied"|trans }}"
                       class="copy-clipboard btn btn-sm bg-twitch">
                        <i class="fab fa-twitch"></i>
                    </a>
                    {% set downloaded = downloadsService.alreadyDownloaded(song) %}
                    <a href="ragnac://install/{{ song.id }}" data-toggle="tooltip"
                       {% if downloaded %}title="{{ "Already downloaded"|trans }}"
                       {% else %}title="{{ "1 click downloader"|trans }}"{% endif %}
                       class="btn btn-sm {% if downloaded %}downloaded{% endif %} btn-danger ml-1">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="{{ url("song_direct_download",{id:song.id}) }}" {% if downloaded %}data-toggle="tooltip"
                       title="{{ "Already downloaded"|trans }}"{% endif %}
                       class="btn btn-sm {% if downloaded %}downloaded{% endif %} ml-1 btn-success">
                        {{ "Download"|trans }}
                    </a>
                </div>
            </div>
            <div class="score-body mt-2">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for diff in song.songDifficulties %}
                        {% if selected_season is null or selected_season in diff.seasons %}
                            <li class="nav-item">
                                <a class="nav-link{% if loop.index == 1 %} active{% endif %} text-level-{{ diff.difficultyRank.level }}"
                                   id="home-tab"
                                   data-toggle="tab" data-target="#level-{{ diff.id }}" type="button" role="tab"
                                   aria-controls="home" aria-selected="true">{{ diff.difficultyRank.level }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {% for diff in song.songDifficulties %}
                        {% if selected_season is null or selected_season in diff.seasons %}
                            <div style="min-height:100px;"
                                 class="tab-pane fade show{% if loop.index == 1 %} active{% endif %}"
                                 id="level-{{ diff.id }}" role="tabpanel" aria-labelledby="level-{{ diff.id }}-tab">
                                <table class="table table-sm">
                                    <tr>
                                        <th>#</th>
                                        <th>User</th>
                                        <th>Score</th>
                                    </tr>
                                    {% set imin = false %}
                                    {% for score in scoreService.scoresTop(selected_season, diff) %}
                                        {% if is_granted('ROLE_USER') %}
                                            {% if score.user.id == app.user.id %}
                                                {% set imin = true %}
                                            {% endif %}
                                        {% endif %}

                                        <tr {% if is_granted('ROLE_USER') and score.user.id == app.user.id %}class="text-level-{{ diff.difficultyRank.level }}"{% endif %}>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ score.user.username }}</td>
                                            <td class="text-right">{{ score.score }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no score for now</td>
                                        </tr>
                                    {% endfor %}
                                    {% if is_granted('ROLE_USER') and not imin %}
                                        {% set myrank = scoreService.getMine(app.user, diff, selected_season) %}
                                        {% if myrank != null %}
                                            {% if myrank['place'] != 4 %}
                                                <tr>
                                                    <td class="text-center" colspan="3">...</td>
                                                </tr>
                                            {% endif %}
                                            <tr class="text-level-{{ diff.difficultyRank.level }}">
                                                <td>{{ myrank['place'] }}</td>
                                                <td>{{ myrank["score"].user.username }}</td>
                                                <td class="text-right">{{ myrank["score"].score }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">You haven't played this song for now</td>
                                            </tr>
                                        {% endif %}
                                        {% set imin = false %}
                                    {% endif %}

                                </table>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>


            </div>
        </div>

    </div>
{% endmacro %}