{% macro uploadedSong(song) %}
    <div class="col-md-3 score-frame">
        <div class="score">
            <div class="score-title text-center">
                <a class="delete-btn btn btn-sm btn-danger"
                   data-confirm="Delete it ?"
                   title="{{ "delete"|trans }}"
                   href="{{ url('delete_song',{id:song.id}) }}">
                    <i class="fas fa-trash"></i>
                </a>
                <a class="edit-btn btn btn-sm btn-info ajax-modal-form"
                   data-modal="#editSong" title="{{ "edit"|trans }}"
                   data-url="{{ url('edit_song',{id:song.id}) }}"
                   href="{{ url('edit_song',{id:song.id}) }}"
                >
                    <i class="fas fa-edit"></i>
                </a>
                <a title="see statistics" class="img" href="{{ url('song_detail',{slug:song.slug}) }}#statistics">
                    <img src="{{ song.cover }}" alt="{{ song.name }}"
                         class="img-fluid"/>
                </a>
                <h6>{{ song|raw }}</h6>

            </div>
            <div class="score-body mt-2">
                <table class="table table-sm">
                    <tr>
                        <td>last update:</td>
                        <td>{{ song.lastDateUpload.format('Y-m-d') }}</td>
                    </tr>

                    <tr>
                        <td>feedback:</td>
                        <td>{{ songService.votePublicOrMine(app.user,song)|length }}</td>
                    </tr>
                    <tr>
                        <td>note (nb vote):</td>
                        <td>{{ song.voteAverage|round(2, "floor") }} ({{ song.countVotes is not null and song.countVotes >0 ? song.countVotes :0 }})
                        </td>
                    </tr>
                    <tr>
                        <td>downloads:</td>
                        <td class="">
                            {{ song.downloads }} ({{ song.uniqDownloads }} unique)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}
