{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <main class="wrapper">

        <section class="section-banner bg1 home-title">
            <h1>Mon compte</h1>
        </section>

        <section class="section-parallax static challenges-list">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'account-1',default:""})) }}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12 mt-2 mb-3"><label
                                class="bold">{{ "Personnalisez votre compte :"|trans }} </label><label>&nbsp;{{ "infos
                    obligatoires*"|trans }}</label></div>
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-5">
                            {{ form_widget(form.lastname) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "Nom"|trans }}<em>*</em></label>
                        </div>
                        <div class="form-group mb-5">
                            {{ form_widget(form.firstname) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "Prénom"|trans }}
                                <em>*</em></label>
                        </div>
                        <div class="form-group mb-5">
                            {{ form_widget(form.username) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "Identifiant"|trans }}<em>*</em></label>
                        </div>
                        <div class="form-group mb-5">
                            {{ form_widget(form.email) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "Mail"|trans }}
                                <em>*</em></label>
                        </div>
                        <div class="form-group mb-5">

                            {{ form_widget(form.levelMulti) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username"
                                   class="required">{{ "Niveau en multi"|trans }}</label>

                        </div>
                        <p class="mt-5 mb-5">{{ "Pour réinitialiser votre mot de passe veuillez vous deconnecter et passer
                            par mot de passe perdu."|trans }}</p>
                        {# <div class="mb-5"> #}
                        {# <label for="file" class="btn-custom btn-green active">Choisir une image de profil twitch</label> #}
                        {# <input id="file" class="input-file" type="file" accept="image/png, image/jpeg"> #}
                        {# </div> #}
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-5">
                            {{ form_widget(form.twitchID) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "ID Twitch"|trans }}</label>
                        </div>

                        <div class="form-group mb-5">
                            {{ form_widget(form.steamID) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "ID Steam"|trans }}</label>
                        </div>

                        <div class="form-group mb-5">
                            {{ form_widget(form.discordID) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "ID Discord"|trans }}<em>*</em></label>
                        </div>

                        <div class="form-group mb-5">
                            {{ form_widget(form.bannerlordID) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "ID Bannerlord"|trans }}</label>
                        </div>

                        <div class="form-group mb-5">
                            {{ form_widget(form.youtube) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username"
                                   class="required">{{ "Chaîne Youtube"|trans }}</label>
                        </div>
                        <div class="form-group mb-5">
                            {{ form_widget(form.twitter) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "Twitter"|trans }}</label>
                        </div>
                        <div class="form-group mb-5">
                            {{ form_widget(form.instagram) }}
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="registration_form_username" class="required">{{ "Instagram"|trans }}</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">{{ "Enregistrer"|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
                {% if parameter_service.value('enable_api_key')  %}
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'account-tuto',default:"Faire un tuto pour le placement du fichier"})) }}
                <br/>
                {{ "Votre clé API :"|trans }} <input type="text" value="{{ app.user.apiKey }}"/>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}