{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.levelMulti) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.steamID) }}
        {{ form_row(form.bannerlordID) }}
        {{ form_row(form.twitchID) }}
        {{ form_row(form.discordID) }}
        {{ form_row(form.youtube) }}
        {{ form_row(form.twitter) }}
        {{ form_row(form.babyProof) }}
        {{ form_row(form.displayOnTv) }}
    </div>
</div>

{{ form_widget(form) }}
<button class="btn btn-info">{{ 'Save'|trans }}</button>
<a class="btn btn-default confirm-action" title="Vous allez perdre toutes les informations non enregistrées" href="{{ path('user_admin_index') }}">{{ "back to list"|trans }}</a>

{{ form_end(form) }}
