{% for entity in paginator.entities %}
<div class="col-12 col-md-6 col-xl-4">
    <div class="card challenge-in-coming">
        <div class="card-img">
            <a class="link-to-chal" href="{{ url("challenge_participer",{id:entity.id}) }}">
                <img class="card-img-top"
                     src="{{ entity.banner is not empty ? asset('/uploads/challenge/banner/'~entity.banner) : asset('build/img_02.jpg') }}"
                     alt="img challenge">
            </a>
        </div>
        <div class="card-body">
            <a class="link-to-chal" href="{{ url("challenge_participer",{id:entity.id}) }}">
                <h5 class="card-title">{{ entity.title }}</h5>
                <div class="card-text d-flex justify-content-center align-items-center">
                    <div class="dates-icon text-right">
                        <i class="far fa-calendar-alt fa-2x ml-2"></i>
                    </div>
                    <div class="dates-challenges pl-2">
                        {% for dates in entity.challengeDates  %}
                            <label>{{ dates.startDate.format('d M. H:i') }} - {% if dates.startDate.format('d M') != dates.endDate.format('d M') and dates.endDate.format('H:i') != "00:00" %}{{ dates.endDate.format('d M. H:i') }}{% else %}{{ dates.endDate.format('H:i') }}{% endif%} </label>
                        {% endfor %}
                    </div>
                </div>
            </a>
            <div class="card-buttons row">
                <div class="col-12">
                    <p class="btn-cash"><label>{{ "Cash prize"|trans }}</label> {{ entity.cashPrize }} &euro;
                    </p>
                </div>
                {% if entity.isOpen %}
                    <div class="col-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ (entity.participations|length / entity.maxChallenger) * 100}}%"
                                 aria-valuenow="{{ (entity.participations|length / entity.maxChallenger) * 100}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <label class="text-center w-100 nb-inscrit">{{ entity.participations|length }}/{{ entity.maxChallenger }}
                            {{ "inscrits"|trans }}</label>
                    </div>
                    <div class="col-5">
                        <a href="{{ url("challenge_participer",{id:entity.id}) }}" class="btn btn-custom btn-bottom-right">{{ "S'inscrire"|trans}}</a>
                    </div>
                {% elseif entity.isPast %}
                    {% if entity.winner is not null %}<div class="col-7 nom-gagnant justify-content-center">
                        <div class="text-center"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="#FFAC33" d="M5.123 5h6C12.227 5 13 4.896 13 6V4c0-1.104-.773-2-1.877-2h-8c-2 0-3.583 2.125-3 5 0 0 1.791 9.375 1.917 9.958C2.373 18.5 4.164 20 6.081 20h6.958c1.105 0-.039-1.896-.039-3v-2c0 1.104-.773 2-1.877 2h-4c-1.104 0-1.833-1.042-2-2S3.539 7.667 3.539 7.667C3.206 5.75 4.018 5 5.123 5zm25.812 0h-6C23.831 5 22 4.896 22 6V4c0-1.104 1.831-2 2.935-2h8c2 0 3.584 2.125 3 5 0 0-1.633 9.419-1.771 10-.354 1.5-2.042 3-4 3h-7.146C21.914 20 22 18.104 22 17v-2c0 1.104 1.831 2 2.935 2h4c1.104 0 1.834-1.042 2-2s1.584-7.333 1.584-7.333C32.851 5.75 32.04 5 30.935 5zM20.832 22c0-6.958-2.709 0-2.709 0s-3-6.958-3 0-3.291 10-3.291 10h12.292c-.001 0-3.292-3.042-3.292-10z"/><path fill="#FFCC4D" d="M29.123 6.577c0 6.775-6.77 18.192-11 18.192-4.231 0-11-11.417-11-18.192 0-5.195 1-6.319 3-6.319 1.374 0 6.025-.027 8-.027l7-.001c2.917-.001 4 .684 4 6.347z"/><path fill="#C1694F" d="M27 33c0 1.104.227 2-.877 2h-16C9.018 35 9 34.104 9 33v-1c0-1.104 1.164-2 2.206-2h13.917c1.042 0 1.877.896 1.877 2v1z"/><path fill="#C1694F" d="M29 34.625c0 .76.165 1.375-1.252 1.375H8.498C7.206 36 7 35.385 7 34.625v-.25C7 33.615 7.738 33 8.498 33h19.25c.759 0 1.252.615 1.252 1.375v.25z"/></svg></div>
                        <label class="text-center w-100">{#{{ entity.participations|length }}#}
                            {{ entity.winner.user.username }}</label>
                    </div>
                        {% endif %}
                    <div class="col-5">
                        <a href="{{ url("challenge_participer",{id:entity.id}) }}#classement" class="btn btn-custom btn-bottom-right">{{"Résultats"|trans}}</a>
                    </div>
                {% elseif entity.isFuture %}
                    <div class="col-10"><p class="btn-in-coming">{{"Inscriptions à partir du"|trans}}
                            <label>{{ entity.registrationOpening.format('d/m') }}</label>
                    </div>
                    <div class="col-2 alert-bell">
                        <a data-target="#alert-futur-modal" data-toggle="modal" href="#">
                            <i class="fa fa-2x fa-bell"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{# Modal alert bell #}
<div class="modal fade" id="alert-futur-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{"Restez en alerte !"|trans}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <i class="flag flag-right"></i>
            <i class="flag flag-left"></i>
            <div class="modal-body">
                <form action="{{ url('newsletter_register_challenge') }}" method="get" class="">
                    <div class="msg-mail-alert">
                        <p class="mb-3">{{ "Afin de recevoir une alerte lorsque l'incription sera ouverte, merci de bien
                            renseigner votre email :"|trans}}</p>
                    </div>
                    <div class="mail-input-alert form-group focused mb-4">
                        <input type="email" id="email" name="newsletter_email" required>
                        <input type="hidden" id="challenge" name="newsletter_challenge" value="{{ entity.id }}">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="email" class="required">{{ "Email"|trans }}</label>
                    </div>
                    <div class="send-mail-alert"><button type="submit" class="btn btn-custom btn-green active">{{ "Envoyer"|trans }}</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
{{ macro_pagination.seeMore(paginator,'Voir plus'|trans,'btn btn-block btn-warning') }}
