{% extends 'base.html.twig' %}

{% block title %}{{ "Our Application"|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="card mt-4">
        <div class="card-header">
        <h2>{{ "Our Application"|trans }}</h2>
        </div>
        <div class="card-body">
        <p class="pt-2">{{ "Our application is magic! It creates the necessary folders and unzips the files in the right place, it also renames the folder with the song title for optimal in-game song ordering."|trans }}</p>
        <p class="pt-2">{{ "It also allows you to search through the catalogue and download without even visiting the website. A one-click option is also enabled for even simpler downloads!"|trans }}</p>
        <p class="pt-2">{{ "You only need to install the application once, future updates are automatic."|trans }}</p>
        <p class="pt-5">{{ "You can get the executable by clicking on the button below:"|trans }}</p>

{#        <p class="pt-2">{{ "Here are some screenshots:"|trans }}</p>#}
{#        <img src="/apps/01.png" alt="screenshot 1"/>#}
{#        <img src="/apps/02.png" alt="screenshot 2"/>#}

        <p class="pt-2">
            <a class="btn btn-info" href="https://github.com/pkshetlie/RagnaCustomsApp/releases/download/1.3.0/RagnaCustoms.Installer.msi" target="_blank">Download the installer</a>
            <br/>or<br/>
            <a href="https://github.com/pkshetlie/RagnaCustomsApp/releases" target="_blank"><img style="max-height:72px;" src="/apps/get-it-on-github.png" alt="get it on github"/></a>
        </p>

    </div>
    </div>


{% endblock %}
