{% extends 'base.html.twig' %}

{% block title %}{{ "Our Application"|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="card mt-4">
        <div class="card-header">
        <h2>{{ "Our Application"|trans }}</h2>
        </div>
        <div class="card-body">
        <p class="pt-2">{{ "Our application is Magic! It creates all the folders need and unzip files at the right place, it also rename the folder with the song title for a better experience in game."|trans }}</p>
        <p class="pt-2">{{ "Our application allows you to search in the catalog any song and download it."|trans }}</p>
        <p class="pt-2">{{ "Our application allows you to download song with only 1 click on the website."|trans }}</p>
        <p class="pt-2">{{ "You need to install our application once, Then the autoupdater do the job ;)"|trans }}</p>
        <p class="pt-5">{{ "Please get and launch the .msi file"|trans }}</p>

{#        <p class="pt-2">{{ "Here are some screenshots:"|trans }}</p>#}
{#        <img src="/apps/01.png" alt="screenshot 1"/>#}
{#        <img src="/apps/02.png" alt="screenshot 2"/>#}

        <p class="pt-2">
            <a href="https://github.com/pkshetlie/RagnaCustomsApp/releases" target="_blank"><img style="max-height:72px;" src="/apps/get-it-on-github.png" alt="get it on github"/></a>
        </p>

    </div>
    </div>


{% endblock %}
