{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pb-5">
    <div class="row">
        <div class="col-12 mt-4">
            <h1>Our Softwares</h1>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="overlay"></div>
                    <img src="{{ asset('apps/ragna.jpg') }}" >
                    <h2>{{ "RagnaCustoms.exe"|trans }}</h2>
                </div>
                <div class="card-body">
                    <p>{{ "By installing this application you enable the one click download, then you also can use it for
                    twitch requests and streaming overlay."|trans }}</p>
                    <a href="https://github.com/pkshetlie/RagnaCustomsApp/releases" target ="_blank" class="btn btn-block btn-lg btn-primary">{{ "Go
                    to download page"|trans }} <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="overlay"></div>
                    <img src="{{ asset('apps/mapevaluator.jpg') }}">
                    <h2>{{ "Map evaluator"|trans }} <span class="badge badge-info">beta</span></h2>
                </div>
                <div class="card-body">
                    <p>{{ "Online tool to check level of the custom song you made. It's a beta test for mapper who really
                        don't know how to define the level of a song. It can be wrong, it don't have feelings."|trans}}</p>
                    <a href="{{ path('map_evaluator') }}" class="btn btn-block btn-lg btn-primary">{{ "Try my map"|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <h1>Community Softwares & Tools</h1>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="overlay"></div>
                    <img src="{{ asset('apps/edda.jpg') }}">
                    <h2>{{ "Edda" }}</h2>
                </div>
                <div class="card-body">
                    <p>{{ "The defacto editor for Ragnarock. Created by PkBeam, Edda is a user-friendly program that allows
                    you to map custom songs for
                    Ragnarock VR on Steam and Quest."|trans }}</p>
                    <a href="https://pkbeam.github.io/Edda/" target ="_blank" class="btn btn-block btn-lg btn-primary">{{ "Official
                    website"|trans }} <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="overlay"></div>
                    <img src="{{ asset('apps/bifrost.png') }}">
                    <h2>{{ "Bifrost" }}</h2>
                </div>
                <div class="card-body">
                    <p>{{ "A simple stat graphic generator for Ragnarock videos and other content, creates both end-screen stats and song info screen."|trans }}</p>
                    <a href="https://unforeseenocean.github.io/Bifrost/" target ="_blank" class="btn btn-block btn-lg btn-primary">{{ "Go to"|trans }} <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>


    </div>
    </div>
{% endblock %}

{% block title %}
    Ragnarock VR custom song applications
{% endblock %}

