{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Vue caster"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Casters"|trans }}
                    </h3>
{#                        <a href="{{ url('admin_leaderboard_index') }}" class="float-right" target="_blank">Lien leaderboard <i class="fas fa-external-link-alt"></i></a>#}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h3>Participants ({{ participations|length }})</h3>
                            <table class="dataTable table table-striped table-sm">
                               <thead>
                               <tr>
                                    <th>Joueur</th>
                                    <th class="text-right">Best run</th>
                                    <th class="text-right">Run en cours</th>
                                    <th class="text-right">Nb. run</th>
                                    <th class="text-right" title="Points non malussables">Pts NM.<br/>(multi)</th>
                                    <th class="text-right" title="Points malussables">Pts M.<br/>(solo)</th>
                                    {% for setting in challenge.challengeSettings %}
                                        {% if setting.displayBestForStats %}
                                            <th class="text-right">{{ setting.statLabel }} (best)</th>
                                        {% endif %}
                                        {% if setting.displayForStats %}
                                            <th class="text-right">{{ setting.statLabel }} (cumul)</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                               </thead>
                                <tbody>{% for participation in participations %}
                                    {% set challenger = participation.user %}
                                    {% if participation.arbitre is not null %}
                                        <tr>
                                            <td>
                                                <a href="{{ url('admin_runs_info',{'id': challenger.id,'id_challenge':challenge.id}) }}" class="" target="_blank">{{ challenger.username }}</a>
                                            </td>
                                            {% set bestScore = challenger.bestScore(challenge) %}
                                            {% set nonMalusable = challenger.nonMalusableScore(challenge) %}
                                            <td class="text-right">{{ bestScore|number_format(0,',','') }}</td>
                                            <td class="text-right">{{ challenger.currentScore(challenge)|number_format(0,',','') }}</td>
                                            <td class="text-right">{{ challenger.countRun(challenge)|number_format(0,',','') }}</td>
                                            <td class="text-right">{{ nonMalusable|number_format(0,',','') }}</td>
                                            <td class="text-right">{{ (bestScore-nonMalusable)|number_format(0,',','') }}</td>
                                            {% for setting in challenge.challengeSettings %}
                                                {% if setting.displayBestForStats %}
                                                    <td class="text-right">{{ challenger.runBestSettingValue(setting, challenge)|number_format(0,',','') }}</td>
                                                {% endif %}
                                                {% if setting.displayForStats %}
                                                    <td class="text-right">{{ challenger.runCumulSettingValue(setting, challenge)|number_format(0,',','') }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bo_caster') }}
{% endblock %}
{# <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a> #}

