{% extends 'base.html.twig' %}

{% block title %}{{ "Feedbacks on my custom songs"|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ "Feedbacks on my custom songs"|trans }}</h1>
            {% for feedback in feedbacks %}
                <div>{{ feedback.song.name }}</div>
                <div>
                    {% if feedback.isAnonymous %}
                        <b>Anonymous : </b>
                    {% else %}
                        <b>{{ feedback.user.username }} : </b>
                    {% endif %}
                    {{ feedback.feedback }}
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
