{% extends 'base_login.html.twig' %}

{% block title %}Register{% endblock %}

{% block login_form %}
    <div class="card-header bg-white">
        <div class="text-muted text-center "><small>{{ "Sign up"|trans }}</small></div>
    </div>
    <div class="card-body content_register">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        <div class="col-6">
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
         <div class="col-6">
             {{ form_row(registrationForm.twitchID) }}
             {{ form_row(registrationForm.discordID) }}
            <!-- Here comes the differents id and channels -->
            <!-- Twitch channel  -->
            <!-- Youtube channel  -->
            <!-- Twitter channel  -->
            <!-- Steam ID  -->
            <!-- Bannerlord ID  -->
         </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-custom btn-green">{{ "Register"|trans }}</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
