{% extends "user/profile.html.twig" %}
{% import "songs/macros/song.html.twig" as macro_song %}
{% import "@Pagination/Pagination/macro.twig" as macro_pagination %}

{% block detailed_content %}
    <div class="col-12">
        <h2>{{ "Last songs played"|trans }}</h2>
        <table class="table songs">
            <tr>
                <th>{{ "Song"|trans }}</th>
                <th class="text-right">{{ "Level played"|trans }}</th>
                <th class="text-right">{{ "Score"|trans }}</th>
            </tr>
{#            {% for score in pagination.entities %}#}
{#                {% set song = songService.getByhash(score.hash) %}#}
{#                <tr>#}
{#                    <td class="song-preview tiny">#}
{#                        {{ macro_song.description(song) }}#}
{#                    </td>#}
{#                    <td class="text-right">{{ score.difficulty }}</td>#}
{#                    <td class="text-right">{{ score.score }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
        </table>
        <div class="text-left pagination">
            {{ "Pages:"|trans }} {{ macro_pagination.paginate(pagination) }}
        </div>

    </div>
{% endblock %}