{% extends "user/profile.html.twig" %}
{% import "songs/macros/song.html.twig" as macro_song %}
{% block header_content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ "User profile"|trans }}</h1>
        </div>
    </div>
    <div class=row>
        <div class="col-md-3">
            <div class="user-picture">
                <img {{ stimulus_target('mapper-profile', 'img') }}
                        src="{{ user.gravatar }}"
                        class="avatar big-rounded mb-4 img-fluid"
                        alt="{{ user.username }}"/>
                {% if user.songs|length > 0 %}
                    <a class="btn btn-lg btn-warning btn-block"
                       href="{{ url('mapper_profile', {username:user.username}) }}">
                        {{ "View mapper profile"|trans }}
                    </a>
                {% endif %}

                <div class="friend-request">
                {% include 'user/partial/friend_request.html.twig' with {user:user} %}
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="username">
                <h2>
                    {% if user.country is not null %}
                        <img
                                src="https://flagcdn.com/24x18/{{ user.country.twoLetters|lower }}.png"
                                alt="{{ user.country }}"
                                title="{{ user.country }}">
                    {% endif %}
                    {{ membershipService.displayUsername(user, false)|raw }}
                </h2>
            </div>
            <div class="tags">
                {% if user.songs|length > 0 %}
                    <span title="Has released at least one map" data-toogle="tooltip">
                    {{ "Mapper"|trans }}
                    </span>
                {% endif %}
                {#                {% if user.certified|length > 0 %}<span>{{ "Certified"|trans }}</span>{% endif %} #}
                {% if user.rankedSong|length > 0 %}
                    <span title="Has at least one ranked map" data-toogle="tooltip">
                        {{ "Ranked"|trans }}
                    </span>
                {% endif %}

                {% if grantedService.isGranted(user, 'ROLE_MODERATOR') %}
                    <span title="Is a good guy" data-toogle="tooltip">
                        {{ "Staff"|trans }}
                    </span>
                {% endif %}
            </div>

            <div class="row mt-3">
                <div class="col-md-2">
                    <div class="mini-box">
                        <div class="numeric">
                            <i class="fas fa-vr-cardboard" style="font-size:14px;"></i>
                            #{{ scoreService.generalLeaderboardPosition(user, null, true)??" -" }}
                        </div>
                        <div class="text">{{ "VR rank"|trans }}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mini-box">
                        <div class="numeric">
                            <i class="fas fa-gamepad" style="font-size:14px;"></i>
                            #{{ scoreService.generalLeaderboardPosition(user, null, false)??" -" }}
                        </div>
                        <div class="text">{{ "VoT rank"|trans }}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mini-box">
                        <div class="numeric">{{ user.scoreHistories|length }}</div>
                        <div class="text">{{ "Songs played"|trans }}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mini-box">
                        <div class="numeric">{{ user.songs|length }}</div>
                        <div class="text">{{ "Songs mapped"|trans }}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mini-box">
                        <div class="numeric">{{ user.votes|length }}</div>
                        <div class="text">{{ "Reviews send"|trans }}</div>
                    </div>
                </div>
            </div>

            {% if user.scores|length > 0 %}
                <div class="graph mt-4">
                    <div>
                        {% set totalDistance = statisticService.getTotalDistance(user)/100 %}
                        <div class="label">{{ "Distance"|trans }}</div>
                        <div class="total-bar">{{ totalDistance|number_format(2,'.',',') }}m</div>
                        <div class="avg">
                            <div class="avg-bar"
                                 style="width:50%">{{ (totalDistance/user.scores|length)|number_format(2,'.',',') }}
                                m
                            </div>
                            <div class="avg-text">{{ "avg. per song"|trans }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div>
                        <div class="label">{{ "Notes hit"|trans }}</div>
                        <div class="total-bar">{{ statisticService.totalNotesHit(user)|number_format(0,'.',',') }}</div>
                        <div class="avg">
                            {% set avg2 = (statisticService.totalNotesHit(user)/user.scores|length) %}
                            <div class="avg-bar"
                                 style="width:50%;">{{ avg2|number_format(0,'.',',') }}</div>
                            <div class="avg-text">{{ "avg. per song"|trans }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="col-md-4 text-right">

        </div>
    </div>
{% endblock %}

{% block detailed_content %}
    <div class="row">
        <div class="col-md-6">
            <h2>{{ "Top Scores"|trans }}</h2>

            {% import "widget/order_link.html.twig" as macro_order %}
            <table class="table songs recently-played">
                <tr>
                    <th  style="width:250px;">{{ "Song title"|trans }}</th>
                    <th class="">{{ "Difficulty"|trans }}</th>
                    <th class=""></th>
                    <th class="">{{ "Distance"|trans }}</th>
                    <th class="">
                        {{ macro_order.order_link("Raw PP","score") }}<br/>
                        <small title="Weighted PP">{{ "W. PP"|trans }}</small>
                    </th>
                    <th class="">
                        {{ macro_order.order_link("Date","date") }}
                    </th>
                    <th class="">
                        {{ "Stats"|trans }}
                    </th>
                </tr>

                {% for score in pagination.entities %}
                    {% include 'songs/partial/song_row_recently_played_with_weighted.html.twig' with {score:score} %}
                {% endfor %}
            </table>
            {% include 'widget/paginate.html.twig' with {pagination:pagination} %}

        </div>
        <div class="col-md-6">
            <h2>{{ "Public playlist"|trans }}</h2>
            <div class="row">
            {% for playlist in user.publicPlaylists %}
                <div class="col-md-6 mb-4">
                    <div class="playlist">
                        <div class="header">
                            {% for song in playlist.songs %}
                                {% if loop.index <= 6 %}
                                    <img src="{{ song.cover }}" alt="{{ song.name }}" class="img-fluid"
                                    >
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="header-overlay"></div>

                        <div class="title">
                            <h2>{{ playlist.label }}</h2>
                        </div>
                        <div class="count">{{ playlist.songs|length }}
                        </div>

                        <div class="resume">
                            <table class="table table-condensed">
                                <tbody>
                                {% for song in playlist.songs %}
                                    <tr>
                                        <td class="p-1">
                                            {{ song.name }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>No song</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="buttons btn-group">
                            <a href="{{ url("playlist_show",{id:playlist.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}