{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <main class="wrapper">

        <section class="section-banner bg1 home-title">
            <h1>{{ "Nos challenges"|trans }}</h1>
        </section>

        <section class="section-parallax static challenges-list">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'challenge-1',default:""})) }}
                <div class="row">
                  {% include 'frontend/challenge/partial/challenges.html.twig' with {paginator:paginator} %}
                </div>
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'challenge-2',default:""})) }}
            </div>
        </section>
    </main>
{% endblock %}