{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <main class="wrapper">

        <section class="section-banner bg1 home-title">
            <h1>{{ challenge.title }}</h1>
        </section>

        {# ================ Structure de test ! ================ #}

        {# infos globales/inscription #}
        <section class="section-parallax static challenge-global">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex flex-wrap">
                        <div class="col-12 col-md-4 row justify-content-center">
                            <div>
                                <img class="card-img-top" src="{{ asset('build/img_02.jpg') }}" alt="img challenge">
                            </div>
                        </div>
                        <div class="col-12 col-md-8 row">
                            <div class="col-md-12 d-flex title-challenge-details">
                                <h2 class="col-12">{{ challenge.title }}</h2>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap time-globals">
                                <div class="d-flex col-12 col-lg-6 justify-content-center">
                                    <div class="icon-global"><i class="fa-2x far fa-calendar-alt "></i></div>
                                    <div class="heures-challenges">
                                        {% for dates in challenge.challengeDates %}
                                            <label>{{ dates.startDate.format('d M. H:i') }}
                                                - {% if dates.startDate.format('d M') != dates.endDate.format('d M') and dates.endDate.format('H:i') != "00:00" %}{{ dates.endDate.format('d M. H:i') }}{% else %}{{ dates.endDate.format('H:i') }}{% endif %} </label>
                                            <br>
                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center text-center">
                                    <div>
                                        <label class="font-weight-bold">{{ challenge.participations|length }}</label>&nbsp;<label>{{ "Challengers"|trans }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap encart-global">

                                <div class="col-12 col-lg-6 d-flex align-items-center text-center justify-content-center">
                                    {% if challenge.isFuture %}
                                        Ce challenge n'est pas encore ouvert
                                    {% elseif challenge.isPast %}
                                        {% if challenge.winner is not null %}
                                            <a href="#" class="btn btn-custom btn-green infos-toornament">{{ "Vainqueur :"|trans }}
                                            <br><b>{{ challenge.winner.user.username }}</b></a>
                                        {% endif %}
                                    {% else %}
                                        {% if is_granted('ROLE_USER') %}
                                            {% set participation = app.user.participation(challenge) %}
                                            {% if participation is not null %}
                                                {% if participation.enabled %}
                                                    <a href="#" class="btn btn-custom btn-green infos-toornament">
                                                        {{"Votre inscription est validée"|trans}}
                                                    </a>
                                                {% else %}
                                                    <a href="#" class="btn btn-custom btn-grey infos-toornament">
                                                        {{ "Votre inscription est en attente de validation"|trans }}
                                                    </a>
                                                {% endif %}
                                            {% elseif challenge.participations|length < challenge.maxChallenger %}
                                                {{ form(form) }}
                                            {% endif %}
                                        {% else %}
                                    {{"Vous devez être connecté pour vous inscrire."|trans}}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                {# Pour un bouton d'infos (non actif) ne pas lui mettre la classe "active"} #}
                                {#
                                <a href="#" class="btn btn-custom btn-grey active">Bouton actif gris</a>
                                <a href="#" class="btn btn-custom btn-red">Bouton non actif rouge</a>
                                <a href="#" class="btn btn-custom btn-green active">Bouton actif vert</a>
                                #}
                                <div class="col-12 col-lg-6 text-right">
                                    <div class="justify-content-center text-center mb-1">
                                        <a href="#" class="btn btn-custom btn-grey">{{ challenge.typeStr }}</a>

                                        <div>
                                            {# <label class="font-weight-bold">Vainqueur #}
                                            {# :</label>&nbsp;<label>Resuprobe</label> #}
                                        </div>
                                    </div>
                                    <a href="#"
                                       class="btn btn-custom btn-red"><label>{{ challenge.cashPrize }}</label>&nbsp;<label>euros</label></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# infos detailles #}
        <section class="section-parallax static challenge-details">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {# --- Onglets --- #}
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="presentation-tab" data-toggle="tab" href="#presentation"
                                   role="tab" aria-controls="presentation" aria-selected="true">{{"Présentation"|trans}}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="reglement-tab" data-toggle="tab" href="#reglement" role="tab"
                                   aria-controls="reglement" aria-selected="false">{{"Règlement"|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="bareme-tab" data-toggle="tab" href="#bareme" role="tab"
                                   aria-controls="bareme" aria-selected="false">{{"Barème"|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="infos-tab" data-toggle="tab" href="#participants" role="tab"
                                   aria-controls="infos" aria-selected="false">{{ "Participants"|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="infos-tab" data-toggle="tab" href="#classement" role="tab"
                                   aria-controls="infos" aria-selected="false">{{ "Classement"|trans }}</a>
                            </li>
                            {% if is_granted('ROLE_USER') and (challenge.displayRulesAndRatiosBeforeStart or challenge.started) %}
                                <li class="nav-item">
                                    <a class="nav-link" id="infos-tab" data-toggle="tab" href="#training" role="tab"
                                       aria-controls="training" aria-selected="false">{{ "Entrainement"|trans }}</a>
                                </li>
                            {% endif %}
                        </ul>
                        {# --- Contenu onglets --- #}
                        <div class="tab-content" id="tab-content-challenge">
                            {# Onglet présentation #}
                            <div class="tab-pane fade show active" id="presentation" role="tabpanel"
                                 aria-labelledby="presentation-tab">
                                {{ challenge.description|raw }}
                            </div>

                            <div class="tab-pane fade show" id="bareme" role="tabpanel"
                                 aria-labelledby="bareme-tab">
                                {% if is_granted('ROLE_ADMIN') or (challenge.displayRulesAndRatiosBeforeStart or challenge.started) %}
                                    {# ᓚᘏᗢ #}
                                    {% if is_granted('ROLE_ADMIN') and not (challenge.displayRulesAndRatiosBeforeStart or challenge.started) %}
                                        <small>{{ "vous voyez cette section car vous etes administrateur"|trans }}</small>
                                    {% endif %}
                                    {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'bareme-challenge-'~challenge.id,default:"Bientôt le barème"})) }}
                                    {% if challenge.theFile is not null %}
                                        <h2>{{ "Fichier joint"|trans }}</h2>
                                        <a target="_blank"
                                           href="{{ asset('/uploads/challenge/files/'~challenge.theFile) }}">
                                            {{"Télécharger le fichier"|trans}}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <p>{{"Le barème officiel sera dévoilé le jour de l'événement sur la chaine
                                        officielle."|trans}}</p>
                                {% endif %}
                            </div>
                            {# Onglet Infos #}
                            <div class="tab-pane fade row" id="participants" role="tabpanel"
                                 aria-labelledby="infos-tab">
                                <div class="row">
                                    {% for participant in challenge.participations %}
                                        <div class="col-md-3 col-12 mb-2">
                                            <a href="#" onclick="alert('Bientôt disponible.');" class="d-block p-4"
                                               style="border: 1px solid #d3d3d3 ">{{ participant.user.username }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {# Onglet Règlement #}
                            <div class="tab-pane fade" id="reglement" role="tabpanel" aria-labelledby="reglement-tab">
{#                                {% if (challenge.displayRulesAndRatiosBeforeStart or challenge.started) %}#}
                                    {% set type = null %}
                                    <ul>
                                    {% for rule in challenge.rules %}
                                        {% if type != rule.type %}
                                            </ul>
                                            <h2>{{ rule.typeStr }}</h2>
                                            <ul>
                                            {% set type = rule.type %}

                                        {% endif %}
                                        <li>{{ rule.label }}</li>
                                    {% endfor %}
                                    </ul>
{#                                {% else %}#}
{#                                    <p>Ces informations sont cachées jusqu'à l'ouverture du challenge</p>#}
{#                                {% endif %}#}
                            </div>
                            <div class="tab-pane fade" id="classement" role="tabpanel" aria-labelledby="classement-tab">
                                <table class="table">
                                    <tr>
                                        <th>{{ "Position"|trans }}</th>
                                        <th>{{ "Joueur"|trans }}</th>
                                        <th class="text-right">{{ "Meilleur score"|trans }}</th>
                                        <th class="text-right">{{ "Nombre de run"|trans }}</th>
                                    </tr>
                                    {% for participation in leaderboard %}
                                        {% set challenger = participation.user %}
                                        {% if participation.arbitre is not null %}
                                            <tr>
                                                <td>#{{ loop.index }}</td>
                                                <td>
                                                    <b>{{ challenger.username }}</b>
                                                </td>
                                                <td class="text-right">{{ challenger.bestScore(challenge)|number_format(0,',','') }}</td>
                                                <td class="text-right">{{ challenger.countRun(challenge)|number_format(0,',','') }}</td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                            {% if is_granted('ROLE_USER') and (challenge.displayRulesAndRatiosBeforeStart or challenge.past) %}
                                <div class="tab-pane fade" id="training" role="tabpanel" aria-labelledby="training-tab">
                                    <a href="{{ url('challenge_training',{id:challenge.id}) }}"
                                       class="btn btn-success ">{{ "Nouvel entrainement"|trans }}</a>
                                    <div class="row mt-5">
                                        {% for run in  app.user.getTrainingRun(challenge) %}
                                            <div class="col-4">
                                                <table class="table table-sm">
                                                    <tr>
                                                        <th colspan="3" class="text-center bg-gray disabled">Run
                                                            n°{{ loop.index }}
                                                            {# {% if run.comment is not empty %} <i #}
                                                            {# data-toggle="tooltip" #}
                                                            {# title="{{ run.comment }}" #}
                                                            {# class="fas text-info fa-info-circle"></i> #}
                                                            {# {% endif %} #}
                                                            {# {% if is_granted('ROLE_ARBITRE') %} #}
                                                            <a class="" href="{{ url('run_edit',{id:run.id}) }}">
                                                                <i class="fas fa-edit"></i>
                                                            </a>&nbsp;&nbsp;&nbsp;
                                                            {# {% endif %} #}
                                                            {# {% if is_granted('ROLE_ADMIN') and app.user.babyProof == false %} #}
                                                            {# <a class="" onclick="return confirm('La suppression de cette run va engendrer un décalage des malus, voulez-vous continuer ?')" #}
                                                            {# href="{{ url("run_admin_delete",{id:run.id}) }}"> #}
                                                            {# <i class="fas fa-trash"></i> #}
                                                            {# </a>&nbsp;&nbsp;&nbsp; #}
                                                            {# {% endif %} #}
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3"
                                                            class="text-center">{{ run.startDate.format('d/m/Y H:i') }}
                                                            - {{ run.endDate is empty? 'En cours'|trans :run.endDate.format('d/m/Y H:i') }} </th>
                                                    </tr>
                                                    <tr>
                                                        <th>{{"Libellé"|trans}}</th>
                                                        <th>{{ "Valeur"|trans }}</th>
                                                        <th>{{ "Pts"|trans }}</th>
                                                    </tr>
                                                    {% set total = 0 %}

                                                    {% for setting in run.runSettings %}

                                                        {% set points = setting.value matches '/^(-|)\\d+$/' ? setting.value * setting.challengeSetting.ratio :0 %}
                                                        <tr {% if setting.challengeSetting.isStepToVictory %}
                                                            {% if setting.isCompleted %}
                                                                class="bg-green "
                                                            {% else %}
                                                                class="bg-orange"
                                                            {% endif %}
                                                                {% endif %}>
                                                            <td>
                                                                <small><b>{{ setting.challengeSetting.label }}</b></small>
                                                            </td>
                                                            <td class="text-right"><b>{{ setting.value }}</b></td>
                                                            <td class="text-right"><b>{{ points }}</b></td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td colspan="2"><b>{{ "Total"|trans }}</b></td>
                                                        <td class="text-right">{{ run.score }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><b>{{ "Total avec malus"|trans }} ({{ (1-run.malus)*100 }}
                                                                %)</b></td>
                                                        <td class="text-right">{{ run.computedScore }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // setTimeout(function(){
        //     window.location.reload();
        // },30*1000);
    </script>

{% endblock %}