{% extends 'base.html.twig' %}
 {% block metas %}
     <meta name="description" value="{{ playlist.description }}">
     <meta property="og:description" value="{{ playlist.description }}">
     <meta property="og:url" content="{{ url('playlist_show',{id:playlist.id}) }}"/>
     <meta property="og:type" content="website"/>
     <meta property="og:title"
           content="{{ playlist.label }}, a {{ playlist.user.username }}'s Playlist | RagnaCustoms.com"/>
 {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('playlist') }}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mt-3">
            <div class="col-md-3">
                {% include 'user/partial/_left_part_user.html.twig' %}
            </div>
            <div class="col-md-5">
                <h2>{{ "Edit your playlist"|trans }}</h2>
                {{ form_start(form) }}
                {{ form_row(form.label) }}
                {{ form_row(form.description) }}
                {{ form_widget(form.isPublic) }} {{ form_label(form.isPublic) }}
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
            <div class="col-md-4">
                {% include "songs/partial/song_row_div.html.twig" with {songs:playlist.songs, edit:true, playlist:playlist} %}

            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ playlist.label }}, a {{ playlist.user.username }}'s Playlist
{% endblock %}

