{% extends 'base.html.twig' %}
 {% block metas %}
     <meta name="description" value="{{ playlist.description }}">
     <meta property="og:description" value="{{ playlist.description }}">
     <meta property="og:url" content="{{ url('playlist_show',{id:playlist.id}) }}"/>
     <meta property="og:type" content="website"/>
     <meta property="og:title" content="{{ playlist.label }}, a {{ user.username }}'s Playlist | RagnaCustoms.com"/>
 {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('playlist') }}
{% endblock %}


{% block body %}
    <div class="container-fluid" {{ stimulus_controller('playlist') }}>
        <div class="row p-5">
            <div class="col-md-6">
                <h1 class="">
                    {{ playlist.label }} <small>a {{ playlist.user.username }}'s Playlist</small></h1>
            </div>
            <div class="col-md-4">
                {% apply markdown_to_html %}
                    {{ playlist.description is not null ? playlist.description|striptags|nl2br : "no description for now"|trans }}
                {% endapply %}
            </div>
            <div class="col-md-2">
                <form method="post" class="text-center">
                    <button data-toggle="tooltips" title="{{ "Download playlist with the app"|trans }}" type="submit"
                            name="oneclick_dl" value="42" class="btn btn-sm btn-danger"
                            data-confirm="{{ "You are going to download a lot of custom songs and it can take a while, do you want to continue?"|trans }}">
                        <i class="fas fa-download"></i> download the playlist
                    </button>
                </form>
            </div>
        </div>

        <div class="songs p-4">
            <h2>Songs</h2>
            <div class="row">
                {% for song in playlist.songs %}
                    <div class="col-md-3">
                        <div class="row mb-2"  style="border:1px solid #3c3c3c">
                            <div class="col-3 pl-0">
                                <a href="{{ url('song_detail',{slug:song.slug}) }}">
                                    <img src="{{ song.cover }}" class="small-cover img-fluid" alt="cover"/>
                                </a>
                            </div>
                            <div class="col-6 song pl-1 pt-3">
                                <div class="title text-warning">
                                    {{ song|raw }}
                                </div>
                                {% include 'songs/partial/artists.html.twig' with {song : song} %}
                            </div>
                            <div style="width:50px; height:50px;">
                                <div style="">
                                    {% include 'song_partial/circle_button.html.twig' with {song:song} %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ playlist.label }}, a {{ user.username }}'s Playlist
{% endblock %}

