{% extends 'base_backoffice.html.twig' %}

{% block title %}Parametres{% endblock %}

{% block content %}
    <h1>AgnTemporaryParameter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agn_temporary_parameter.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ agn_temporary_parameter.label }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ agn_temporary_parameter.slug }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ agn_temporary_parameter.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agn_temporary_parameter_index') }}">back to list</a>

    <a href="{{ path('parameter_edit', {'id': agn_temporary_parameter.id}) }}">edit</a>

    {{ include('agn_temporary_parameter/_delete_form.html.twig') }}
{% endblock %}
