{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Arbitrage"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Arbitrage"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h3>Participants ({{ participations|length }})</h3>
                            <ul class="twitcher m-0 p-0" style="list-style-type: none; ">
                                <li class="m-0 mb-1" style="">
                                    <a
                                            class="btn text-left btn-xs btn-flat btn-block bg-red"
                                            href="#"
                                            data-participation=""
                                            data-challenger=""
                                            data-challenge="{{ challenge.id }}"

                                                data-url="https://player.twitch.tv/?channel=hardcorechallengetv&parent={{ app.request.server.get('HTTP_HOST')|replace({":8000":'',":80":''}) }}&muted=true"
                                    >
                                       Chaine officielle
                                    </a>

                                </li>
                                {% for participation in participations %}
                                    {% set challenger = participation.user %}

                                    <li class="m-0 mb-1" style="">
                                        <a
                                                class="btn text-left btn-xs btn-flat btn-block {% if participation.arbitre is null %}bg-black{% elseif participation.arbitre.id == app.user.id %}bg-purple{% else %}bg-gray{% endif %}"
                                                href="#"
                                                title="{{ challenger.twitchID is empty ? challenger.discordID : challenger.twitchID }}"
                                                data-participation="{{ participation.id }}"
                                                data-challenger="{{ challenger.id }}"
                                                data-challenge="{{ challenge.id }}"
                                                data-discordid="{{ challenger.discordID }}"
                                                {% if challenger.twitchID is not empty %}
                                                    data-url="https://player.twitch.tv/?channel={{ challenger.twitchID }}&parent={{ app.request.server.get('HTTP_HOST')|replace({":8000":'',":80":''}) }}&muted=true&autoplay=false"
                                                {% else %}
                                                    data-url=""
                                                {% endif %}
                                        >
                                            {{ challenger.username }}

                                            {% if challenger.twitchId is not empty %}
                                                <i class="fab fa-twitch text-white float-right mt-1"></i>
                                            {% else %}
                                                <i class="fab fa-discord text-white float-right mt-1"></i>
                                            {% endif %}
                                        </a>

                                    </li>
                                {% endfor %}
                            </ul>


                        </div>

                        <div class="col-md-5">
                            <h3>Chaîne</h3>
                            <div class="display-discord text-center" style="display:none;">
                            <i class="fab fa-discord fa-10x"></i>
                                <h4 class="player"></h4>
                            </div>
                            <iframe
                                    id="twitch_player"
                                    src="https://player.twitch.tv/?channel=hardcorechallengetv&parent={{ app.request.server.get('HTTP_HOST')|replace({":8000":'',":80":''}) }}&muted=true&autoplay=false"
                                    width="650"
                                    height="370"
                                    frameborder="0"
                                    scrolling="no"
                                    allowfullscreen="true">
                            </iframe>
                            <a href="https://multitwitch.tv/{{ allTwitch|join('/') }}" class="bg-purple btn btn-block" target="_blank">MultiTwitch</a>
                        </div>
                        <div id="runScore" class="col-md-5">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bo_run') }}
{% endblock %}
{# <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a> #}

