{% extends 'base_backoffice.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-default color-palette-box">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tag"></i>
                    {{ "Sélectionner un challenge"|trans }}
                </h3>
            </div>
            <div class="card-body">

<div class="row">
                {% for challenge in challenges %}
                    <div class="col-12 col-md-4 col-xl-3">

                        <div class="card challenge-in-coming">
                            <div class="ribbon-wrapper ribbon-lg">
                                {% if challenge.future %}
                                <div class="ribbon bg-warning">
                                    Prochainement
                                </div>
                                {% elseif challenge.open %}
                                <div class="ribbon bg-success">
                                    Bientôt
                                </div>
                                {% elseif challenge.past %}
                                <div class="ribbon bg-danger">
                                    Terminé
                                </div>
                                {% endif %}
                            </div> <div class="card-img">
                                <a class="link-to-chal" href="{{ url("arbitrage_specifique_index",{id:challenge.id}) }}">
                                    <img class="card-img-top"
                                         src="{{ challenge.banner is not empty ? asset('/uploads/challenge/banner/'~challenge.banner) : asset('build/img_02.jpg') }}"
                                         alt="img challenge">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ challenge.title }}</h5>
                                <div class="card-text d-flex justify-content-center align-items-center">
                                    <div class="dates-icon text-right">
                                        <i class="fa fa-2x fa-calendar ml-2"></i>
                                    </div>
                                    <div class="dates-challenges pl-2">
                                        {% for dates in challenge.challengeDates %}
                                            <label class="d-block p-0 m-0 " style="font-weight: normal; font-size:14px;line-height: 14px;">{{ dates.startDate.format('d M. H:i') }}
                                                - {% if dates.startDate.format('d M') != dates.endDate.format('d M') and dates.endDate.format('H:i') != "00:00" %}{{ dates.endDate.format('d M. H:i') }}{% else %}{{ dates.endDate.format('H:i') }}{% endif %} </label>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="card-buttons row">
                                    <div class="col-12">
                                        <a href="{{ url("arbitrage_specifique_index",{id:challenge.id}) }}"
                                           class="btn btn-info btn-flat btn-block">Sélectionner</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}{% endblock %}

