{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
<div class="row">
    <div class="col-12">
{% if error is not null %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
    </div>


    <div class="col-md-6">
        {{ form_row(form.zipFile) }}
        {{ form_row(form.categoryTags) }}
        {{ form_row(form.description) }}
        {{ form_row(form.youtubeLink) }}
    </div>
    <div class="col-md-6">
        {% if is_granted("ROLE_PREMIUM_LVL2") %}
        {{ form_row(form.programmationDate) }}
        {% endif %}
        {{ form_row(form.song_request) }}
        {{ form_row(form.wip) }}
        {{ form_row(form.isExplicit) }}
        {{ form_row(form.converted) }}

    </div>
    <div class="col-12">
<small style="font-size: 12px;">By uploading your map, you acknowledge that you agree to our <a data-no-swup="true" href="/doc/TOS.pdf">Terms of Service.</a></small>
    </div>
</div>
{{ form_end(form) }}
