{% for song in songs.entities %}
    <div class="table-row medium">
        <!-- TABLE COLUMN -->
        <div class="table-column">
            <!-- PRODUCT PREVIEW -->
            <div class="product-preview tiny">
                <!-- PRODUCT PREVIEW IMAGE -->

                <figure class="product-preview-image short liquid">
                    <img src="/covers/{{ song.id ~ song.coverImageExtension }}" alt="item-11">
                </figure>

                <!-- /PRODUCT PREVIEW IMAGE -->

                <!-- PRODUCT PREVIEW INFO -->
                <div class="product-preview-info">
                    <!-- PRODUCT PREVIEW TITLE -->
                    <p class="product-preview-title">{{ song.name }}</p>
                    <!-- /PRODUCT PREVIEW TITLE -->

                    <!-- PRODUCT PREVIEW CATEGORY -->
                    <p class="product-preview-category">{{ song.authorName }}</p>
                    <!-- /PRODUCT PREVIEW CATEGORY -->

                    <!-- PRODUCT PREVIEW CREATOR -->
                    <p class="product-preview-creator">Mapped by : {{ song.levelAuthorName }}</p>
                    <p class="product-preview-creator">Difficulties :
                        {% for diff in song.songDifficulties %}
                            {% if loop.index != 1 %}, {% endif %}
                            <span style="color:#{{ diff.difficultyRank.color }}">{{ diff.difficultyRank.level }}</span>
                        {% endfor %}</p>
                    <!-- /PRODUCT PREVIEW CREATOR -->
                </div>
                <!-- /PRODUCT PREVIEW INFO -->
            </div>
            <!-- /PRODUCT PREVIEW -->
        </div>
        <!-- /TABLE COLUMN -->

        <!-- TABLE COLUMN -->
        <div class="table-column padded">
            <!-- TABLE TITLE -->
            <p class="table-title">{{ song.approximativeDurationMS }}</p>
            <!-- /TABLE TITLE -->
        </div>
        <!-- /TABLE COLUMN -->

        <!-- TABLE COLUMN -->
        <div class="table-column padded">
            <!-- TABLE TITLE -->
            <p class="table-title">{{ song.beatsPerMinute|round }}</p>
            <!-- /TABLE TITLE -->
        </div>
        <!-- /TABLE COLUMN -->


        <!-- TABLE COLUMN -->
        <div class="table-column padded text-center ">
            <!-- TABLE TITLE -->

            {% include 'songs/partial/vote.html.twig' with {song:song} %}

            <!-- /TABLE TITLE -->
        </div>
        <div class="table-column padded text-center ">
            <!-- TABLE TITLE -->
            <div class="">
                <!-- /ICON THUMBS UP -->
                <h6>
                    {% if song.voteup > song.voteDown %}
                        <span class="text-success">{{ song.downloads }}</span>
                    {% else %}
                        <span class="text-danger">{{ song.downloads }}</span>
                    {% endif %}
                </h6>
            </div>
            <!-- /TABLE TITLE -->
        </div>
        <!-- /TABLE COLUMN -->

        <!-- TABLE COLUMN -->
        <div class="table-column padded-left">
            <!-- TABLE ACTIONS -->
            <div class="table-actions button-ajax-{{ song.id }}">
                <!-- BUTTON -->
                {% include 'upload_song/partial/button_moderation.html.twig' with  {song : song} %}
                <!-- /BUTTON -->

            </div>
            <!-- /TABLE ACTIONS -->
        </div>
        <!-- /TABLE COLUMN -->
    </div>
    {% else %}
    <p>No song for now</p>
{% endfor %}
{% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
{{ macro_pagination.seeMore(songs,"see more"|trans) }}