{% import "score/macro/song.html.twig" as macro_song %}
{% for song in songs.entities %}
{% endfor %}
<div class="col-12">
    <a class="btn btn-success float-right ajax-modal-form"
       data-modal="#editSong" title="{{ "edit"|trans }}"
       href="{{ url('new_song') }}">Add a new song</a>
    <h2>{{ "My custom songs"|trans }}</h2>
</div>

{% for song in songs.entities %}
    {{ macro_song.uploadedSong(song) }}

{% else %}
    <tr>
        <td>No song for now</td>
    </tr>
{% endfor %}
<tr class="see-more-delete">
    <td colspan="11" class="text-center">
        {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
        {{ macro_pagination.paginate(songs) }}
    </td>
</tr>
