{% extends 'base.html.twig' %}

{% block title %}RagnaCustoms.com, Get started with custom songs for Ragnarock VR - FAQ{% endblock %}
    {% block metas %}
      <meta name="description" content="Get started with custom songs for Ragnarock VR - FAQ">
      <meta property="og:url" content="https://ragnacustoms.com"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="Get started with custom songs for Ragnarock VR - FAQ"/>
      <meta property="og:description" content="Get started with custom songs for Ragnarock VR - FAQ"/>
      <meta property="og:image" content="https://ragnacustoms.com/apps/logo.webp?2024"/>
    {% endblock %}
{% block body %}
  <script>
    function changeChevron() {
      var target = event.currentTarget;
      var chevron = target.querySelector(".collapse-icon");
      if (chevron.classList.contains("fa-chevron-down")) {
        chevron.classList.remove("fa-chevron-down");
        chevron.classList.add("fa-chevron-up");
      } else {
        chevron.classList.remove("fa-chevron-up");
        chevron.classList.add("fa-chevron-down");
      }
    }
  </script>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="pt-5 pb-5">Getting started - FAQ</h1>
      <h2 class="pt-5 pb-5">General questions</h2>
      <button style="color:white;background-color:transparent;border-width:0px" onClick="changeChevron()"
              class="h5 collapse-btn" data-toggle="collapse" data-target="#collapseOne">
        <i class="fas fa-chevron-down collapse-icon"></i>
         How do I install custom songs ?
      </button>
      <div id="collapseOne" class="collapse">
        <div class="indent">
          <div class="span">STEP 1</div>
            Install the <a href="https://github.com/pkshetlie/RagnaCustomsApp/releases" target="_blank">RagnaCustoms App</a>.<br>
            It will allow you to download and install songs with a single click.<br>
            <i class="fa-solid fa-triangle-exclamation"></i> Be carefull to take the <u><b>RagnaCustoms.Installer2.msi</b></u>. If you take the zip folder, it won't work. <i class="fa-solid fa-triangle-exclamation"></i>
          <div class="span">STEP 2</div>
            <ul>
                <li>Connect on the App with your account</li>
                <li>Go to <span>preferences</span><br></li>
                <li>Check if the Apikey field is filled.<br></li>
            </ul>
            <img src="{{ asset('apps/api_key.jpg') }}" alt="apiKey"/><br>
            <i class="fa-solid fa-triangle-exclamation"></i> Sometimes the app can have problems when setting the correct api key.<br>
	        If you have doubts, go on the website, on <u>"My account > Account settings"</u> page, get your api key and set it on the App field. <i class="fa-solid fa-triangle-exclamation"></i>

            <div class="span">STEP 3 - Setting the downloading folder</div>
                <ul>
                    <li>Go to <span>preferences</span><br></li>
                    <li>Set the path to where you want to download the maps. Two paths are possible :<br>
                    - In "My Documents" folder : <b>C:\Users\....\Documents\Ragnarock</b><br>
                    - In the Steam installation folder : <b>...\Steam\steamapps\common\Ragnarock\Ragnarock</b><br>
                    Those are the only 2 folders that are read by the game</li>
                    <li>Create a folder named exactly <b>CustomSongs</b> in the folder you choose just above</li>
                </ul>

            <div class="span">STEP 4 - ONLY FOR NON PCVR USERS</div>
            Once you've downloaded your maps:
            <ul>
                <li>Plug in your headset, verify it's recognized by your PC and that you enabled the device access</li>
                <li>On the App, on the "Quest and Pico" dropdown, click “Check Access” to make sure the computer can access your headset<br/></li>
                <li>Download the songs using the “1 click download” button on the website</li>
                <li>When you have downloaded all the songs you want to play, click “Sync Songs.”<br>
                If for whatever reason the "Sync songs" doest not work, you still can manually copy the maps you've downloaded into your headset.<br>
                Paths are :<br>
                QUEST : <b>Android/data/com.wanadev.ragnarockquest/files/UE4Game/Ragnarock/Ragnarock/Saved/CustomSongs</b><br>
                PICO : <b>/Internal shared storage/Android/data/com.wanadev.ragnarockquest/files/UE4Game/Ragnarock/Ragnarock/Saved/CustomSongs</b></li>
            </ul>
        </div>
      </div>
      <br>

      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseThree">
        <i class="fas fa-chevron-down collapse-icon"></i>
         How do I upload scores to RagnaCustoms?
      </button>
      <div id="collapseThree" class="collapse">
        <div class="row">
          <div>
                <div class="indent">
                     <div class="span">STEP 1</div>
                     Follow the first 2 steps of the <b>How do I install custom songs ?</b> part
                     <div class="span">STEP 2</div>
                     Once your ApiKey is setup, clic on the "Activate score sending" button<br>
                        <img src="{{ asset('apps/sending_scores_app.jpg') }}"/></br>
                        <b>For the Quest and Pico users be sure to have your headset plugged before</b><br>
                     <div class="span">STEP 3</div>
                     Start your game, go to the Advanced settings and clic on the new check box at the bottom of the page<br>
                        <img src="{{ asset('apps/sending_scores_game.jpg') }}" style="max-width:40%"/><br>
                     <div class="span">STEP 4</div>
                     Play & enjoy
                </div>
          </div>
        </div>
      </div>
      <br>

      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseFour">
        <i class="fas fa-chevron-down collapse-icon"></i>
         Where are custom songs located in the game?
      </button>
      <div id="collapseFour" class="collapse">
        <div class="indent">
          They are located in the “Custom Songs” album at the bottom of the song catalog (full left)
          menu.
        </div>
      </div>
      <br>

      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseCinq">
        <i class="fas fa-chevron-down collapse-icon"></i>
         Can I play custom songs against others in multiplayer?
      </button>
      <div id="collapseCinq" class="collapse">
        <div class="indent">
          Yes! But only in private lobby PVP.<br>
          You have to make sure that your have the exact same folder map name or you won't be able to play together.
          Subfolders where you put your maps are not concerned.<br>
        </div>
      </div>
      <br>

      <h2 class="pt-5 pb-5">Mapping questions</h2>
      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseSix">
        <i class="fas fa-chevron-down collapse-icon"></i>
         What songs are allowed?
      </button>
      <div id="collapseSix" class="collapse">
        <div class="indent">
          Generally speaking, any song is allowed as long as effort was put in to make it an
          enjoyable experience in Ragnarock.<br>
          The only time where a song might be removed if it is deemed overtly offensive.
        </div>
      </div>
      <br>

      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseSeven">
        <i class="fas fa-chevron-down collapse-icon"></i>
         How do I create my own custom songs?
      </button>
      <div id="collapseSeven" class="collapse">
        <div class="indent">
          You can map your own customs songs for Ragnarock using <a
              href="https://pkbeam.github.io/Edda/" target="_blank">EDDA</a>, a
          Ragnarock-specific mapping program created by PKBeam. Learn more at the <a
              href="https://pkbeam.github.io/Edda/" target="_blank">official EDDA website</a>.<br>
          Do not hesitate to join the Ragnacustoms Discord to have any help and information about mapping.
        </div>
      </div>
      <br>

      <h2 class="pt-5 pb-5">Ranking questions</h2>
      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseEight">
        <i class="fas fa-chevron-down collapse-icon"></i>
         How does the ranking system works?
      </button>
      <div id="collapseEight" class="collapse">
        <div class="indent">You can find the details of how the ranking system works on the <a
              href="{{ url('ranking_system') }}" target="_blank">Ranking system</a> page
        </div>
      </div>
      <br>
      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseNine">
        <i class="fas fa-chevron-down collapse-icon"></i>
         Can I submit my own maps for ranking?
      </button>
      <div id="collapseNine" class="collapse">
        <div class="indent">
          Yes, on the condition it comply the following <a href="{{ url('acceptance_criteria') }}" target="_blank">acceptance
            criteria </a><br>
          Once you have read the acceptance criteria, you can submit your map by filling out the <a
              href="https://www.shorturl.at/fmBHR" target="_blank">following form </a>
        </div>
      </div>
      <br>

      <h2 class="pt-5 pb-5">Streaming/Twitch questions</h2>
      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseTen">
        <i class="fas fa-chevron-down collapse-icon"></i>
         How do I activate the request bot ?
      </button>
      <div id="collapseTen" class="collapse">
        <div class="indent">
          The Ragnacustoms App is allowing you to use a bot that will grab requests from your viewers.</br>
          The chat command is <b>!rc [Id of the song]</b>. (for example : !rc 1250).</br>
          Here is how you can activate it :
          <div class="indent">
            <span>Step 1:</span> On the Preference options, put your Authentification token. You can get it by clicking
            on the link.<br/>
            <span>Step 2:</span> Put your channel name on the field<br/>
            <span>Step 3:</span> Decide on witch folder the requested maps will be downloaded. By default it is the
            "Requested" folder<br/>
            <img src="{{ asset('apps/request_bot_app.jpg') }}"/><br>
            <span>Step 4:</span> Once the settings are done, go to the "TwitchBot" section and start your bot.</br> Note
            that you will have to manually delete the songs in the folder after your streaming session or they wil stay
            in it for the next one.<br/>

            <img src="{{ asset('apps/twitchbot_start.jpg') }}"/></br></br>
            <span>Additional: </span>You can choose a bot prefix for your twitch chat and to automatically start the bot
            when you open the app.<br/>
            </br>
            Note that if you do not have a map, if a requested is made on it the app will automatically download it and
            install it for you. </br>
            You will just need to refresh your folder in game to see it (by going on another one and switching back on
            the Requests folder).
          </div>
        </div>
      </div>
      <br>
      <button style="color:white;background-color:transparent;border-width:0px" class="h5 collapse-btn"
              data-toggle="collapse" onClick="changeChevron()" data-target="#collapseEleven">
        <i class="fas fa-chevron-down collapse-icon"></i>
         Where can I find the id of the song or the request command if I want to request it on a Twitch chat ?
      </button>
      <div id="collapseEleven" class="collapse">
        <div class="indent">
          The easiest way to have the command to request a song to your favorite streamer is to go on the detail page of
          the map and clic on the twitch button.</br>
          It will automatically copy the command. You can then paste it in the twitch chat.</br>
          <img style="width:30%" src="{{ asset('apps/twitch_request_button.jpg') }}"/>
        </div>
      </div>
      <br>
    </div>
  </div>
  {% endblock %}



  {% block javascripts %}

  {{ parent() }}
{% endblock %}
