{% extends 'base.html.twig' %}

{% block body %}
    {% set currentSeason = songService.currentSeason %}

    {% if currentSeason is not null %}
        <div class="banner viking-text text-level-5 text-center">
            <a href="{{ url("score_season_ranking") }}">{{ currentSeason.label }}</a> ends in <span id="demo"></span>
        </div>
    {% else %}
        <div class="banner viking-text text-level-5 text-center">
            {{ "No current season"|trans }}
        </div>
    {% endif %}
    {% if season is not null %}
<div class="row mt-5">
    <div class="col-12">
        <h1>Ranking "{{ season.label }}" <small>From {{ season.startDate.format('Y-m-d') }}
                to {{ season.endDate.format('Y-m-d') }}</small></h1>
        <table class="table">
            <tr>
                <th>{{ "Rank"|trans }}</th>
                <th>{{ "User"|trans }}</th>
                <th class="text-right">{{ "Score"|trans }}</th>
                <th class="text-right">{{ "Songs played"|trans }}</th>
            </tr>
            {% for score in scores.entities %}
                <tr {% if is_granted('ROLE_USER') and score["username"] == app.user.username %}class="text-success"{% endif %}>
                    <td>#{{ loop.index*(scores.current) }}</td>
                    <td>
                        <a href="{{ url("user_profile",{id:score["user_id"]}) }}">
                            <img style="border-radius:15px;width:30px;margin-right:10px;"
                                 src="https://www.gravatar.com/avatar/{{ score["gravatar"] }}?d={{ "https://ragnacustoms.com/apps/runes.png"|url_encode }}"
                                 class="" alt="{{ score["username"] }}"/></a>
                        <a href="{{ url("user_profile",{id:score["user_id"]}) }}"
                           class="text-level-9">{{ score["username"] }}</a></td>
                    <td class="text-right">{{ score["score"]|round(2) }} pts</td>
                    <td class="text-right">{{ score["count_song"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

<div class="row mt-5">
    <div class="col-12">
        <h2>Archive</h2>
    </div>

    {% for season_ in oldSeasons %}
        <div class="col-md-3">
            <a href="{{ url("score_season_ranking",{slug:season_.slug}) }}"
               class="btn btn-block text-center btn-default">{{ season_.label }}</a>
        </div>
    {% else %}
        <p>{{ "No archive for now"|trans }}</p>
    {% endfor %}
</div>
{% if currentSeason is not null %}
    <div id="variables"
         data-season-ends-at="{{ currentSeason.endDate.format('Y-m-d H:i:s') }}"
    ></div>
{% endif %}
{% endblock %}

{% block title %}
    Global ranking
{% endblock %}

