<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
    {% endblock %}

    <link id="favicon" rel="icon" href="/apps/favicon.ico">
    <title>{% block title %}| RagnaCustoms{% endblock %}</title>
    <meta name="theme-color" content="#205294"/>
    <link rel="alternate" type="application/rss+xml" title="RagnaCustoms.com our catalog"
          href="https://ragnacustoms.com/rss.xml">
    <link rel="manifest" href="/manifest.json">

    {% block metas %}
        <meta name="description" content="The best place to find your favorite custom songs for Ragnaröck VR">
        <meta property="og:url" content="https://ragnacustoms.com"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="RagnaCustoms.com, Your favorites custom songs for Ragnarock VR"/>
        <meta property="og:description" content="The best place to find your favorite custom songs for Ragnaröck VR"/>
        <meta property="og:image" content="https://ragnacustoms.com/apps/logo.png"/>
    {% endblock %}

</head>
<body>
{# {{ stimulus_controller('symfony/ux-swup/swup', { #}
{#    containers: ['#swup', '#nav'] #}
{# }) }} #}
<div id="main">
    <nav id="nav" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand viking-text-bold" href="/">
                <img width="40" height="40" src="/apps/logo.png" class="img-fluid" alt="logo"/>
                <img height="40" src="/apps/ragnacustoms_logo.png" alt="Ragnacustoms"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class=" fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-4 flex-grow-1">
                    {% if is_granted('ROLE_MODERATOR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_admin_dashboard_index') }}">Admin</a>
                        </li>
                    {% endif %}  </ul>
                <ul class="navbar-nav ml-4">
                    {# <li class="nav-item"> #}
                    {# <a class="nav-link" href="#">{{ "Getting started"|trans }}</a> #}
                    {# </li> #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('getting_started') }}">{{ "getting started"|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('song_library') }}">{{ "Song library"|trans }}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{{ url('score_global_ranking') }}">
                            {{ "Leaderboard"|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('mappers') }}">Mappers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-level-9" href="{{ url("applications") }}">{{ "Apps"|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a href="#"
                               data-modal="#editSong"
                               data-refresh="true"
                               data-url="{{ url('new_song') }}"
                               data-title="{{ "New Custom Song"|trans }}"
                               class="btn btn-blue mt-2 mr-4 ajax-modal-form">
                                {{ "Submit a map"|trans }}
                            </a>
                        </li>
                    {% endif %}

                    {% if not is_granted("ROLE_USER") %}
                        <li class="nav-item">
                            <a href="{{ url('app_login') }}" class="nav-link">{{ "Login"|trans }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ app.user.gravatar }}" alt="" class="avatar-mini" width="30px"
                                     height="30px"/>
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ url('upload_song') }}">{{ "my uploads"|trans }}</a>
                                <hr class="m-1"/>
                                <a class="dropdown-item" href="{{ url('user') }}">{{ "My account"|trans }}</a>
                                <hr class="m-1"/>
                                {#                            <a class="dropdown-item" #}
                                {#                               href="{{ url('playlist') }}">{{ "My playlists"|trans }}</a> #}

                                <hr class="m-1"/>
                                <a class="dropdown-item" href="{{ url('app_logout') }}">{{ "Logout"|trans }}</a>
                            </div>
                        </li>
                        <li class="nav-item pt-1">
                            <a href="{{ url('app_notification') }}" class="nav-link">
                                {% if app.user.unreadNotifications|length > 0 %}
                                    <i class="fas fa-bell"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border  rounded-circle"></span>
                                {% else %}
                                    <i class="far fa-bell"></i>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>
    {# <div class="runes"><img width="512" height="512" src="/apps/runes.png" alt="runes"/></div> #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert d-none " data-type="{{ label }}" data-title="{{ label }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <main id="swup">
        {% block body %}

        {% endblock %}
    </main>

    {% block endBody %}
        <div class="modal fade" id="editSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">Custom Song</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-edit">
                        ...
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="previewSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">{{ "Song preview"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-review">
                        ...
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="reviewSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">{{ "Song Review"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-review">
                        ...
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="songPlaylists" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel3">{{ "Add song to playlist"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-playlist">
                        ...
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="container-fluid">
        <div class="row p-3 footer">
            <div class="col-md-6 text-center">
                <span>{{ "RagnaCustoms is not associated with <b>Ragnaröck VR</b>, <b>WanadevStudio</b>, <b>Steam</b> or <b>Meta</b>"|trans|raw }}</span>
            </div>
            <div class="col-md-6 text-center">
                <a class="text-patreon" href="https://www.patreon.com/ragnacustoms_com" rel="noreferrer"
                   target="_blank">
                    <i class="fab fa-patreon"></i>
                </a>&nbsp;
                <a class="text" href="https://discord.com/invite/2vCAAGuwsR" rel="noreferrer" target="_blank">
                    <i class="fab fa-discord"></i>
                </a>&nbsp;
                <a class="text" href="https://www.facebook.com/RagnaCustoms" rel="noreferrer" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>&nbsp;
                <a class="text" href="https://twitter.com/ragnacustoms" rel="noreferrer" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>&nbsp;
                <a class="text" href="https://www.reddit.com/r/RagnaCustoms_com/" rel="noreferrer" target="_blank">
                    <i class="fab fa-reddit"></i>
                </a>
            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<script src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.5/tarteaucitron.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/AmauriC/tarteaucitron.js@1.9.5/tarteaucitron.services.min.js"></script>

<script>
    tarteaucitron.init({
// "privacyUrl": "", /* Privacy policy url */

        "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
        "cookieName": "tarteaucitron", /* Cookie name */

        "orientation": "bottom", /* Banner position (top - bottom - middle - popup) */

        "groupServices": true, /* Group services by category */

        "showAlertSmall": false, /* Show the small banner on bottom right */
        "cookieslist": true, /* Show the cookie list */

        "showIcon": true, /* Show cookie icon to manage cookies */
        "iconSrc": "/apps/cookie.png", /* Optionnal: URL or base64 encoded image */
        "iconPosition": "BottomLeft", /* Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft */

        "adblocker": false, /* Show a Warning if an adblocker is detected */

        "DenyAllCta": true, /* Show the deny all button */
        "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
        "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

        "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

        "removeCredit": true, /* Remove credit link */
        "moreInfoLink": true, /* Show more info link */
        "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for subdomain website */

// "readmoreLink": "", /* Change the default readmore link pointing to tarteaucitron.io */

        "mandatory": true /* Show a message about mandatory cookies */
    });

    tarteaucitron.user.matomoId = 1;
    (tarteaucitron.job = tarteaucitron.job || []).push('matomo');
    tarteaucitron.user.matomoHost = '//matomo.ragnacustoms.com/';
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true;
    g.src = 'https://matomo.ragnacustoms.com/js/container_4wEYbYum.js';
    s.parentNode.insertBefore(g, s);
</script>


</body>
</html>
