<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
              integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
              crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans+Condensed:wght@300&display=swap"
              rel="stylesheet">
    {% endblock %}
    <link rel="icon" href="/apps/favicon.ico">
    <title>{% block title %}| RagnaCustoms{% endblock %}</title>
    <script type="text/javascript" src="https://tarteaucitron.io/load.js"></script>

</head>
<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/apps/logo.png" class="img-fluid" alt="logo" /> RagnaCustoms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarNav">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" href="/">{{ "Songs"|trans }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url("application") }}">RagnApp</a>
            </li>
            {% if app.request.locale == 'en' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url("change_locale",{locale:"fr"}) }}"><img style="max-height:12px;" src="/flags/france.png" alt="fr"/></a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url("change_locale",{locale:"en"}) }}"><img style="max-height:12px;" src="/flags/united-kingdom.png" alt="en"/></a>
                </li>
            {% endif %}
        </ul>
        <ul  class="navbar-nav">
            {% if not is_granted("ROLE_USER") %}
                <li class="nav-item">

                    <a href="{{ url('app_login') }}" class="nav-link">{{ "Login"|trans }}</a>

                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ "My account"|trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url('upload_song') }}">{{ "Upload Song"|trans }}</a>
                        <hr class="m-1"/>
                        <a class="dropdown-item" href="{{ url('app_logout') }}">{{ "Logout"|trans }}</a>
                    </div>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/nRnsgCCBvq" target="_blank">Discord</a>
            </li>
        </ul>
    </div>

</nav>

<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block body %}

    {% endblock %}
</div>
{% block endBody %}

{% endblock %}
<hr/>
<div class="p-3 text-center">
    {{"This application is not associated with <b>Ragnaröck VR</b> or <b>WanadevStudio</b>"|trans|raw}}


</div>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script>
    tarteaucitron.init({
        // "privacyUrl": "", /* Privacy policy url */

        "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
        "cookieName": "tarteaucitron", /* Cookie name */

        "orientation": "bottom", /* Banner position (top - bottom - middle - popup) */

        "groupServices": true, /* Group services by category */

        "showAlertSmall": true, /* Show the small banner on bottom right */
        "cookieslist": true, /* Show the cookie list */

        "showIcon": true, /* Show cookie icon to manage cookies */
        // "iconSrc": "", /* Optionnal: URL or base64 encoded image */
        "iconPosition": "BottomLeft", /* Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft */

        "adblocker": false, /* Show a Warning if an adblocker is detected */

        "DenyAllCta" : true, /* Show the deny all button */
        "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
        "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

        "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

        "removeCredit": true, /* Remove credit link */
        "moreInfoLink": true, /* Show more info link */
        "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */

        //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for subdomain website */

        // "readmoreLink": "", /* Change the default readmore link pointing to tarteaucitron.io */

        "mandatory": true /* Show a message about mandatory cookies */
    });

    tarteaucitron.user.gtagUa = 'G-0JR780RBXK';
    tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
    (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
</script>
</body>
</html>