<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link id="favicon" rel="icon" href="/apps/favicon.ico">
    <title>{% block title %}| RagnaCustoms{% endblock %}</title>
    <meta name="theme-color" content="#205294"/>
    <link rel="alternate" type="application/rss+xml" title="RagnaCustoms.com our catalog"
          href="https://ragnacustoms.com/rss.xml">
    <link rel="manifest" href="/manifest.json">

    {% block metas %}
        <meta name="description" content="The best place to find your favorite custom songs for Ragnaröck VR">
        <meta property="og:url" content="https://ragnacustoms.com"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="RagnaCustoms.com, Your favorites custom songs for Ragnarock VR"/>
        <meta property="og:description" content="The best place to find your favorite custom songs for Ragnaröck VR"/>
        <meta property="og:image" content="https://ragnacustoms.com/apps/logo.webp?noel"/>
    {% endblock %}
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://matomo.ragnacustoms.com/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="https://matomo.ragnacustoms.com/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt=""/></p>
    </noscript>

</head>
<body
        {{ stimulus_controller('symfony/ux-swup/swup', {
            containers: ['#swup', '#nav']
        }) }} >
<div id="main">
    {#    {{ dump(app.request.attributes.get('_route')) }} #}
    <nav id="nav" class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand viking-text-bold" href="/">
                <img width="40" height="40" src="/apps/logo.webp?noel" class="img-fluid" alt="logo"/>
                <img height="40" src="/apps/ragnacustoms_logo.webp?noel" alt="Ragnacustoms"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class=" fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-4 flex-grow-1">
                    {% if is_granted('ROLE_MODERATOR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_admin_dashboard_index') }}">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('ranking_song') }}">Ranking</a>
                        </li>
                    {% endif %}  </ul>
                <ul class="navbar-nav ml-4">
                    {# <li class="nav-item"> #}
                    {# <a class="nav-link" href="#">{{ "Getting started"|trans }}</a> #}
                    {# </li> #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('getting_started') }}">{{ "getting started - FAQ"|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('song_library') }}">{{ "Song library"|trans }}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{{ url('score_global_ranking') }}">
                            {{ "Leaderboard"|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('mappers') }}">{{ "Mappers"|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-level-9" href="{{ url("applications") }}">{{ "Apps"|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_PREMIUM_LVL2') %}
                        <li class="nav-item">
                            <a
                                    href="{{ url('new_song_multi') }}"
                                    class="btn btn-blue mt-2 mr-4">
                                {{ "Submit maps"|trans }}
                            </a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a href="#"
                               data-modal="#editSong"
                               data-refresh="true"
                               data-url="{{ url('new_song') }}"
                               data-title="{{ "New Custom Song"|trans }}"
                               class="btn btn-blue mt-2 mr-4 ajax-modal-form">
                                {{ "Submit a map"|trans }}
                            </a>
                        </li>
                    {% endif %}

                    {% if not is_granted("ROLE_USER") %}
                        <li class="nav-item">
                            <a href="{{ url('app_login') }}" class="nav-link">{{ "Login"|trans }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ app.user.gravatar }}" alt="" class="avatar-mini" width="30px"
                                     height="30px"/>
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item" href="{{ url('recently_played') }}">{{ "My account"|trans }}</a>

                                <hr class="m-1"/>
                                <a data-no-swup='true' class="dropdown-item" href="{{ url('app_logout') }}">{{ "Logout"|trans }}</a>
                            </div>
                        </li>
                        <li class="nav-item pt-1">
                            <a href="{{ url('app_notification') }}" class="nav-link">
                                {% if app.user.unreadNotifications|length > 0 %}
                                    <i class="fas fa-bell"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border  rounded-circle"></span>
                                {% else %}
                                    <i class="far fa-bell"></i>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {# <li><span class="p-3 mt-3 snowflake-toggle" title="click to toggle" style="cursor:pointer"><i class="fas fa-snowflake mt-3"></i></span></li> #}
                </ul>
            </div>
        </div>
    </nav>
    {# <div class="runes"><img width="512" height="512" src="/apps/runes.png" alt="runes"/></div> #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert d-none " data-type="{{ label }}" data-title="{{ label }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <div id="snow"></div>
    {% block body_no_swup %}
    <main id="swup">
        <div id="{{ app.request.attributes.get('_route') }}">
            {% block body %}

            {% endblock %}
        </div>
    </main>
    {% endblock %}

    {% block endBody %}
        <div class="modal fade" id="editSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-edit">
                        ...
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="previewSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">{{ "Song preview"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-review">
                        ...
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="reviewSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">{{ "Song feedback"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-review">
                        ...
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="ScatterView" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel3" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-playlist">
                        <canvas id="scatter-plot"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="SessionHistoryView" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel3" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-playlist">
                        <canvas id="session-history"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="songPlaylists" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel3">{{ "Add song to playlist"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form-playlist">
                        ...
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="container-fluid">
        <div class="row p-3 footer">
            <div class="col-md-6 text-center">
                <a data-no-swup="true" href="/doc/DMCA_policy.pdf" target="_blank">DMCA</a>
                <a data-no-swup="true" href="/doc/TOS.pdf" target="_blank">Terms of service</a>
                <a data-no-swup="true" href="/doc/Privacy_policy.pdf" target="_blank">Privacy policy</a>
            </div>
            <div class="col-md-6 text-center">
                <a data-no-swup="true" class="text-patreon" href="https://www.patreon.com/ragnacustoms_com"
                   rel="noreferrer"
                   target="_blank">
                    <i class="fab fa-patreon"></i>
                </a>&nbsp;
                <a data-no-swup="true" class="text" href="https://discord.com/invite/2vCAAGuwsR" rel="noreferrer"
                   target="_blank">
                    <i class="fab fa-discord"></i>
                </a>&nbsp;
                <a data-no-swup="true" class="text" href="https://www.facebook.com/RagnaCustoms" rel="noreferrer"
                   target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>&nbsp;
                <a data-no-swup="true" class="text" href="https://twitter.com/ragnacustoms" rel="noreferrer"
                   target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>&nbsp;
                <a data-no-swup="true" class="text" href="https://www.reddit.com/r/RagnaCustoms_com/" rel="noreferrer"
                   target="_blank">
                    <i class="fab fa-reddit"></i>
                </a>
            </div>
            <div class="col-12 text-center">
                <span>{{ "RagnaCustoms is not associated with <b>Ragnaröck VR</b>, <b>WanadevStudio</b>, <b>Steam</b> or <b>Meta</b>"|trans|raw }}</span>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% if is_granted('ROLE_USER') %}
    <!-- push alert -->
{% endif %}
</body>
</html>
