{%  macro ratingDisplay(name, rating) %}
    <div class="rating-wrap d-flex">
       <div class="label">{{ name }}</div>
        {{ _self.starsDisplay(rating) }}
    </div>
{% endmacro %}
{%  macro ratingDisplayLabel(name, rating) %}
    <div class="rating-wrap d-flex">
        <label>{{ name }}</label>
        {{ _self.starsDisplay(rating) }}
    </div>
{% endmacro %}
{% macro starsDisplay(rating) %}
    <div class="rating-list text-warning justify-content-center d-flex " data-input-selector="patternQuality" data-toggle="tooltip" title="{{ rating|round(2) }}">
        {% for i in 0..4 %}
            <div data-id="{{ i }}" class="rating medium {% if rating|round(0) > i %}filled{% endif %}">
                <i class="{% if rating|round(0) > i %}fas{% else %}far{% endif %} fa-star"></i>
            </div>
        {% endfor %}
    </div>
{% endmacro %}