{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <main class="wrapper">
        <section class="section-banner bg1 home-title" style="background-image:url('{{ parameter_service.value('header_bg_1') }}')">
            {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-title-1',default:"<h1>A personnaliser</h1>"})) }}
        </section>

        <section class="section-parallax static home-presentation">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-1',default:"A personnaliser"})) }}
            </div>
        </section>

        <section class="section">
            <div class="parallax-background bg2 home-join-us" style="background-image:url('{{ parameter_service.value('home_bg_2') }}')">
                <div class="container">
                    {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-2',default:"A personnaliser"})) }}
                </div>
            </div>
        </section>
        <section class="section">
                <div class="container">
                    {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-5',default:"A personnaliser"})) }}


                </div>
        </section>

        <section class="section-parallax parallax-background bg3  home-howto-join-us" style="background-image:url('{{ parameter_service.value('home_bg_3') }}')">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-3',default:"A personnaliser"})) }}

            </div>
        </section>
        
        <section class="section static home-don">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-4',default:"A personnaliser"})) }}

            </div>
        </section>
        

    </main>

{% endblock %}