<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg">
    <div class="container-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
            <div id="nav-icon-menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
            <a class="home-link navbar-brand" href="/">
                {# <i class="fa fa-fort-awesome"></i> #}
                <img class="logo" src="{{ asset(parameter_service.value('logo','')) }}"/>
            </a>


            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                {% if is_granted('ROLE_EMPLOYEE') %}
                    <li class="nav-item">
                        <a href="{{ url("admin_index") }}" class="nav-link">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">{{ "Administration"|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{ url("challenge_index") }}" class="nav-link">
                        <i class="ni ni-collection d-lg-none"></i>
                        <span class="nav-link-inner--text">{{ "Challenges"|trans }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url('presentation_page') }}" class="nav-link">
                        <i class="ni ni-collection d-lg-none"></i>
                        <span class="nav-link-inner--text">{{ parameter_service.value('fucking_page') }}</span>
                    </a>
                </li>

                {# <li class="nav-item dropdown"> #}
                {# <a href="#" class="nav-link" data-toggle="dropdown" role="button"> #}
                {# <i class="ni ni-collection d-lg-none"></i> #}
                {# <span class="nav-link-inner--text">Ligue BHC</span> #}
                {# </a> #}
                {# </li> #}
                {# <li class="nav-item dropdown"> #}
                {# <a href="#" class="nav-link" data-toggle="dropdown" role="button"> #}
                {# <i class="ni ni-collection d-lg-none"></i> #}
                {# <span class="nav-link-inner--text">Partenaires</span> #}
                {# </a> #}
                {# <div class="dropdown-menu"> #}
                {# <a href="../examples/landing.html" class="dropdown-item">Theme Dark</a> #}
                {# <a href="../examples/profile.html" class="dropdown-item">Theme Light</a> #}
                {# </div> #}
                {# </li> #}
                {% if not is_granted("ROLE_USER") %}
                    <li class="nav-item">
                        <a href="{{ url('app_login') }}" class="nav-link">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">{{ "Mon Compte"|trans }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url('my_account') }}" class="nav-link">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">{{ "Mon Compte"|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('app_logout') }}" class="nav-link">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">{{"Déconnexion"|trans}}</span>
                        </a>
                    </li>
                {% endif %}
                {% if app.request.locale == 'en' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("change_locale",{locale:"fr"}) }}">
                            <img style="max-height:12px;" src="/flags/france.png" alt="fr"/>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("change_locale",{locale:"en"}) }}">
                            <img style="max-height:12px;" src="/flags/united-kingdom.png" alt="en"/>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <!-- Modals -->
            <!--<a data-target="{{ url('app_login') }}" class="dropdown-item modal-trigger"
                               href="#connexion_modal">Connexion</a>-->
            <!--<div class="modal fade" id="sign_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    </div>
                </div>
            </div>-->
        </div>
        <h2 class="menu-title-responsive">{{ "Bannerlord Hardcore Challenge"|trans }}</h2>
    </div>
</nav>
<div class="responsive-dark-background"></div>