{% extends 'base_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block login_form %}

    <!-- Titles -->



    <!-- ======================================= REGISTER ======================================== -->

    <div id="registration_container" class="col-12 col-md-6">
        <div class="card-header bg-white">
            <p class="title-sign text-center ">{{ "Sign up"|trans }}</p>
        </div>
        <div class="card-body">
            {{ form_start(registration_form) }}
            {% for flashError in app.flashes('verify_email_error') %}
                {#<div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
                <div class="modal fade alert-modal error-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="flag-center"><h2>{{ "Erreur"|trans }}</h2></div>
                            <i class="flag flag-right"></i>
                            <i class="flag flag-left"></i>
                            <div class="modal-body">
                                <div class="f-modal-alert">
                                    <div class="f-modal-icon f-modal-error animate">
                                        <span class="f-modal-x-mark">
                                            <span class="f-modal-line f-modal-left animateXLeft"></span>
                                            <span class="f-modal-line f-modal-right animateXRight"></span>
                                        </span>
                                        <div class="f-modal-placeholder"></div>
                                        <div class="f-modal-fix"></div>
                                    </div>
                                </div>
                                <div class="msg-mail-alert">
                                    <p class="text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="form-group col-md-6 mb-4">
                    {{ form_widget(registration_form.lastname) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_lastname" class="required">{{ "Nom"|trans }}</label>
                </div>

                <div class="form-group col-md-6 mb-4">
                    {{ form_widget(registration_form.firstname) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_firstname" class="required">{{"Prénom"|trans}}</label>
                </div>

                <div class="form-group col-12 mb-4">
                    {{ form_widget(registration_form.username) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_username" class="required">{{ "Identifiant"|trans }}</label>
                </div>

                <div class="form-group col-12 mb-4">
                    {{ form_widget(registration_form.email) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_email" class="required">{{ "Email"|trans }}</label>
                </div>

                <div class="form-group col-12 mb-4">
                    {{ form_widget(registration_form.plainPassword) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_plainPassword" class="required">{{ "Mot de passe"|trans }}</label>
                </div>

                <div class="form-group col-12 mb-4">
                    {{ form_widget(registration_form.twitchID) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_twitchID">{{ "ID Twitch"|trans }}</label>
                </div>

                <div class="form-group col-12 mb-4">
                    {{ form_widget(registration_form.discordID) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_discordID">{{ "ID Discord"|trans }}</label>
                </div>

                <div class="custom-control custom-control-alternative custom-checkbox custom-control-terms col-12 mb-5">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {{ form_widget(registration_form.agreeTerms) }}
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-custom btn-green active">{{ "Register"|trans }}</button>
                </div>
                {{ form_end(registration_form) }}
            </div>
        </div>
    </div>

    <!-- ======================================= LOGIN ======================================== -->

    <div id="login_container" class="col-12 col-md-6">
        <div class="card-header bg-white">
            <p class="title-sign text-center ">{{ "Sign in"|trans }}</p>
        </div>
        <div class="card-body col-9 m-auto">
            <form action="{{ url("app_login") }}" method="post" role="form" autocomplete="off">
                {% if error %}
                    {#<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                    <div class="modal fade alert-modal error-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="flag-center"><h2>{{ "Erreur"|trans }}</h2></div>
                                <i class="flag flag-right"></i>
                                <i class="flag flag-left"></i>
                                <div class="modal-body">
                                    <div class="f-modal-alert">
                                        <div class="f-modal-icon f-modal-error animate">
                                            <span class="f-modal-x-mark">
                                                <span class="f-modal-line f-modal-left animateXLeft"></span>
                                                <span class="f-modal-line f-modal-right animateXRight"></span>
                                            </span>
                                            <div class="f-modal-placeholder"></div>
                                            <div class="f-modal-fix"></div>
                                        </div>
                                    </div>
                                    <div class="msg-mail-alert">
                                        <p class="text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        {{"Vous êtes connecté en tant que"|trans}} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{"Déconnexion"|trans}}</a>
                    </div>
                {% endif %}

                <div class="form-group mb-5">
                    <input type="text" value="{{ last_username }}" name="username" id="inputEmail" class="form-control"
                           required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_lastname" class="required">{{ "Username"|trans }}</label>
                </div>

                <div class="form-group focused mb-3">
                    <input type="password" name="password" id="inputPassword" class="form-control" required/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="registration_form_lastname" class="required">{{ "Password"|trans }}</label>
                </div>

                <div class="custom-control custom-control-alternative custom-checkbox mb-5">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input class="custom-control-input" name="_remember_me" id=" customCheckLogin" type="checkbox">
                    <label class="custom-control-label"
                           for=" customCheckLogin"><span>{{ "Remember me"|trans }}</span></label>
                </div>

                <div class="text-center mb-5">
                    <button type="submit" class="btn btn-custom btn-green active">{{ "Login"|trans }}</button>
                </div>

                <div class="row justify-content-center">
                    <a href="{{ url("app_forgot_password_request") }}"><small>{{ "Forgot password?"|trans }}</small></a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


