{% extends 'base.html.twig' %}
        {% import "songs/macros/vote.html.twig" as macro_vote %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="section-header">
                <div class="section-header-info">
                    <p class="section-pretitle">{{ "Song details"|trans }}</p>
                    <h2 class="section-title">{{ song.name }} <small>{{ song.subName }}</small> - {{ song.authorName }}
                    </h2>
                </div>
            </div>
            <h3>{{ "Description"|trans }}</h3>
            <p>
                {{ song.description is not null ? song.description|nl2br : "no description for now"|trans }}
            </p>
        </div>
        <div class="col-md-4 song-detail border-left">
            <img src="/covers/{{ song.id }}{{ song.coverImageExtension }}" class="img-fluid pt-2"
                 alt="{{ song.name }}"/>
            <div class="text-center mt-3">
                {% if song.youtubeLink != null %}
                    <a target="_blank" href="{{ song.youtubeLink }}"
                       class="btn bg-red youtube" style="background:#F00;">
                        <i class="fab fa-youtube"></i>
                        {{ "Youtube"|trans }}
                    </a>
                {% endif %}

                <a href="#" data-to-copy="!rc {{ song.id }}" class="copy-clipboard btn bg-twitch">
                    <i class="fab fa-twitch"></i>
                    !rc {{ song.id }}
                </a>

                <a href="ragnac://install/{{ song.id }}" class="btn btn-danger">
                    1 click
                </a>

                <a href="{{ url('song_direct_download',{id: song.id}) }}" class="btn btn-success">Download</a>
            </div>
            <div class="resume row mt-2">

                <div class="col-md-6 text-center border-right">
                    <p class="numeric"><span>{{ song.downloads }}</span></p>
                    <p class="description">{{ "Downloads"|trans }}</p>
                </div>

                <div class="col-md-6 text-center">
                    <p class="numeric"><span>{{ song.voteAverage|round(1, "floor") }}</span>/5</p>
                    <div class="description">
                        {{ macro_vote.starsDisplay(song.voteAverage|round(0, "floor")) }}
                    </div>
                </div>

            </div>


            <h3 class="text-center">{{ "Informations"|trans }}</h3>

            <div class="informations">
                {{ macro_vote.ratingDisplay("Fun factor"|trans,song.funFactorAverage) }}
                {{ macro_vote.ratingDisplay("Rhythm"|trans,song.rhythmAverage) }}
                {{ macro_vote.ratingDisplay("Flow"|trans,song.flowAverage) }}
                {{ macro_vote.ratingDisplay("Pattern quality"|trans,song.patternQualityAverage) }}
                {{ macro_vote.ratingDisplay("Readability"|trans,song.readabilityAverage) }}
                {{ macro_vote.ratingDisplay("Level quality"|trans,song.levelQualityAverage) }}
                <div class="d-flex rating-wrap">
                    <label>{{ "Mapped by"|trans }} : </label>
                    <span>
                        <a href="{{ url('home') }}?search={{ song.levelAuthorName }}">
                            {{ song.levelAuthorName }}</a>
                    </span>
                </div>
                <div class="d-flex rating-wrap">
                    <label>{{ "Last update"|trans }} : </label>
                    <span>
                        <span class="bold">{{ song.lastDateUpload.format('Y-m-d') }}</span>
                    </span>
                </div>
                <div class="d-flex rating-wrap">
                    <label>{{ "Duration"|trans }} : </label>
                    <span>
                        <span class="bold">{{ song.approximativeDurationMS }}</span>
                    </span>
                </div>
                <div class="d-flex rating-wrap">
                    <label>{{ "BPM"|trans }} : </label>
                    <span>
                        <span class="bold">{{ song.beatsPerMinute }}</span>
                    </span>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

    {% block title %}

    {% endblock %}

