{% extends 'base.html.twig' %}
{% block title %}{{ song.name }}, mapped by {{ song.user.mappername }} - Custom Song detail{% endblock %}
{% import "songs/macros/vote.html.twig" as macro_vote %}

 {% block metas %}
     <link rel="canonical" href="{{ url('song_detail',{slug:song.slug}) }}">
     <meta name="description" value="{{ song.name }}, mapped by {{ song.user.mappername }} - Custom Song detail">
     <meta property="og:description" value="{{ song.name }}, mapped by {{ song.user.mappername }} - Custom Song detail">
     <meta property="og:url" content="{{ url('song_detail',{slug:song.slug}) }}"/>
     <meta property="og:type" content="website"/>
     <meta property="og:title" content="{{ song.name }} - Custom Song detail | RagnaCustoms.com"/>
     <meta property="og:image" content="https://ragnacustoms.com/{{ song.cover }}"/>
 {% endblock %}

{% block body %}
    <div {{ stimulus_controller('song-detail') }} {{ stimulus_target('song-detail', 'background') }} id="song-detail">
        <div class="darker pt-3">
            <div class="container">
                <div class="row pt-3">
                    {#                    <div class="col-12 pt-2 pb-2"><a href="#" {{ stimulus_action('song-detail', 'back') }} #}
                    {#                                                     class="back-button "><i #}
                    {#                                    class="fas fa-arrow-left"></i> {{ "Back"|trans }}</a></div> #}
                    <div class="col-md-3">
                        <div class="figure">
                            <img {{ stimulus_target('song-detail', 'img') }} src="{{ song.cover }}"
                                                                             class="img-fluid"
                                                                             alt="{{ song.name }}"/>

                            <div class="level-list">
                                {% for diff in song.songDifficulties %}
                                    <div class='level {% if diff.isRanked %}is-ranked{% endif %}'
                                         style="background-color:#{{ diff.difficultyRank.color }};">
                                        {% if diff.isRanked %}<i class="fas fa-star"
                                                                 style="color:#{{ diff.difficultyRank.color }};"></i>{% endif %}
                                        <span>{{ diff.difficultyRank.level }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between pt-1">
                            <div>
                                {{ song.timeAgo }}
                            </div>
                            <div>
                                <i class="fas fa-clock"></i> {{ song.approximativeDurationMin }}
                            </div>
                            <div>
                                <i class="fas fa-drum"></i> {{ song.beatsPerMinute|round }}
                            </div>
                        </div>
                        <div class="download-buttons">
                            <div class="d-inline-block">
                                <a href="ragnac://install/{{ song.id }}"
                                   class="btn btn-block mr-1 btn-success">{{ "Install via RC App"|trans }}</a>
                            </div>
                            <div class="d-inline-block">
                                <a href="{{ url('song_direct_download',{id: song.id}) }}"
                                   class="btn btn-block ml-1 btn-info">{{ "ZIP"|trans }}</a>
                            </div>
                        </div>
                        <div>
                            <small class="text-warning">{{ song.downloads }} {{ "Downloads"|trans }}</small>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h1 class="text-warning">{{ song|raw }}</h1>
                        <h2>{{ song.authorName }}</h2>
                        <div class="tags">
                            {% for category in song.categoryTags %}
                                <span>{{ category.label }}</span>
                            {% endfor %}
                        </div>
                        <div class="mt-3 mb-3">
                            {% include 'songs/partial/downupvote.html.twig' %}
                        </div>
                        <div class="buttons-middle">
                            <div class="d-inline-block">
                                <a href="#"
                                   class="text-level-10 ajax-load popover-trigger btn btn-playlist"
                                   data-trigger="hover"
                                   data-placement="top"
                                   data-content="{{ "Add to playlist"|trans }}"
                                   data-replace-selector="#songPlaylists .modal-body"
                                   data-toggle='modal' data-target='#songPlaylists'
                                   data-url='{{ url('song_playlist',{id:song.id}) }}'
                                   data-song-id='{{ song.id }}'>
                                    <i class="fas fa-heart"></i>
                                </a>
                            </div>
                            {% if song.youtubeLink != null %}
                                <div class="d-inline-block">
                                    <a target="_blank" href="{{ song.youtubeLink }}"
                                       class="btn btn-youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="d-inline-block">
                                <a href="#" data-to-copy="!rc {{ song.id }}" class="copy-clipboard btn btn-twitch">
                                    <i class="fab fa-twitch"></i>
                                </a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="label">{{ "Mapped by"|trans }}</div>
                            <div class="mapper"><a
                                        href="{{ url("mapper_profile",{username:song.user.username}) }}">{{ song.mapper }}</a>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="label">{{ "Description"|trans }}</div>
                            <div class="description">   {% apply markdown_to_html %}
                                    {{ song.description is not null ? song.description|nl2br : "no description for now"|trans }}
                                {% endapply %}</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {% set feedbacks = songService.getVotePublicOrMine(app.user,song) %}
                        <div id="feedback-and-rating">
                            <div id="rating-box">
                                <div class="label">{{ "Rating" }}</div>
                                {% if song.wip %}
                                    <div class="rating-up">
                                        <span class="text-danger">{{ "Not available when the song is in \"WIP\" mode"|trans }}</span>
                                    </div>
                                {% else %}
                                    <div class="d-inline-flex rating-up">
                                        <div>{{ macro_vote.starsDisplay(song.voteAverage|round(2, "floor")) }}</div>
                                        <div class="ml-3">{{ song.voteAverage|round(2, "floor") }}
                                            ({{ song.countVotes+0 }})
                                        </div>
                                    </div>
                                    <hr class="mt-1 mb-3"/>
                                    <div>
                                        {{ macro_vote.ratingDisplayLabel("Fun factor:"|trans,song.funFactorAverage) }}
                                        {{ macro_vote.ratingDisplayLabel("Rhythm:"|trans,song.rhythmAverage) }}
                                        {{ macro_vote.ratingDisplayLabel("Pattern quality:"|trans,song.patternQualityAverage) }}
                                        {{ macro_vote.ratingDisplayLabel("Readability:"|trans,song.readabilityAverage) }}
                                    </div>
                                    <div>
                                        <button class="btn btn-block btn-warning ajax-load ajax-modal-form btn-sm mt-1 mb-2 song-review"
                                                data-toggle="modal"
                                                data-target="#reviewSong"
                                                data-refresh="true"
                                                data-url="{{ url('song_vote_review',{id:song.id}) }}"
                                                data-song-id="{{ song.id }}"
                                        >{{ "Submit rating"|trans }}</button>
                                        <button class="btn btn-block btn-sm mt-1 mb-2 song-feedback"
                                        >{{ "Read Feedback"|trans }} ({{ feedbacks|length }})</button>
                                    </div>
                                {% endif %}
                            </div>
                            <div id="feedback-box">
                                <div class="label">{{ "Feedbacks"|trans }}</div>
                                <div class="content-feedback">
                                    {% for feedback in feedbacks %}
                                        <div>
                                            {% if feedback.isAnonymous %}
                                                <b>{{ "Anonymous:"|trans }} </b>
                                            {% else %}
                                                <b>{{ feedback.user.username }} : {% if not feedback.isModerated %}
                                                        <div class="badge badge-danger">{{ "not moderated"|trans }}</div>{% endif %}
                                                </b>
                                            {% endif %}
                                            {{ feedback.feedback }}
                                        </div>
                                        <hr/>
                                    {% else %}
                                        <p>{{ "No feedback for now, be the first!"|trans }}</p>
                                    {% endfor %}
                                </div>
                                <button class="btn btn-block btn-sm mt-1 mb-2 back-feedback btn-outline-info"
                                >{{ "Back"|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-2">
                <div class="col-md-3" id="ragna_{{ song.id }}_detail"
                     data-file="{{ song.infoDatFile }}" {{ stimulus_target('song-detail', 'info') }}>
                    <h3>{{ "Preview"|trans }}</h3>
                    <div id="ragna-beat-diffs"></div>
                    <div id="ragna-beat-buttons"></div>
                    <div id="ragna-beat-sounds" class="text-center"></div>
                    <canvas id="ragna-canvas" width="300" height="600"></canvas>
                    <div id="ragna-beat-volumes"></div>
                    <div id="ragna-beat-info">(Drum sound only plays when this tab is active)</div>
                    <div id="ragna-beat-duration">
                        <input type="range" min="1" max="100" value="0">
                        <span class="current">00:00</span>
                        <span class="max">00:00</span>
                    </div>

                    <div class="text-center">New player by <b>Ratzee</b></div>

                </div>
                <div class="col-md-5">
                    <h3>
                        {{ "LeaderBoard"|trans }}
                    </h3>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        {% for level in levels %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {% if loop.index == 1 %}active{% endif %}"
                                   id="pills-level-{{ level['level'] }}"
                                   data-toggle="pill"
                                   href="#pills-leaderboard-{{ level['level'] }}"
                                   role="tab"
                                   aria-controls="pills-leaderboard-{{ level['level'] }}"
                                   style="background-color:#{{ level['color'] }};"
                                >level {{ level['level'] }} </a>
{% if is_granted('ROLE_MODERATOR') %}<a class="ajax-link"
                                   id="ranked-{{ level['difficulty'].id }}"
                                   data-replace-selector="#ranked-{{ level['difficulty'].id }}"
                                        data-success-action="replace-html"
                                        data-url="{{ url("score_unrank",{id: level['difficulty'].id })  }}"
                                        href="#">
                                    {% if level['difficulty'].isRanked %}
                                        <i class="fas fa-star"></i> ranked
                                    {% else %}
                                        <i class="far fa-star"></i> not r.
                                    {% endif %}
                                </a>
                                 {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content leaderboards" id="pills-tabContent">
                        {% for level in levels %}
                            <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}"
                                 id="pills-leaderboard-{{ level['level'] }}" role="tabpanel"
                                 aria-labelledby="pills-leaderboard-{{ level['level'] }}-tab">
                                {% include 'songs/partial/leaderboard.html.twig' with {level:level} %}
                            </div>
                        {% endfor %}
                    </div>


                </div>
                <div class="col-md-4">
                    <h3>{{ "Similar songs"|trans }}</h3>

                    {% include "song_partial/index.html.twig" with {songs:songService.similarSongs(song),bigOneDisabled:true} %}

                </div>
            </div>
        </div>

    </div>
    <script type="application/ld+json">
                    {
                        "@context": "https://schema.org",
                        "@type": "Product",
                        "author": "{{ song.levelAuthorName|escape }}",
                        "image": "https://ragnacustoms.com{{ song.cover }}",
                        "name": "{{ (song.name~" - "~song.authorName)|escape }}",
                        "aggregateRating": {
                            "@type": "AggregateRating",
                            "reviewCount": "{{ song.countVotes ? song.countVotes : 0 }}",
                            "ratingValue": "{{ song.countVotes is not null and song.countVotes >0 ? (song.totalVotes/song.countVotes)|round(2):"0.00" }}"
                        }
                    }




    </script>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('song_detail') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}


