{% extends 'base.html.twig' %}

{% block title %}RagnaCustoms.com, Getting started - FAQ{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="pt-5 pb-5">{{ "Getting started - FAQ"|trans }}</h1>
            <h5 class="pt-4">{{ "Q: How do I install custom songs on the <b>Steam</b> version of Ragnarock?"|trans|raw }}</h5>
            <div class="indent">
                There are two ways that you can install custom songs into Ragnarock.
                <div class="indent">
                    <div class="span">Option 1 - Extract Zip</div>
                    The first is by simply downloading the zip from the song page and extacting it to the following
                    folder
                    <div class="code">C:\Users\%username%\Documents\Ragnarock\CustomSongs\</div>
                    .<br/>
                    <div class="span">Option 2 - RagnaCustoms App (Preferred)</div>
                    You can also easily search and download songs usings the RagnaCustoms App. The app will allow
                    you to see new songs, download and install with a click of a button.<br/>
                    Learn more by checking out the <a href="https://github.com/pkshetlie/RagnaCustomsApp/releases"
                                                      target="_blank">RagnaCustoms App</a>.
                </div>
            </div>
            <h5 class="pt-4">Q: How do I install custom songs on the Oculus Quest version of Ragnarock?</h5>
            <div class="indent">
                The easiest way to install custom songs on the Quest version of RagnaRock is to install the
                RagnaCustoms App on your Windows PC.
                <div class="indent">
                    <span>Step 1:</span> Download the RagnaCustoms App.<br/>
                    <span>Step 2:</span> Plug in your Quest and enable device access.<br/>
                    <span>Step 3:</span> Click “Check Access” to make sure the computer can access your Quest
                    device. See image below.<br/>
                    <span>Step 4:</span> Download the songs from the list or using the “1 click download” button on
                    the website.<br/>
                    <span>Step 5:</span> When you have downloaded all the songs you want to play, click “Sync
                    Songs.” See image below.<br/>
                    <img src="{{ asset('apps/oculus_sync.jpg') }}" alt="oculus sync"/>
                </div>
            </div>
            <h5 class="pt-4">Q: How do I upload scores to RagnaCustoms for custom songs?</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="indent">
                        <h6>Steam</h6>
                        <span>Step 1:</span> Locate the file Game.ini at
                        <div class="code">C:\Users\%username%\AppData\Local\Ragnarock\Saved\Config\WindowsNoEditor\</div>
                        <br/><small>PS : you can copy and paste it works ;)</small>
                        <br/>

                        <span>Step 2:</span> Edit this file to add following :<br/>
                        <div>
                            <div class="code">
                                [/Script/Ragnarock.RagnarockSettings]<br/>
                                CustomApiURLs="https://ragnacustoms.com/wanapi/score/{% if is_granted("ROLE_USER") %}{{ app.user.apiKey }}{% else %}
                                <a href="{{ url('user') }}">your api key</a>{% endif %}"
                            </div>
                        </div>
                        <span>Step 3:</span> Save the file and start the game<br/>
                        <span>Step 4:</span> In advanced menu you have to check "Allow Sending Custom Songs Scores"<br/>
                        <span>Step 5:</span> Play & enjoy
                    </div>
                </div>
                <div class="col-md-6">
                    <h6>Oculus</h6>
                    Soon.
                </div>
            </div>
            <h5 class="pt-4">Q: Where are custom songs located in the game?</h5>
            <div class="indent">They will be located in the “Custom Songs” album at the bottom of the song catalog
                menu.
            </div>

            <h5 class="pt-4">Q: Can I play custom songs against others in multiplayer?</h5>
            <div class="indent">Yes ! in private PVP.</div>

            <h5 class="pt-4">Q: What songs are allowed?</h5>
            <div class="indent">Generally speaking, any song is allowed as long as effort was put in to make it an
                enjoyable experience
                in Ragnarock. The only time where a song might be removed if it is deemed overtly offensive.
            </div>

            <h5 class="pt-4">Q: How do I create my own custom songs?</h5>
            <div class="indent">You can map your own customs songs for Ragnarock using <a
                        href="https://pkbeam.github.io/Edda/" target="_blank">EDDA</a>, a
                Ragnarock-specific mapping program created by PKBeam. Learn more at the <a
                        href="https://pkbeam.github.io/Edda/" target="_blank">official EDDA website</a>.
            </div>

        </div>
    </div>
    {% endblock %}


    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('getting_started') }}
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
{% endblock %}