{% extends 'base.html.twig' %}

{% block title %}Customs songs for Ragnaröck VR {{ parent() }}{% endblock %}

{% block body %}

    <div class="row pt-3 highlight">
        <div class="col-12">
            <h1 class="">
                {{ "Custom songs available for Ragnaröck VR"|trans }}
            </h1>
        </div>
        <div id="search-bar" class="col-12">
            <form class=" search-and-filter">
                <div class="row">
                    <div class="col-md-4 form-group active">
                        <label for="search">{{ "Search"|trans }}</label>
                        <input type="text" value="{{ app.request.get('search') }}" class="form-control form-control-sm"
                               placeholder="{{ "Search by title, artist or mapper"|trans }}" name="search" id="search">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="downloads-filter-category">{{ "Difficulties"|trans }}</label>
                        <select id="downloads-filter-category" name="downloads_filter_difficulties"
                                class="form-control form-control-sm">
                            <option value="">{{ "All"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "1-3"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "4-7"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 3 %}selected="selected"{% endif %}
                                    value="3">{{ "8-10"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 4 %}selected="selected"{% endif %} value="4">{{ "Ranked only"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 5 %}selected="selected"{% endif %} value="5">{{ "WIP only"|trans }}</option>

                        </select>
                    </div>
                    <div class="col-md-2 form-group ">
                        <label for="downloads-filter-order">{{ "Converted map"|trans }}</label>
                        <select id="downloads-filter-order" name="converted_maps" class="form-control form-control-sm">
                            <option value="">{{ "With"|trans }}</option>
                            <option {% if app.request.get('converted_maps') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "Without"|trans }}</option>
                            <option {% if app.request.get('converted_maps') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "Only converted"|trans }}</option>
                        </select>

                    </div>
                    <div class="col-md-2 form-group ">
                        <label for="downloads-filter-order">{{ "Order by"|trans }}</label>
                        <select id="downloads-filter-order" name="downloads_filter_order" class="form-control form-control-sm">
                            <option value="">{{ "Last added"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 3 %}selected="selected"{% endif %} value="3">{{ "Last updated"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "Vote"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "Duration"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_order') == 4 %}selected="selected"{% endif %} value="4">{{ "Alphabetical"|trans }}</option>
                        </select>
                    </div>
                    <div class="col-md-2 pt-4">
                        <button type="submit" name="search_btn" value="1" class="btn btn-sm btn-primary">{{ "Filter songs"|trans }}</button>
                        <button data-toggle="tooltips" title="{{ "Download filtered selection"|trans }}" type="submit" name="onclick_dl" value="42" class="btn btn-sm btn-danger" data-confirm="{{ "You are going to download a lot of custom songs and it can take a while, do you want to continue?"|trans }}" ><i class="fas fa-download"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{#        <div class="col-12">#}
{#            <table  id="table-song"  class="table songs" >#}
{#                    <tr class="table-header">#}
{#                        <th class="table-header-column">#}
{#                           {{ "Song"|trans }}#}
{#                        </th>#}
{#                        <th class="table-header-column padded">#}
{#                            {{ "Note/sec"|trans }}#}
{#                        </th>#}
{#                        <th class="table-header-column padded">#}
{#                            {{ "LastUpdate"|trans }}#}
{#                        </th>#}
{#                        <th class="table-header-column padded">#}
{#                            {{ "Duration"|trans }}#}
{#                        </th>#}
{#                        <th class="table-header-column padded">#}
{#                           {{ "BPM"|trans }}#}
{#                        </th>#}
{#                        <th class="table-header-column padded">#}
{#                            {{ "Votes"|trans }}#}
{#                        </th>#}
{#                        <th class="table-header-column padded">#}
{#                        </th>#}
{#                        <th class="table-header-column padded-left"></th>#}
{#                    </tr>#}

{#                {% include 'songs/partial/song_row.html.twig' with {songs:songs} %}#}
{#            </table>#}
            {% include 'songs/partial/song_row_div.html.twig' with {songs:songs} %}

{#        </div>#}
{#    </div>#}

{% endblock %}


{% block endBody %}

    <div class="modal fade" id="reviewSong" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Song Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="form-review">
                    ...
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="songPlaylists" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add song to playlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="form-playlist">
                    ...
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="feedbackSong" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Song feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="form-feedback">
                    ...
                </div>

            </div>
        </div>
    </div>
{% endblock %}
