{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- GRID -->
    <div class="grid grid-12">

        <!-- GRID COLUMN -->
        <div class="account-hub-content">
            <!-- SECTION HEADER -->
            <div class="section-header">
                <!-- SECTION HEADER INFO -->
                <div class="section-header-info">
                    <!-- SECTION PRETITLE -->
                    <p class="section-pretitle">{{ "Catalog"|trans }}</p>
                    <!-- /SECTION PRETITLE -->

                    <!-- SECTION TITLE -->
                    <h2 class="section-title">{{ "Songs"|trans }} <span class="highlighted">{{ songs.count }}</span></h2>
                    <!-- /SECTION TITLE -->
                </div>
                <!-- /SECTION HEADER INFO -->
            </div>
            <!-- /SECTION HEADER -->

            <!-- SECTION FILTERS BAR -->
            <div class="section-filters-bar v2">
                <!-- FORM -->
                <form class="form">
                    <!-- FORM ITEM -->
                    <div class="form-item split medium">
                        <!-- FORM SELECT -->
                        <div class="form-select">
                            <label for="downloads-filter-category">{{ "Filter By"|trans }}</label>
                            <select id="downloads-filter-category" name="downloads_filter_category">
                                <option value="">{{ "Soon"|trans }}</option>
                            </select>
                            <!-- FORM SELECT ICON -->
                            <svg class="form-select-icon icon-small-arrow">
                                <use xlink:href="#svg-small-arrow"></use>
                            </svg>
                            <!-- /FORM SELECT ICON -->
                        </div>
                        <!-- /FORM SELECT -->

                        <!-- FORM SELECT -->
                        <div class="form-select">
                            <label for="downloads-filter-order">{{ "Order by"|trans }}</label>
                            <select id="downloads-filter-order" name="downloads_filter_order">
                                <option value="">{{ "Soon"|trans }}</option>
                            </select>
                            <!-- FORM SELECT ICON -->
                            <svg class="form-select-icon icon-small-arrow">
                                <use xlink:href="#svg-small-arrow"></use>
                            </svg>
                            <!-- /FORM SELECT ICON -->
                        </div>
                        <!-- /FORM SELECT -->

                        <!-- BUTTON -->
                        <button class="button primary">{{ "Filter songs"|trans }}</button>
                        <!-- /BUTTON -->
                    </div>
                    <!-- /FORM ITEM -->
                </form>
                <!-- /FORM -->
            </div>
            <!-- /SECTION FILTERS BAR -->

            <!-- TABLE WRAP -->
            <div class="table-wrap" data-simplebar>
                <!-- TABLE -->
                <div class="table table-downloads split-rows">
                    <!-- TABLE HEADER -->
                    <div class="table-header">
                        <!-- TABLE HEADER COLUMN -->
                        <div class="table-header-column">
                            <!-- TABLE HEADER TITLE -->
                            <p class="table-header-title">{{ "Song"|trans }}</p>
                            <!-- /TABLE HEADER TITLE -->
                        </div>
                        <!-- /TABLE HEADER COLUMN -->

                        <!-- TABLE HEADER COLUMN -->
                        <div class="table-header-column padded">
                            <!-- TABLE HEADER TITLE -->
                            <p class="table-header-title">{{ "Duration"|trans }}</p>
                            <!-- /TABLE HEADER TITLE -->
                        </div>
                        <!-- /TABLE HEADER COLUMN -->

                        <!-- TABLE HEADER COLUMN -->
                        <div class="table-header-column padded">
                            <!-- TABLE HEADER TITLE -->
                            <p class="table-header-title">{{ "BPM"|trans }}</p>
                            <!-- /TABLE HEADER TITLE -->
                        </div>
                        <div class="table-header-column padded">
                            <!-- TABLE HEADER TITLE -->
                            <p class="table-header-title">{{ "Votes"|trans }}</p>
                            <!-- /TABLE HEADER TITLE -->
                        </div>
                        <!-- /TABLE HEADER COLUMN -->

                        <!-- TABLE HEADER COLUMN -->
                        <div class="table-header-column padded-left"></div>
                        <!-- /TABLE HEADER COLUMN -->
                    </div>
                    <!-- /TABLE HEADER -->

                    <!-- TABLE BODY -->
                    <div class="table-body same-color-rows">

                        <!-- TABLE ROW -->
                        {% include 'songs/partial/song_row.html.twig' with {songs:songs} %}
                        <!-- /TABLE ROW -->
                        {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
                        {{ macro_pagination.seeMore(songs,"see more"|trans) }}

                    </div>
                    <!-- /TABLE BODY -->
                </div>
                <!-- /TABLE -->
            </div>
            <!-- TABLE WRAP -->
        </div>
        <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->

{% endblock %}


