{% extends 'base.html.twig' %}

{% block title %}{{ "My applications & Premium"|trans }}{% endblock %}
{% block body %}
    <div {{ stimulus_controller('user_application') }} {{ stimulus_target('user_application', 'background') }}>
        <div class="container pt-4">
            <div class="row">
                <div class="col-md-6">

                    <h2>{{ "Applications"|trans }}</h2>
{#                        <a href="">Discord</a>#}
                    <a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ patreon_client_id}}&redirect_uri={{ url('user_applications') }}
    &scope=<optional list of requested scopes>
    &state=<optional string>">{{ "Link your Patreon account"|trans }}</a>
                </div>
                <div class="col-md-6">
                    <h2>{{ "Premium"|trans }}</h2>
                    <h5 class="pt-4">Q: What is Premium?</h5>
                    <div class="indent">
                        Premium is a paid service, that give you some advantages on the website.
                    </div>
                    <h5 class="pt-4">Q: How to be Premium?</h5>
                    <div class="indent">
                        Premium use Patreon subscriptions, each level of subscription unlock some extra settings.
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}