{% extends 'base.html.twig' %}
{% import "songs/macros/song.html.twig" as macro_song %}

{% block title %}{{ "My account"|trans }}{% endblock %}
{% block body %}
    <div {{ stimulus_controller('user') }} {{ stimulus_target('user', 'background') }}>
        <div class="darker">
            <div class="container-fluid">
                {{ form_start(form) }}
                <div class="row mt-3">
                    <div class="col-md-2">
                     {% include 'user/partial/_left_part_user.html.twig' %}
                    </div>

                    <div class="col-md-5">

                        <div class="{% if not is_granted('ROLE_PREMIUM_LVL2') %}d-none{% endif %}"><i data-toggle="tooltip" title="premium feature" class="fas fa-gavel text-warning" ></i> Username color
                            : {{ form_widget(form.usernameColor) }}
                        </div>

                        <label for="ApiKey" class="col-form-label">{{ "Your API key"|trans }} </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text copy-clipboard" title="{{ "copied !"|trans }}"
                                     data-to-copy="{{ app.user.apiKey }}"><i class="fa fa-copy"></i></div>
                            </div>
                            <input id="ApiKey" class="form-control " value="{{ app.user.apiKey }}" readonly/>
                            <div class="input-group-append">
                                <div class="input-group-btn btn btn-warning reset-api-key" title="reset your apiKey" ><i class="fa fa-refresh"></i></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <small>
                                {{ "If you already get the application <a href=\"ragnac://api/{{ app.user.apiKey }}\">click
                                here</a> to auto-set your API key"|trans|raw }}
                            </small>
                        </div>

                        {{ form_row(form.country) }}
                        {{ form_row(form.email) }}

                        <div class="mt-2">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary">{{ "Save"|trans }}</button>
                            </div>
                            <div class="form-check form-check-inline">
                                {{ form_widget(form.isMapper,{"attr":{"class":"form-check-input"}}) }}
                                {{ form_label(form.isMapper,null,{"label_attr":{"class":"form-check-label"}}) }}
                            </div>
                            {#                            <div class="form-check form-check-inline"> #}
                            {#                                {{ form_widget(form.isPublic,{"attr":{"class":"form-check-input"}}) }} #}
                            {#                                {{ form_label(form.isPublic,null,{"label_attr":{"class":"form-check-label"}}) }} #}
                            {#                            </div> #}
                            <div class="form-check form-check-inline">
                                {{ form_widget(form.enableEmailNotification,{"attr":{"class":"form-check-input"}}) }}
                                {{ form_label(form.enableEmailNotification,null,{"label_attr":{"class":"form-check-label"}}) }}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="public_informations">
                            {{ form_row(form.mapperName) }}
                            {{ form_row(form.mapperDiscord) }}
                            {{ form_row(form.mapperDescription) }}
                            {% if app.user.discordUsername is null %}
                            <a href="{{ url('discord_link') }}" class="btn btn-sm btn-info btn-discord">link discord</a>
                            {% else %}
                            {{ app.user.discordUsername }}
                            {% endif %}

                            <div class="float-right">
                                <button type="submit" class="btn btn-primary">{{ "Save"|trans }}</button>
                            </div>
                        </div>
                    </div>


                </div>
                {{ form_end(form) }}
            </div>

        </div>

    </div>
{% endblock %}