{% extends 'base.html.twig' %}
{% import "songs/macros/song.html.twig" as macro_song %}

{% block title %}{{ "My Profile"|trans }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ "My profile"|trans }}</h1>

            <div class="d-flex">
                <div class="p-5">
                    <img src="{{ app.user.gravatar }}" alt="Your profile picture"/><br/>
                    <small>For the picture we use <a href="https://gravatar.com/" target="_blank">Gravatar</a> please
                        use it too</small>

                    <h2>{{ app.user.username }}</h2>
                </div>
                <div class="flex-fill ">
                    <div class="form-group row pt-5">
                        <label for="ApiKey" class="col-sm-2 col-form-label">{{ "Your API key"|trans }} : </label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="ApiKey" class="form-control" value="{{ app.user.apiKey }}" readonly/>
                                <div class="input-group-append">
                                    <div class="input-group-text copy-clipboard" title="{{ "copied !"|trans }}"
                                         data-to-copy="{{ app.user.apiKey }}"><i class="fa fa-copy"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-2 pb-5">
                        If you already get the application <a href="ragnac://api/{{ app.user.apiKey }}">click here</a>
                        to auto-set your API key
                    </div>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.email) }}
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.isMapper,{"attr":{"class":"form-check-input"}}) }}
                        {{ form_label(form.isMapper,null,{"label_attr":{"class":"form-check-label"}}) }}
                    </div>
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.isPublic,{"attr":{"class":"form-check-input"}}) }}
                        {{ form_label(form.isPublic,null,{"label_attr":{"class":"form-check-label"}}) }}
                    </div>
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.enableEmailNotification,{"attr":{"class":"form-check-input"}}) }}
                        {{ form_label(form.enableEmailNotification,null,{"label_attr":{"class":"form-check-label"}}) }}
                    </div>
                    <div id="public_informations" style="display: none">
                        {{ form_row(form.mapperName) }}
                        {{ form_row(form.mapperDiscord) }}
                        {{ form_row(form.mapperDescription) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            <h2>Last songs played</h2>
            <table class="table songs">
                <tr>
                    <th>Song</th>
                    <th class="text-right">level played</th>
                    <th class="text-right">Score</th>
                    <th class="text-right">Action</th>
                </tr>
                {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
                {% for score in pagination.entities %}
                    <tr>
                        <td class="song-preview tiny">
                            {% set song = score.song %}
                            {{ macro_song.description(song) }}
                        </td>
                        <td class="text-right">{{ score.difficulty }}</td>
                        <td class="text-right">{{ score.score }}</td>
                        <td class="text-right"><a target="_blank"
                                                  href="{{ url("user_progress_song",{id:song.id, level:score.difficulty}) }}"
                                                  title="see progression"><i class="fas fa-eye"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'widget/paginate.html.twig' with {pagination:pagination} %}

        </div>
    </div>
{% endblock %}