{% extends 'base.html.twig' %}
{% block title %}{{ "%username%'s profile"|trans|replace({"%username%":user.username}) }} {{ parent() }}{% endblock %}
   {% block metas %}
       <meta name="description" content="{{ "%username%'s profile"|trans|replace({"%username%":user.username}) }}">
       <meta property="og:url" content="https://ragnacustoms.com"/>
       <meta property="og:type" content="website"/>
       <meta property="og:title" content="{{ "%username%'s profile"|trans|replace({"%username%":user.username}) }}"/>
       <meta property="og:description" content="{{ "%username%'s profile"|trans|replace({"%username%":user.username}) }}"/>
       <meta property="og:image" content="https://ragnacustoms.com/apps/logo.webp?noel"/>
   {% endblock %}

{% block body %}
    <div class="profile pb-3">
    <div {{ stimulus_controller('mapper-profile') }} {{ stimulus_target('mapper-profile', 'background') }}
            id="mapper-profile">
        <div class="darker pb-4" id="profile-header">
            <div class="container">
                {% block header_content %}{% endblock %}
            </div>
        </div>

    </div>
    <div class="container pt-4">
        {% block detailed_content %}{% endblock %}
    </div>
    </div>
{% endblock %}


