{% import "songs/macros/song.html.twig" as macro_song %}

{% extends 'base.html.twig' %}
    {% block title %}{{ user.username }}'s profile{% endblock %}
    {% block body %}
        <div class="row">
            <div class="col-12">
                <h1>{{ user.username }}'s profile</h1>
                <div class="d-flex">
                    <div class="">
                        <img src="{{ user.gravatar }}" style="max-height:100px;" alt="{{ user.username }}"/><br/>
                    </div>
                    <div class="p-3">
                        Global ranking : #{{ scoreService.getRanking(user, "global") }}<br/>
                        Season Ranking : #{{ scoreService.getRanking(user, "season") }}<br/>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <h2>20 last songs played</h2>
                <table class="table songs">
                    <tr>
                        <th>Song</th>
                        <th class="text-right">level played</th>
                        <th class="text-right">Score</th>
                    </tr>
                    {% for score in scoreService.Last20FromUser(user) %}
                        <tr>
                            <td class="song-preview tiny">
                                {% set song = songService.getByhash(score.hash) %}
                                {{ macro_song.description(song) }}
                            </td>
                            <td class="text-right">{{ score.difficulty }}</td>
                            <td class="text-right">{{ score.score }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endblock %}


