{% extends 'base.html.twig' %}
{% import "songs/macros/song.html.twig" as macro_song %}

{% block title %}My progression{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="pt-5">{{ "My progression on %songname% level %level%"|trans(null,{"%songname%":song.name,"%level%":level}) }}</h1>

            <canvas id="myChart" width="600" height="200"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['{{ labels|join("','")|raw }}'],
                        datasets: [{
                            label: '{{ "Distance"|trans }}',
                            data: [{{ data|join(",") }}],
                            fill: false,
                            borderColor: '#890ab3',
                            tension: 0.1,
                            yAxisID: 'y',

                            // borderWidth: 1
                        },{
                            label: '{{ "Notes Hit"|trans }}',
                            data: [{{ notesHit|join(",") }}],
                            fill: false,
                            borderColor: '#0a64b3',
                            tension: 0.1,
                            yAxisID: 'y1',

                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: false
                            },
                            y1: {
                                beginAtZero: false,
                                position: 'right'


                            }
                        }
                    }
                });
            </script>

        </div>
    </div>
{% endblock %}