{% extends 'base.html.twig' %}

{% block body %}
<div {{ stimulus_controller('recently-played') }} {{ stimulus_target('recently-played', 'background') }}>
    <div  class="container pt-4">
        <div class="row">
            <div class="col-md-10">
                <h2>{{ "recently played"|trans }}</h2>
                {% import "widget/order_link.html.twig" as macro_order %}
                <table class="table songs recently-played">
                    <tr>
                        <th>
                            {{ macro_order.order_link("Title","name") }}
                        </th>
                        <th class="">{{ "Difficulty"|trans }}</th>
                        <th class="">{{ "Rank"|trans }}</th>
                        <th class="">{{ "Distance"|trans }}</th>
                        <th class="">
                            {{ macro_order.order_link("Score","score") }}
                        </th>
                        <th class="">
                            {{ macro_order.order_link("Date","date") }}
                        </th>
                        <th class="">{{ "Stats"|trans }}</th>
                        <th></th>
                    </tr>
                    {% import "@Pagination/Pagination/macro.twig" as macro_pagination %}
                    {% for score in pagination.entities %}
                        {% include 'songs/partial/song_row_recently_played.html.twig' with {score:score} %}
                    {% endfor %}
                </table>
                {% include 'widget/paginate.html.twig' with {pagination:pagination} %}
            </div>
            <div class="col-md-2">
                <h2 class="active">{{ "Filter"|trans }}</h2>
                <form class="search-and-filter">

                    <div class="form-group">
                        <label for="search">{{ "Title, artist or mapper"|trans }}</label>
                        <input type="text" value="{{ app.request.get('search') }}"
                               class="form-control form-control-sm"
                               placeholder="" name="search"
                               id="search">
                    </div>

                    <div class="form-group">
                        <label for="search">{{ "Submitted date"|trans }}</label>
                        <select id="downloads-submitted-date"
                                name="downloads_submitted_date"
                                class="form-control form-control-sm">
                            <option
                                    value="">{{ "Any time"|trans }}</option>
                            <option {% if  app.request.get('downloads_submitted_date') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "Last 7 days"|trans }}</option>
                            <option {% if  app.request.get('downloads_submitted_date') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "Last 15 days"|trans }}</option>
                            <option {% if  app.request.get('downloads_submitted_date') == 2 %}selected="selected"{% endif %}
                                    value="3">{{ "Last 45 days"|trans }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="downloads-filter-category">{{ "Difficulties"|trans }}</label>
                        <select id="downloads-filter-category" name="downloads_filter_difficulties"
                                class="form-control form-control-sm">
                            <option value="">{{ "All"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "1-3"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "4-7"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 3 %}selected="selected"{% endif %}
                                    value="3">{{ "8-10"|trans }}</option>
                            <option {% if app.request.get('downloads_filter_difficulties') == 6 %}selected="selected"{% endif %}
                                    value="6">{{ "10+"|trans }}</option>


                        </select>
                    </div>

                    <div class="form-group">
                        <label for="downloads-category">{{ "Genre"|trans }}</label>
                        <select data-placeholder="All" id="downloads-category" data-allow-clear="true"
                                data-tags="false" name="downloads_filter_categories[]"
                                class="form-control form-control-sm select2" multiple="true">
                            {% for category in categories %}
                                <option {% if category.id in app.request.get('downloads_filter_categories') %}selected="selected"{% endif %}
                                        value="{{ category.id }}">{{ category.label }}</option>                                {% endfor %}
                        </select>
                    </div>

                    <div class="form-group ">
                        <label for="downloads-filter-converted">{{ "Converted map"|trans }}</label>
                        <select id="downloads-filter-converted" name="converted_maps"
                                class="form-control form-control-sm">
                            <option value="">{{ "With"|trans }}</option>
                            <option {% if app.request.get('converted_maps') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "Without"|trans }}</option>
                            <option {% if app.request.get('converted_maps') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "Only converted"|trans }}</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="downloads-filter-converted">{{ "W.I.P. map"|trans }}</label>
                        <select id="downloads-filter-converted" name="wip_maps"
                                class="form-control form-control-sm">
                            <option value="">{{ "Without"|trans }}</option>
                            <option {% if app.request.get('wip_maps') == 1 %}selected="selected"{% endif %}
                                    value="1">{{ "With"|trans }}</option>
                            <option {% if app.request.get('wip_maps') == 2 %}selected="selected"{% endif %}
                                    value="2">{{ "Only W.I.P."|trans }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        {% if is_granted('ROLE_USER') %}
                            <div class="form-check">
                                <input class="form-check-input" {% if app.request.get("not_downloaded") == 1%}checked="checked"{% endif%} type="checkbox" value="1" name="not_downloaded" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{ "Not downloaded"|trans }}
                                </label>
                            </div>
                        {% endif %}
                        <div class="form-check">
                            <input class="form-check-input" {% if app.request.get("only_ranked") == 1%}checked="checked"{% endif%} type="checkbox" value="1" name="only_ranked" id="only_ranked">
                            <label class="form-check-label" for="only_ranked">
                                {{ "Only ranked"|trans }}
                            </label>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="form-check">
                                <input class="form-check-input" {% if app.request.get("alreadyplayed") == 1%}checked="checked"{% endif%} type="checkbox" value="1" name="alreadyplayed" id="alreadyplayed">
                                <label class="form-check-label" for="alreadyplayed">
                                    {{ "Disable played difficulties"|trans }}
                                </label>
                            </div>
                        {% endif %}


                    </div>
                    <button type="submit" name="search_btn" value="1"
                            class="btn btn-sm btn-block btn-info">{{ "Apply filters"|trans }}</button>
                    <button data-toggle="tooltips" title="{{ "Download this selection"|trans }}"
                            type="submit" name="oneclick_dl" value="42" class="btn btn-sm btn-success btn-block float-right mb-2"
                            data-confirm="{{ "You are going to download a lot of custom songs and it can take a while, do you want to continue?"|trans }}">
                        <i class="fas fa-download"></i> {{ '1 click'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

