{% extends 'base.html.twig' %}

{% block title %}Song upload{% endblock %}

    {% block javascripts %}
        {{ parent()}}
    {% endblock %}

{% block body %}
    <div {{ stimulus_controller('song-upload') }}  class="container">
        <div id="song-list" class="row mt-3">
            <div class="col-md-3">
                {% include 'user/partial/_left_part_user.html.twig' %}
            </div>
            <div class="col-md-7">
                <h2 class="">
                    {{ "My uploads"|trans }}
                </h2>
                <table class="featured-table-lg table table-sm">
                    <tr>
                        <th><a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({"order_by":"s.name", "order_sort":app.request.get('order_sort', 'asc') == 'asc'? 'desc':'asc'})) }}"
                               class="{% if app.request.get('order_by') == "s.name" %}active{% endif %} {% if app.request.get('order_sort', 'asc') == "asc" %}sort-asc{% else %}sort-desc{% endif %}">
                                {{ "Title"|trans }}
                            </a>
                        </th>
                        <th>{{ "Difficulties"|trans }}</th>
                        <th>{{ "Mapper"|trans }}</th>
                        <th><a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({"order_by":"rating", "order_sort":app.request.get('order_sort', 'asc') == 'asc'? 'desc':'asc'})) }}"
                               class="{% if app.request.get('order_by') == "rating" %}active{% endif %} {% if app.request.get('order_sort', 'asc') == "asc" %}sort-asc{% else %}sort-desc{% endif %}">
                                {{ "Votes"|trans }}</a></th>
                        <th>{{ "Rating"|trans }}</th>
                        <th class="text-right">
                            <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({"order_by":"s.lastDateUpload", "order_sort":app.request.get('order_sort', 'asc') == 'asc'? 'desc':'asc'})) }}"
                               class="{% if app.request.get('order_by') == "s.lastDateUpload" %}active{% endif %} {% if app.request.get('order_sort', 'asc') == "asc" %}sort-asc{% else %}sort-desc{% endif %}">
                                {{ "Upload Date"|trans }}
                            </a>
                        </th>

                        <th class="text-right">
                            <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({"order_by":"s.downloads", "order_sort":app.request.get('order_sort', 'asc') == 'asc'? 'desc':'asc'})) }}"
                               class="{% if app.request.get('order_by') == "s.downloads" %}active{% endif %} {% if app.request.get('order_sort', 'asc') == "asc" %}sort-asc{% else %}sort-desc{% endif %}">

                                {{ "Downloads"|trans }}
                            </a>
                        </th>

                        <th class="">
                            {{ "published"|trans }}
                        </th>
{#                        <th class="text-right">#}
{#                            <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({"order_by":"s.downloads", "order_sort":app.request.get('order_sort', 'asc') == 'asc'? 'desc':'asc'})) }}"#}
{#                               class="{% if app.request.get('order_by') == "s.downloads" %}active{% endif %} {% if app.request.get('order_sort', 'asc') == "asc" %}sort-asc{% else %}sort-desc{% endif %}">#}
{#                                {{ "Played"|trans }}#}
{#                            </a>#}
{#                        </th>#}
                        <th style="width:60px"></th>
                    </tr>
                    {% for song in songs.entities %}
                        {% include 'songs/partial/song_uploaded.html.twig' with {songs:songs, seePlayed:true} %}
                    {% else %}
                        <tr>
                            <td colspan="8">
                                {{ "No song for now"|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {% include 'widget/paginate.html.twig' with {pagination:songs} %}


            </div>
            <div class="col-md-2">
                <h2 class="active">{{ "Filter"|trans }}</h2>
                <form class="search-and-filter">

                    <div class="form-group">
                        <label for="search">{{ "Title, artist or mapper"|trans }}</label>
                        <input type="text" value="{{ app.request.get('search') }}"
                               class="form-control form-control-sm"
                               placeholder="" name="search"
                               id="search">
                    </div>

                    <button type="submit" name="search_btn" value="1"
                            class="btn btn-sm btn-block btn-info">{{ "Apply filters"|trans }}</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}


