{% extends 'base.html.twig' %}

{% block title %}Song upload{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h2>Upload new song</h2>
            <p class="pt-2">
                {{ "Upload a .zip file max 20Mo. that contain all files for the map."|trans }}
            </p>

            {{ form_start(form) }}
            {{ form_widget(form.zipFile) }}

            {{ form_row(form.description,{"attr":{"class":'form-control'}}) }}
            <div class="text-right"><small>{{ "you can use <a target=\"_blank\" href=\"https://guides.github.com/features/mastering-markdown/\">Markdown</a> in description"|trans|raw }}</small></div>
            {{ form_widget(form.replaceExisting) }}
            <label for="form_replaceExisting">{{ "Replace song if exists."|trans }}</label><br/>

            {{ form_widget(form.converted) }}
            <label for="form_converted">{{ "Is converted"|trans }}</label><br/>
            <button class="btn btn-sm btn-primary">{{ "Upload"|trans }}</button>

            {{ form_end(form) }}
        </div>
        <hr/>
        <div class="col-12">
            <table class="table songs">
                <tr class="table-header">
                    <th class="table-header-column">
                        <p class="table-header-title">{{ "Song"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "LastUpdate"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "Duration"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "BPM"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "Votes"|trans }}</p>
                    </th>
                    <th class="table-header-column padded" title="all download">
                        {{ "DL"|trans }}
                    </th>
                    <th class="table-header-column padded" title="unique download">
                        {{ "DLU"|trans }}
                    </th>
                    <th>
                        {{ "Views"|trans }}
                    </th>
                    <th class="table-header-column padded-left"></th>
                </tr>

                {% include 'upload_song/partial/uploaded_song_row.html.twig' with {songs:songs} %}
            </table>
        </div>
    </div>


{% endblock %}
{% block endBody %}

    <div class="modal fade" id="reviewSong" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Song Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="form-review">
                    ...
                </div>

            </div>
        </div>
    </div>

{% endblock %}
