{% extends 'base.html.twig' %}

{% block title %}Song upload{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h2>Upload new song</h2>
            <p class="pt-2">
                {{ "Upload a .zip file max 20Mo. that contain all files for the map."|trans }}
            </p>

            {{ form_start(form) }}
            {{ form_widget(form.zipFile) }}

            {{ form_row(form.description,{"attr":{"class":'form-control'}}) }}

            {{ form_widget(form.replaceExisting) }}
            <label for="form_replaceExisting">{{ "Replace song if exists."|trans }}</label><br/>

            {{ form_widget(form.converted) }}
            <label for="form_converted">{{ "Is converted"|trans }}</label><br/>


            <button class="btn btn-sm btn-primary">{{ "Upload"|trans }}</button>

            {{ form_end(form) }}
        </div>
<hr/>
        <div class="col-12">
            <table class="table songs">
                <tr class="table-header">
                    <th class="table-header-column">
                        <p class="table-header-title">{{ "Song"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "LastUpdate"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "Duration"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "BPM"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "Votes"|trans }}</p>
                    </th>
                    <th class="table-header-column padded">
                        <p class="table-header-title">{{ "Downloads"|trans }}/{{ "Views"|trans }}</p>
                    </th>
                    <th class="table-header-column padded-left"></th>
                </tr>

                {% include 'upload_song/partial/uploaded_song_row.html.twig' with {songs:songs} %}
            </table>
        </div>
    </div>


{% endblock %}
{% block endBody %}


    <div class="popup-box small popup-review">

        <div class="popup-close-button popup-review-trigger">

            <svg class="popup-close-button-icon icon-cross">
                <use xlink:href="#svg-cross"></use>
            </svg>

        </div>


        <p class="popup-box-title">Review Song</p>

        <div id="form-review">Loading please wait ...</div>


    </div>


{% endblock %}
