{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Challenges"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Challenges"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-primary card-outline card-tabs">
                        <div class="card-header p-0 pt-1 border-bottom-0">
                            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill"
                                           href="#infos" role="tab" aria-controls="custom-tabs-three-home"
                                           aria-selected="true">
                                            Infos de base
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill"
                                           href="#rules" role="tab" aria-controls="custom-tabs-three-profile"
                                           aria-selected="false">
                                            Règles
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                        <div class="card-body">
                            {% if is_granted('ROLE_ADMIN') %}
                                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                {{ form_start(form) }}
                            {% endif %}
                            <div class="tab-content" id="custom-tabs-three-tabContent">


                                {% if is_granted('ROLE_ADMIN') %}

                                    <div class="tab-pane fade show active" id="infos" role="tabpanel"
                                         aria-labelledby="custom-tabs-three-home-tab">

                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form_row(form.title) }}
                                                {{ form_row(form.season) }}
                                                {{ form_row(form.type) }}
                                                {{ form_row(form.description) }}
                                                {{ form_row(form.theFile) }}
                                                {{ form_row(form.banner) }}
                                                {{ form_row(form.displayRulesAndRatiosBeforeStart) }}
                                                {{ form_row(form.displayTotalInMod) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.registrationOpening) }}
                                                {{ form_row(form.registrationClosing) }}
                                                {{ form_row(form.maxChallenger) }}
                                                {{ form_row(form.malusPerRun) }}
                                                {{ form_row(form.malusMax) }}
                                                {{ form_row(form.display) }}
                                                <div class="form-group">
                                                    <label>Dates du challenge</label>
                                                    <button type="button"
                                                            class="add-date btn btn-success btn-xs float-right">Ajouter
                                                        une
                                                        date
                                                    </button>
                                                    <table class="dates"
                                                           data-prototype="
                                                           <td>{{ form_widget(form.challengeDates.vars.prototype.children.startDate)|e }}</td>
                                                           <td>{{ form_widget(form.challengeDates.vars.prototype.children.endDate)|e }}</td>
                                                           <td><a class='btn btn-sm btn-danger delete-line' href='#'><i class='fa fa-trash'></i></a></td>
                                                           "
                                                           data-widget-tags="{{ '<tr></tr>'|e }}"
                                                           data-widget-counter="{{ form.challengeDates |length }}"
                                                    >

                                                        <tbody>
                                                        <tr>
                                                            <td>Début de tranche</td>
                                                            <td>Fin de tranche</td>
                                                        </tr>
                                                        {% for formDate in form.challengeDates %}
                                                            <tr>
                                                                <td>{{ form_widget(formDate.startDate) }}</td>
                                                                <td>{{ form_widget(formDate.endDate) }}</td>
                                                                <td><a class='btn btn-sm btn-danger delete-line'
                                                                       href='#'><i
                                                                                class='fa fa-trash'></i></a></td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="form-group">
                                                    <label>Prix du challenge</label>

                                                    <button type="button"
                                                            class="add-prize btn btn-success btn-xs float-right">Ajouter
                                                        un
                                                        prix
                                                    </button>
                                                    <table class="prizes"
                                                           data-prototype="
        <td>{{ form_widget(form.challengePrizes.vars.prototype.children.label)|e }}</td>
        <td>{{ form_widget(form.challengePrizes.vars.prototype.children.value)|e }}</td>
        <td><a class='btn btn-sm btn-danger delete-line' href='#'><i class='fa fa-trash'></i></a></td>
        "
                                                           data-widget-tags="{{ '<tr></tr>'|e }}"
                                                           data-widget-counter="{{ form.challengePrizes |length }}"
                                                    >

                                                        <tbody>
                                                        <tr>
                                                            <td>Libellé</td>
                                                            <td>Valeur (€)</td>
                                                        </tr>
                                                        {% for formDate in form.challengePrizes %}
                                                            <tr>
                                                                <td>{{ form_widget(formDate.label) }}</td>
                                                                <td>{{ form_widget(formDate.value) }}</td>
                                                                <td><a class='btn btn-sm btn-danger delete-line'
                                                                       href='#'><i
                                                                                class='fa fa-trash'></i></a></td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <button class="btn btn-info">{{ 'Save'|trans }}</button>
                                        <a class="btn btn-default confirm-action"
                                           title="Vous allez perdre toutes les informations non enregistrées"
                                           href="{{ path('challenge_admin_index') }}">{{ "back to list"|trans }}</a>

                                    </div>
                                    <div class="tab-pane fade" id="rules" role="tabpanel"
                                         aria-labelledby="custom-tabs-three-home-tab">
                                        {% set type = null %}
                                        {% for rule_form in form.rules %}
                                            {{ form_row(rule_form) }}
                                        {% endfor %}
                                        <button class="btn btn-info">{{ 'Save'|trans }}</button>
                                        <a class="btn btn-default confirm-action"
                                           title="Vous allez perdre toutes les informations non enregistrées"
                                           href="{{ path('challenge_admin_index') }}">{{ "back to list"|trans }}</a>
                                    </div>
                                    {% endif %}


                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ form_end(form) }}
                            {% endif %}
                        </div>

                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bo_challenge') }}

{% endblock %}
