{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Challenges"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Challenges"|trans }} n° {{ challenge.title }} - {{ challenge.season.label }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-primary card-outline card-tabs">
                        <div class="card-header p-0 pt-1 border-bottom-0">

                            <form action="{{ url("add_participation",{id: challenge.id}) }}">
                                <select name="participations[]" multiple="multiple" class="select2">
                                    {% for player in availablePlayer %}
                                        <option value="{{ player.id }}">{{ player.username ~ " - " ~ player.fullname }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-info">Ajouter</button>
                            </form>
                            <table class="table mt-4">
                                <tr>
                                    <th>Prénom nom (pseudo)</th>
                                    <th>Date d'inscription</th>
                                    <td>Forcer ouverture</td>
                                    <td>Forcer fermeture</td>
                                    <th>Arbitre</th>
                                    <th>Etat</th>
                                </tr>
                                {% for participation in challenge.waitingParticipations %}
                                    <tr>
                                        <td>{{ participation.user.fullNameUsername }}</td>
                                        <td>{{ participation.createdAt.format("d/m/Y H:i") }}</td>

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a class="ajax-link"
                                               data-replace="self"
                                               data-toggle="tooltip"
                                               title="Changer d'état"
                                               href="{{ url('challenge_admin_toggle_participation',{id:participation.id}) }}">
                                                {{ participation.enabled ? "<i class='fas fa-check text-success'></i>" :  "<i class='fas fa-times text-danger'></i>" }}
                                            </a>
                                            {% if not app.user.babyProof %}
                                                <a class="ajax-link"
                                                   data-remove="closestTr"
                                                   data-toggle="tooltip"
                                                   title="Refuser/supprimer"
                                                   href="{{ url('challenge_admin_delete_participation',{id:participation.id}) }}">
                                                    <i class='fas fa-trash text-danger'></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for participation in challenge.validatedParticipations %}
                                    <tr>
                                        <td>{{ participation.user.fullNameUsername }}</td>
                                        <td>{{ participation.createdAt.format("d/m/Y H:i") }}</td>
                                        <td>
                                            <input
                                                    data-change-url="{{ url('change_arbitre',{id:participation.id}) }}"
                                                    type="datetime-local"
                                                    name="openChallenge"
                                                    value="{{ participation.openChallenge is not null ? participation.openChallenge.format("Y-m-d")~"T"~participation.openChallenge.format("H:i") : "" }}"/>
                                        </td>
                                        <td>
                                            <input
                                                    data-change-url="{{ url('change_arbitre',{id:participation.id}) }}"
                                                    type="datetime-local"
                                                    name="closeChallenge"
                                                    value="{{ participation.closeChallenge is not null ? participation.closeChallenge.format("Y-m-d")~"T"~participation.closeChallenge.format("H:i") : "" }}"/>
                                        </td>
                                        <td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <select name="arbitre" class="arbitre form-control"
                                                        data-change-url="{{ url('change_arbitre',{id:participation.id}) }}">
                                                    <option value="">-- non défini --</option>
                                                    {% for arbitre in  arbitres %}
                                                        <option {% if participation.arbitre is not null and arbitre.id == participation.arbitre.id %}selected="selected"{% endif %}
                                                                value="{{ arbitre.id }}">{{ arbitre.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="ajax-link"
                                               data-replace="self"
                                               data-toggle="tooltip"
                                               title="Changer d'état"
                                               href="{{ url('challenge_admin_toggle_participation',{id:participation.id}) }}">
                                                {{ participation.enabled ? "<i class='fas fa-check text-success'></i>" :  "<i class='fas fa-times text-danger'></i>" }}
                                            </a>
                                            <a class="ajax-link"
                                               data-remove="closestTr"
                                               data-toggle="tooltip"
                                               title="Refuser/supprimer"
                                               href="{{ url('challenge_admin_delete_participation',{id:participation.id}) }}">
                                                <i class='fas fa-trash text-danger'></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bo_challenge') }}

{% endblock %}